<article class="fl-post post-45398 page type-page status-publish hentry" id="fl-post-45398" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">

		<header class="fl-post-header">
		<h1 class="fl-post-title" itemprop="headline">Privacy Policy</h1>
			</header><!-- .fl-post-header -->
			<div class="fl-post-content clearfix" itemprop="text">
		<p><strong>This privacy notice discloses the privacy practices for jealousdevil.com. This privacy notice applies solely to information collected by this website. It will notify you of the following:</strong></p>
<p>– What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.<br>
– What choices are available to you regarding the use of your data.<br>
– The security procedures in place to protect the misuse of your information.<br>
– How you can correct any inaccuracies in the information.</p>
<p><strong>Information Collection, Use, and Sharing</strong><br>
We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>
<p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.</p>
<p>We may contact you via email in the future to offer an opportunity to opt-in for email notifications about brand happenings, and/or changes to this privacy policy.</p>
<p><strong>Your Access to and Control Over Information</strong><br>
You may opt out of any future contact from us at any time, request information on the data we currently have stored for you, request we delete that data, or contact us with any other related questions. You can do the following at any time by contacting us via email (customerservice@jealousdevil.com) or phone (661-532-8767).</p>
<p><strong>Orders</strong><br>
We request information from you on our order form. To buy from us, you must provide contact information (like name and shipping address) and financial information such as credit card numbers. This information is used for billing purposes and to fill your orders. If we have trouble processing an order, we’ll use this information to contact you.</p>
<p><strong>Cookies</strong><br>
We use “cookies” on this site. A cookie is a piece of data stored on a site visitor’s hard drive to help us improve your access to our site and identify repeat visitors to our site. For instance, when we use a cookie to identify you, you would not have to log in a password more than once, thereby saving time while on our site. Cookies can also enable us to track and target the interests of our users to enhance the experience on our site. Usage of a cookie is in no way linked to any personally identifiable information on our site.</p>
<p><strong>Sharing</strong><br>
We use third parties to fulfill orders and bill users for goods and services. These parties do not retain, share, store or use personally identifiable information for any secondary purposes beyond those necessary to fulfill orders and process payments. These parties are not allowed to use personally identifiable information except for the purpose of providing these services.</p>
<p><strong>Security</strong><br>
We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</p>
<p>Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for “https” at the beginning of the address of the Web page.</p>
<p>While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</p>
<p>If you feel that we are not abiding by this privacy policy, or have any questions that pertain to it, you should contact us immediately via telephone at 661-532-8767 or via email.</p>
	</div><!-- .fl-post-content -->
	
</article>