<body onload="docIsLoaded = true;" class="is-sticky"><div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; width: 0px; height: 0px;"><div><iframe name="fb_xdm_frame_https" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://staticxx.facebook.com/connect/xd_arbiter.php?version=45#channel=f3f4dcd0c711ac4&amp;origin=http%3A%2F%2Fwww.chip.de" style="border: none;"></iframe></div><div></div></div></div><div id="cxo-FB_loaded" style="display:hidden"></div>

<script>
    (function(window){
        var host, port, offset, base, storage, storageKey, cookieArray, cookieCount, cookieKey, cookieValue;

        storageKey = 'cxodev';

        if (window.localStorage) {

            storage = JSON.parse(unescape(window.localStorage.getItem(storageKey)));
        } else {

            cookieArray = document.cookie.split(";");
            for (cookieCount=0; cookieCount<cookieArray.length; cookieCount++){

                cookieKey = (cookieArray[cookieCount].split('=')[0]).replace(/^\s+|\s+$/g,"");

                if (storageKey === cookieKey) {

                    storage = JSON.parse(unescape(cookieArray[cookieCount].split('=')[1]));
                    break;
                }
            }
        }

        if (storage && storage.use) {
            storage = storage.settings[storage.use];

            storage.use = true;

            if(storage.styleElmt && storage.styleElmtValue){
                document.body.style[storage.styleElmt] = storage.styleElmtValue;
            }

            storage.bak = window.storage;
            window.storage = storage;

            if (storage.host.indexOf("chip.de", this.length - "chip.de".length) === -1
                    && storage.host.indexOf("cxo.name", this.length - "cxo.name".length) === -1
                    && storage.host.indexOf("vagrantshare.com", this.length - "vagrantshare.com".length) === -1
                    && storage.host.indexOf("localhost", 0) === -1) {
                return;
            }

            host = storage.host;
            port = storage.port || '80';
            offset = storage.offset || '/';
            base = storage.base = 'http://'+host+':'+port+offset;

            document.write('<script src="'+base+'/dev_tracking_js_csi.js"><'+'/script>');
        }
    })(this);
</script>

<!-- prod mode -->
<script>
    if (window.storage && window.storage.use) {
        document.write('<noscript>');
    }
</script>

<!-- SZM initial-->
<script>
(function(){
    function loadScript(src, callback)
    {
      var s,
          r,
          t;
      r = false;
      s = document.createElement('script');
      s.type = 'text/javascript';
      s.src = src;
      s.onload = s.onreadystatechange = function() {
        //console.log( this.readyState ); //uncomment this line to see which ready states are called.
        if ( !r && (!this.readyState || this.readyState == 'complete') )
        {
          r = true;
          callback();
        }
      };
      t = document.getElementsByTagName('script')[0];
      t.parentNode.insertBefore(s, t);
    }

    function getParameterByName(name, location) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    if(getParameterByName('dlredirect', window.location) === "") {
        loadScript('//script.ioam.de/iam.js', function(){
            var cp = chip_currpage_json.szmkat;

            if (chip_currpage_json.autoplay === "true" || chip_currpage_json.bart_name=="CXO_Videos") {
              cp = "video_"+chip_currpage_json.tree_nav_name[1];
            }
            if (chip_currpage_json.beitrags_id == '38706161') {
                cp = 'playground_nav';
            }
            var iam_data = {
                "st": document.documentElement.clientWidth < 660 ? "mobchip" : "chip", // site/domain "cp":"seitencode", // code
                "cp": cp,
                "sv": chip_currpage_json.layout_name === "c1_homepage" ? "ke" : "i2"  // Es wird keine Befragungseinladung ausgeliefert. "co":"kommentar" // comment
            };
            iom.c(iam_data,2);
        });
    }
})();
</script>
<!-- /SZM -->

<script type="text/javascript" src="//a.bf-ad.net/makabo/ads_fol_init.js"></script>
<script type="text/javascript" src="//www.chip.de/fec/www.chip.de/4.0.6/component/requirejs/require.js"></script>
<script type="text/javascript" src="//www.chip.de/fec/www.chip.de/4.0.6/config/require.js?20190708"></script>
<script type="text/javascript" src="//www.chip.de/fec/www.chip.de/4.0.6/hook-tracking.js?20190708"></script>

<!-- /prod mode -->

<noscript>
    <a href="http://www.omniture.com" title="Web Analytics" rel="nofollow"><img src="http://omniture.chip.de/b/ss/cxochipde-prod/1/H.26.--NS/0?pageName=nojavascript" height="1" width="1" border="0" alt="" /></a>
</noscript>
<style type="text/css">
.cxo_tracking {
  position: absolute; 
  top: -100px;
}
</style><div class="cxo_tracking">
<script type="text/javascript" language="JavaScript">
// <![CDATA[
var r2sz=screen.width+'x'+screen.height+'x'+screen.colorDepth;
var con=0;
if (navigator.cookieEnabled) con=1;
var random=Math.random();
var img_tag = "<img id='rholive_476664395' src='https://r.chip.de/images/pic.gif?m=c1&amp;nc=0&amp;sep=%2C&amp;tce=1&amp;c=13390793&amp;b=638&amp;l=3111&amp;tid=1&amp;tp=&amp;tn=keine+tid+angegeben&amp;tpn=&amp;tc=1&amp;con="+con+"&amp;tit=Fehlerseiten%3A+404+Fehlerseite+-+Seite+existiert+nicht+%28mehr%29&amp;url=http%3A%2F%2Fwww.chip.de%2Fprivacy-policy&amp;json=0&amp;random="+Math.random()+"&amp;r="+escape(document.referrer)+"&amp;sz="+r2sz+"&amp;cs=1' width='1' height='1' alt='' />";
document.write( img_tag );
// ]]>
</script><img id="rholive_476664395" src="https://r.chip.de/images/pic.gif?m=c1&amp;nc=0&amp;sep=%2C&amp;tce=1&amp;c=13390793&amp;b=638&amp;l=3111&amp;tid=1&amp;tp=&amp;tn=keine+tid+angegeben&amp;tpn=&amp;tc=1&amp;con=1&amp;tit=Fehlerseiten%3A+404+Fehlerseite+-+Seite+existiert+nicht+%28mehr%29&amp;url=http%3A%2F%2Fwww.chip.de%2Fprivacy-policy&amp;json=0&amp;random=0.9598925368624012&amp;r=&amp;sz=1920x1080x24&amp;cs=1" width="1" height="1" alt="">
<noscript>
<img id='rholive_476664395_noscript' src='https://r.chip.de/images/pic.gif?m=c1&amp;c=13390793&amp;sep=%2C&amp;tce=1&amp;b=638&amp;l=3111&amp;tid=1&amp;tp=&amp;tn=keine+tid+angegeben&amp;tpn=&amp;tc=1&amp;con="+con+"&amp;tit=Fehlerseiten%3A+404+Fehlerseite+-+Seite+existiert+nicht+%28mehr%29&amp;url=http%3A%2F%2Fwww.chip.de%2Fprivacy-policy&amp;json=0&amp;random=476664395&amp;r=&amp;cs=1' width='1' height='1' alt='' />
</noscript>
</div>

  
    <svg width="0" height="0" style="position:absolute"><defs><svg viewBox="0 0 800 800" id="icon-arrow" xmlns="http://www.w3.org/2000/svg"><path d="M0 257.073c0-8.768 3.148-16.3 9.416-22.607l82.386-81.868c6.283-6.283 13.72-9.418 22.337-9.418 8.617 0 16.065 3.135 22.35 9.418l263.517 263.52 263.53-263.52c6.27-6.283 13.733-9.418 22.34-9.418 8.603 0 16.038 3.135 22.335 9.417l82.396 81.87c6.24 6.28 9.393 13.812 9.393 22.606 0 8.78-3.15 16.31-9.392 22.594l-368.24 367.736c-6.294 6.273-13.747 9.418-22.365 9.418-8.62 0-16.063-3.145-22.348-9.417L9.415 279.667C3.148 273.385 0 265.854 0 257.073z"></path></svg><svg viewBox="0 0 800 800" id="icon-checkmark" xmlns="http://www.w3.org/2000/svg"><path d="M0 399.986c0-13.747 4.813-25.432 14.453-35.07l70.2-70.215c9.64-9.624 21.34-14.45 35.1-14.45 13.745 0 25.446 4.826 35.086 14.45l151.744 152.253 338.59-339.084c9.626-9.626 21.34-14.453 35.06-14.453 13.774 0 25.46 4.827 35.116 14.452l70.2 70.213c9.624 9.64 14.45 21.325 14.45 35.086 0 13.76-4.826 25.46-14.45 35.084L341.666 692.13c-9.64 9.654-21.325 14.453-35.086 14.453-13.762 0-25.46-4.8-35.085-14.453L14.452 435.1C4.812 425.447 0 413.762 0 399.986z"></path></svg><svg viewBox="0 0 800 800" id="icon-con" xmlns="http://www.w3.org/2000/svg"><path d="M400 0C179.086 0 0 179.086 0 400s179.086 400 400 400 400-179.086 400-400S620.914 0 400 0zm233.472 434.253c0 7.788-3.1 15.552-9.325 23.364-6.227 6.2-14.038 9.326-23.364 9.326H200.77c-9.316 0-17.14-3.125-23.342-9.326-6.25-6.25-9.375-14.038-9.375-23.364v-66.93c0-9.376 3.125-17.153 9.375-23.377 6.2-6.225 14-9.35 23.34-9.35h400.013c9.327 0 17.138 3.125 23.364 9.35 6.227 6.225 9.326 14 9.326 23.376l.002 66.93z"></path></svg><svg viewBox="0 0 800 800" id="icon-cross" xmlns="http://www.w3.org/2000/svg"><path d="M792.68 642.685L549.99 399.998l242.688-242.69a25.127 25.127 0 0 0 5.737-8.922c3.32-8.898 1.415-19.273-5.737-26.428L678.036 7.31c-7.153-7.152-17.553-9.02-26.442-5.724a24.964 24.964 0 0 0-8.91 5.7L399.996 249.978 157.305 7.288a24.914 24.914 0 0 0-8.922-5.7c-8.898-3.32-19.273-1.428-26.428 5.723L7.31 121.957c-7.15 7.153-9.02 17.553-5.723 26.427 1.22 3.247 3.1 6.3 5.725 8.922L250 399.996 7.31 642.686a25.397 25.397 0 0 0-5.726 8.91c-3.32 8.888-1.428 19.29 5.725 26.44l114.643 114.646c7.153 7.15 17.554 9.01 26.428 5.737a25.167 25.167 0 0 0 8.923-5.738L399.996 549.99l242.69 242.688a25.205 25.205 0 0 0 8.91 5.737c8.91 3.32 19.29 1.415 26.44-5.737L792.68 678.034c7.152-7.15 9.06-17.552 5.737-26.44a25.255 25.255 0 0 0-5.737-8.91z"></path></svg><svg viewBox="0 0 800 800" id="icon-mail" xmlns="http://www.w3.org/2000/svg"><path d="M26.38 190.5c21.7 11.69 322.167 173.054 333.397 179.05 11.164 6.008 25.635 8.896 40.216 8.896 14.594 0 29.104-2.89 40.28-8.952 11.203-5.995 311.628-167.383 333.33-179.05 21.728-11.635 42.288-48.228 2.386-48.228H24.045c-39.863 0-19.382 36.594 2.36 48.284h-.026zm756.42 88.895c-24.685 12.887-327.418 171.168-342.526 179.037-15.108 7.92-25.63 8.95-40.28 8.95-14.58 0-25.104-1.03-40.215-8.95-15.125-7.922-317.923-166.204-342.527-179.036C-.137 270.336 0 280.94 0 289.104v326.01c0 18.66 24.836 42.67 44.08 42.67h711.87c19.26 0 44.052-24.005 44.052-42.614V289.163c0-8.225.16-18.828-17.2-9.768z"></path></svg><svg viewBox="0 0 800 800" id="icon-pro" xmlns="http://www.w3.org/2000/svg"><path d="M400 0C179.086 0 0 179.086 0 400s179.086 400 400 400 400-179.086 400-400S620.914 0 400 0zm233.41 433.25c0 9.033-3.345 16.918-9.813 23.438-6.593 6.64-14.404 9.91-23.438 9.91H466.843V600.01c0 9.013-3.272 16.825-9.885 23.465-6.644 6.615-14.434 9.888-23.464 9.888h-66.72c-9.022 0-16.82-3.274-23.448-9.888-6.63-6.64-9.9-14.452-9.9-23.465V466.697H200.11c-9.02 0-16.82-3.272-23.45-9.912-6.627-6.617-9.897-14.407-9.897-23.438v-66.72c0-9.022 3.27-16.82 9.897-23.448 6.63-6.63 14.43-9.9 23.45-9.9h133.216V199.964c0-9.02 3.272-16.822 9.9-23.45s14.428-9.898 23.448-9.898h66.723c9.007 0 16.817 3.27 23.46 9.897 6.615 6.63 9.886 14.43 9.886 23.45v133.315H600.06c9.03 0 16.823 3.273 23.437 9.9 6.64 6.63 9.913 14.43 9.913 23.45v66.622z"></path></svg><svg viewBox="0 0 800 800" id="icon-share" xmlns="http://www.w3.org/2000/svg"><path d="M675.864 553.774c-33.9 0-64.6 13.707-86.862 35.877l-343.09-171.53c.87-5.906 1.336-11.945 1.336-18.094s-.465-12.188-1.335-18.096l343.124-171.547c22.262 22.15 52.943 35.842 86.827 35.842 67.994 0 123.112-55.12 123.112-123.113C798.98 55.12 743.858 0 675.864 0S552.752 55.12 552.752 123.113c0 5.818.434 11.532 1.213 17.135L210.258 312.084c-22.2-21.747-52.588-35.17-86.12-35.17-67.995 0-123.114 55.12-123.114 123.112 0 67.997 55.12 123.113 123.113 123.113 33.533 0 63.92-13.425 86.122-35.172L553.96 659.8c-.776 5.59-1.208 11.286-1.208 17.087 0 67.996 55.12 123.113 123.112 123.113 67.994 0 123.112-55.117 123.112-123.113.003-67.99-55.118-123.113-123.112-123.113z"></path></svg><svg viewBox="0 0 800 800" id="social-whatsapp" xmlns="http://www.w3.org/2000/svg"><path d="M597.513 487.968c6.635 3.32 11.614 16.6-1.66 51.45-9.96 26.56-54.773 48.137-81.328 48.137-159.338 0-313.693-187.555-313.693-277.182 0-43.153 14.938-64.73 29.875-79.668 13.278-14.938 23.236-16.598 29.876-16.598H280.5c6.64 0 14.938 0 21.577 16.598l31.534 73.03c8.3 18.257-14.937 41.494-24.895 51.452-4.98 4.98-9.96 11.618-3.32 21.576 41.494 64.73 68.05 84.647 134.438 117.844 9.96 4.98 16.6 1.66 21.578-3.32l31.537-39.835c8.3-9.96 14.938-6.64 21.577-3.32l82.99 39.836zM401.66 66.392c-182.573 0-330.29 149.377-330.29 330.29 0 112.864 58.09 187.553 58.09 187.553l-33.194 122.82 126.142-33.194s69.71 53.112 179.253 53.112c182.573 0 330.292-147.72 330.292-330.293 0-184.232-147.72-330.288-330.292-330.288zm0-66.392c220.744 0 396.68 179.253 396.68 396.68 0 219.087-179.254 396.68-396.68 396.68-111.204 0-189.212-48.13-189.212-48.13L1.66 800l56.432-205.808S4.98 512.865 4.98 396.68C4.98 179.252 184.23 0 401.66 0z"></path></svg></defs></svg><!-- esi header --><!-- Header - Type: default / Route: www.chip.de / Version: 2.2.4 //-->

<!-- Wenn du das hier liest, liebst du Herausforderungen und wir hÃ¤tten spannende Aufgaben fÃ¼r Dich. Helfe uns das Produkt CHIP.de und weitere digitale Produkte fÃ¼r unsere Kunden zu optimieren.
Interesse geweckt? Sag einfach "Hallo" unter: bewerbung{at}burda.com oder schaue unter http://jobs.chip.de/
-->

<style>
        .is-hidden{display:none}.amp-footer,.amp-footer *,.amp-header,.amp-header *,.amp-navigation,.amp-navigation *,.Footer,.Footer *,.Header,.Header *{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;box-sizing:border-box}.amp-footer:after,.amp-footer :after,.amp-footer:before,.amp-footer :before,.amp-header:after,.amp-header :after,.amp-header:before,.amp-header :before,.amp-navigation:after,.amp-navigation :after,.amp-navigation:before,.amp-navigation :before,.Footer:after,.Footer :after,.Footer:before,.Footer :before,.Header:after,.Header :after,.Header:before,.Header :before{box-sizing:inherit}.amp-footer svg,.amp-header svg,.amp-navigation svg,.Footer svg,.Header svg{fill:currentColor}.amp-footer a,.amp-footer li,.amp-header a,.amp-header li,.amp-navigation a,.amp-navigation li,.Footer a,.Footer li,.Header a,.Header li{text-decoration:none}.amp-footer a:active,.amp-footer a:focus,.amp-footer li:active,.amp-footer li:focus,.amp-header a:active,.amp-header a:focus,.amp-header li:active,.amp-header li:focus,.amp-navigation a:active,.amp-navigation a:focus,.amp-navigation li:active,.amp-navigation li:focus,.Footer a:active,.Footer a:focus,.Footer li:active,.Footer li:focus,.Header a:active,.Header a:focus,.Header li:active,.Header li:focus{border:none;outline:none}.amp-footer input,.amp-header input,.amp-navigation input,.Footer input,.Header input{-webkit-appearance:none;-moz-appearance:none;appearance:none}.amp-footer ul,.amp-header ul,.amp-navigation ul,.Footer ul,.Header ul{margin:0;padding:0;list-style-type:none}
        
        .Header__Button{border-radius:.1875rem;color:#fff;display:inline-block;font-size:0;padding:0;width:3rem;height:3rem;position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);z-index:2002;background:transparent}.Header__Button,.Header__Button:active,.Header__Button:focus{outline:none;border:none}.Header__Button::-moz-focus-inner{outline:none;border:none}.Header__Button svg{height:1.3125rem;width:1.3125rem}.Header__Button:hover{background-color:#d43d39}.Header__Button--ToggleNavigation{left:.5rem}.Header__Button--ToggleNavigation.is-active{font-weight:700}.Header__Button--ToggleNavigation.is-active svg{display:none}.Header__Button--ToggleNavigation.is-active:before{content:"\2715";font-size:1.3125rem;line-height:1.3125rem;width:1.3125rem;display:inline-block}.Header__Button--Social{margin-left:.25rem}.Header__Button--Social svg{width:.75rem;height:.75rem;margin:.375rem}.sr-only{position:absolute;width:1px;height:1px;overflow:hidden;clip:rect(1px,1px,1px,1px);-webkit-clip-path:polygon(0 0,0 0,0 0,0 0);clip-path:polygon(0 0,0 0,0 0,0 0)}.Navigation--Header{position:relative;z-index:2003}.Navigation--Header a{color:#20292a;display:block;overflow:hidden;position:relative;text-overflow:ellipsis;-webkit-transition:background .2s ease-out;transition:background .2s ease-out;white-space:nowrap}.Navigation--Header a em{color:#b3b3b3;font-size:.75em;text-transform:uppercase;font-style:normal;line-height:1;letter-spacing:.1em;position:absolute;top:.25rem}.Navigation--Header>ul li a{font-size:.75rem}.Navigation--Header>ul>li>a,.Navigation--Header>ul>li>span{text-transform:uppercase}@-webkit-keyframes ticker{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);visibility:visible}to{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}}@keyframes ticker{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);visibility:visible}to{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}}.Ticker{font-family:Helvetica Neue,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;box-sizing:content-box!important;width:100%;position:relative}.Ticker *,.Ticker :after,.Ticker :before{box-sizing:inherit}.Ticker--Aligned{max-width:62.5rem;width:auto;margin:0 auto}.Ticker--Decorated:after,.Ticker--Decorated:before{content:"";display:block;width:calc(50% - 62.5rem / 2);height:1.875rem;position:absolute;top:0}.Ticker--Decorated:before{left:0;background:-webkit-linear-gradient(right,#20292a,#f0f0f0);background:linear-gradient(270deg,#20292a,#f0f0f0)}.Ticker--Decorated:after{right:0;background:-webkit-linear-gradient(left,#ffc847,#f0f0f0);background:linear-gradient(90deg,#ffc847,#f0f0f0)}.Ticker__Header{height:1.875rem;background-color:#20292a;float:left;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;z-index:2}.Ticker__Header>*{font-weight:400;font-size:.875rem;color:#fff;text-transform:uppercase;padding-left:.625rem;margin:0}@media screen and (min-width:62.5em){.Ticker__Header>*{padding-left:0}}.Ticker__Header--Triangle:after{content:"";position:absolute;top:0;left:100%;border:.9375rem solid transparent;border-left-color:#20292a}.Ticker__Content{height:1.875rem;line-height:1.875rem;color:#20292a;background-color:#ffc847;overflow:hidden;position:relative;z-index:1}.Ticker__Wrapper{width:100%;padding-left:100%}.Ticker__News{display:inline-block;white-space:nowrap;padding-right:100%;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-name:ticker;animation-name:ticker;-webkit-animation-duration:15s;animation-duration:15s;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content}.Ticker__News:hover{-webkit-animation-play-state:paused;animation-play-state:paused}.Ticker__Item{display:inline-block}.Ticker__Item>*{font-weight:400;font-size:.875rem;display:inline;margin:0}.Ticker__Item:after{content:" +++ "}.Ticker__Item:first-child:before{content:"+++ "}a.Ticker__Anchor{font-weight:400;font-size:.875rem;color:#20292a;letter-spacing:.045em;text-decoration:none}a.Ticker__Anchor:active,a.Ticker__Anchor:focus,a.Ticker__Anchor:hover{color:#20292a;font-weight:600;letter-spacing:0}body.is-locked{overflow:hidden;position:-webkit-sticky;position:sticky}.Header{width:100%;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;z-index:2001;line-height:1}.Header--Sticky{-webkit-transition:box-shadow .5s,-webkit-transform .25s ease-out;transition:box-shadow .5s,-webkit-transform .25s ease-out;transition:transform .25s ease-out,box-shadow .5s;transition:transform .25s ease-out,box-shadow .5s,-webkit-transform .25s ease-out;-webkit-transform:translate(0,0);transform:translate(0,0)}.Header--Sticky,.Header__Overlay{position:fixed;left:0;top:0;right:0}.Header__Overlay{bottom:0;display:none;background-color:rgba(32,41,42,.5);z-index:2000}.Header__Overlay.is-active{display:block}@media screen and (min-width:62.5em){.Header__Overlay.is-active{display:none}}.Header{font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:500;height:3.875rem;font-size:0}.Header--Elevated .Header__Container:before{box-shadow:0 .0625rem .5rem 0 rgba(0,0,0,.2),0 .1875rem .25rem 0 rgba(0,0,0,.14),0 .1875rem .1875rem -.125rem rgba(0,0,0,.12);content:"";width:100%;height:3.875rem;position:absolute;top:0;left:0;z-index:2002}.Header--Elevated .Header__Container:before,.Header__Container{background:#eb443f;display:-webkit-box;display:-ms-flexbox;display:flex}.Header__Container{width:62.5rem;margin:0 auto}.Header__Container>div{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-ms-flex:1;flex:1;-webkit-box-align:center;-ms-flex-align:center;align-items:center}@media screen and (min-width:41.25em){.Header__Container>div{text-align:left}}@media screen and (min-width:62.5em){.Header__Container>div{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}}.Header a.Header__Logo{color:#eb443f;position:relative;z-index:2004;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}@media screen and (max-width:41.249375em){.Header a.Header__Logo{padding:.75rem;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}}@media screen and (min-width:41.25em) and (max-width:62.499375em){.Header a.Header__Logo{margin:0 .5rem}}@media screen and (min-width:41.25em){.Header a.Header__Logo:hover{color:#d43d39}}.Header__LogoIcon{height:1.625rem;width:5.0625rem}.Header--Sticky.js-is-hidden .Header__Container:before{box-shadow:none;border-bottom:none}.Header--Sticky.js-is-hidden{-webkit-transform:translate(0,-100%);transform:translate(0,-100%)}.Header--Sticky.is-dropdown-open{position:absolute;-webkit-transition:none;transition:none}body.is-sticky{padding-top:3.875rem}.Navigation--Header{display:-webkit-box;display:-ms-flexbox;display:flex}@media screen and (max-width:41.249375em){.Navigation--Header{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;background:#fff;height:calc(100vh - 60px);overflow-y:auto;position:absolute;text-align:left;top:100%;-webkit-transform:translate(-100%,0);transform:translate(-100%,0);-webkit-transition:-webkit-transform .25s ease-out;transition:-webkit-transform .25s ease-out;transition:transform .25s ease-out;transition:transform .25s ease-out,-webkit-transform .25s ease-out;width:75vw;z-index:2001}}@media screen and (min-width:41.25em){.Navigation--Header{-webkit-box-align:center;-ms-flex-align:center;align-items:center}}@media screen and (min-width:41.25em){.Navigation--Header a em{display:block;padding-bottom:.25rem;position:relative}}@media screen and (max-width:41.249375em){.Navigation--Header>ul{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1}}@media screen and (min-width:41.25em){.Navigation--Header>ul li a{line-height:1.5}}@media screen and (max-width:41.249375em){.Navigation--Header.is-visible{box-shadow:0 .0625rem .3125rem 0 rgba(0,0,0,.2),0 .125rem .125rem 0 rgba(0,0,0,.14),0 .1875rem .0625rem -.125rem rgba(0,0,0,.12);-webkit-transform:translate(0,0);transform:translate(0,0)}.Navigation--Header ul li>*{padding-right:1.375rem;padding-left:1.375rem;background-color:transparent;border:0 none;font-size:.75rem;font-weight:500;line-height:3rem;overflow:hidden;position:relative;text-overflow:ellipsis;white-space:nowrap;text-transform:uppercase;margin:0}.Navigation--Header .is-hidden-small{display:none}.Navigation--Header ul:not(.Navigation__Submenu--More){width:100%}.Navigation--Header .Navigation__Submenu--More{padding:0}.Navigation--Header .Navigation__Link--HasSubmenu{overflow:hidden;position:relative}.Navigation--Header .Navigation__Link--HasSubmenu.Level_1>*{cursor:pointer}.Navigation--Header .Navigation__Link--HasSubmenu.Level_1>:not(ul):after{right:1.375rem;border-bottom:.375rem solid transparent;border-left:.375rem solid #20292a;border-top:.375rem solid transparent;content:"";position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.Navigation--Header .Navigation__Link--HasSubmenu.Level_1.expanded>*{box-shadow:0 .0625rem .5rem 0 rgba(0,0,0,.2),0 .1875rem .25rem 0 rgba(0,0,0,.14),0 .1875rem .1875rem -.125rem rgba(0,0,0,.12);z-index:2}.Navigation--Header .Navigation__Link--HasSubmenu.Level_1.expanded>:not(ul):after{border-left:.375rem solid transparent;border-top:.375rem solid #20292a;border-right:.375rem solid transparent}.Navigation--Header .Navigation__Link--HasSubmenu.Level_1.expanded ul{z-index:1;background-color:#f0f0f0}}@media screen and (min-width:41.25em){.Navigation--Header>ul>li{border-radius:.1875rem;display:inline-block;-webkit-transition:background .2s ease-out;transition:background .2s ease-out;vertical-align:top;white-space:nowrap}.Navigation--Header>ul>li.is-active:not(.Navigation__More),.Navigation--Header>ul>li:hover:not(.Navigation__More){background:#d43d39}.Navigation--Header>ul>li>a,.Navigation--Header>ul>li>span{color:#fff;cursor:pointer;line-height:1em;padding:.75rem .5rem}.Navigation--Header li:not(.Navigation__More)>ul li.Navigation__Link--HasSubmenu>a{padding-right:1rem}.Navigation--Header li:not(.Navigation__More)>ul li.Navigation__Link--HasSubmenu>a:after{border-top:.25rem solid transparent;border-bottom:.25rem solid transparent;border-left:.25rem solid #20292a;content:"";margin:.3125rem -.3125rem 0 .375rem;position:absolute;right:.625rem}.Navigation--Header .is-hidden-large{display:none!important}}.Navigation--Header .is-hidden{display:none!important}@media print{.Navigation--Header{display:none}}@media screen and (max-width:41.249375em){ul.Navigation__Submenu{overflow-y:auto;padding-right:1.375rem;padding-left:1.375rem;background-color:#f0f0f0}.Navigation__Submenu--Level2{top:0}.Navigation__Submenu.is-visible{-webkit-transform:translate(0,0);transform:translate(0,0)}}@media screen and (min-width:41.25em){.Navigation__Submenu{background:#fff;box-shadow:0 .0625rem .5rem 0 rgba(0,0,0,.2),0 .1875rem .25rem 0 rgba(0,0,0,.14),0 .1875rem .1875rem -.125rem rgba(0,0,0,.12);display:none;padding:.5rem 0!important;position:absolute;min-width:8.75rem}.Navigation__Submenu a{border-radius:.1875rem;margin:0 .5rem;padding:.375rem .625rem}li.is-active>.Navigation__Submenu,li:hover>.Navigation__Submenu{display:block;margin-left:-.625rem}.Navigation__Submenu>li.is-active>a,.Navigation__Submenu>li.is-hover>a,.Navigation__Submenu a:hover{background:#f0f0f0}.Navigation__Submenu--Level2{top:auto;left:100%;margin-left:-.625rem!important;margin-top:-2.375rem!important;box-shadow:0 .1875rem .3125rem -.0625rem rgba(0,0,0,.2),0 .3125rem .5rem 0 rgba(0,0,0,.14),0 .0625rem .875rem 0 rgba(0,0,0,.12)}}.Navigation__SubmenuHeadline{border-bottom:.0625rem solid #dfdfdf;margin-bottom:.3125rem;padding-bottom:.3125rem}@media screen and (min-width:41.25em){.Navigation__SubmenuHeadline{display:none}}.Navigation__SubmenuHeadline a:before{border-bottom:.375rem solid transparent;border-right:.375rem solid #20292a;border-top:.375rem solid transparent;content:"";position:absolute;left:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.Navigation__More{border:none}@media screen and (min-width:62.5em){.Navigation__More{margin-right:0!important}}.Navigation__More>span{display:none}.Navigation__More .Navigation__Submenu--More{padding-left:0}@media screen and (min-width:41.25em) and (max-width:62.499375em){.Navigation__More>span{display:inline-block;font-size:.75rem}.Navigation__More>ul{display:none}.Navigation__More:hover>ul,.Navigation__More>ul:hover{display:block;position:absolute}.Navigation__More:hover>ul>.Navigation__Submenu,.Navigation__More>ul:hover>.Navigation__Submenu{display:none}.Navigation__More:hover>ul a,.Navigation__More>ul:hover a{background:#fff}.Navigation__More:hover>ul a:hover,.Navigation__More>ul:hover a:hover{background:#f0f0f0}.Navigation--Header .Navigation__More .Navigation__Submenu--More{background:#fff;box-shadow:0 .125rem .25rem -.0625rem rgba(0,0,0,.2),0 .25rem .3125rem 0 rgba(0,0,0,.14),0 .0625rem .625rem 0 rgba(0,0,0,.12);padding:.5rem 0;position:absolute}.Navigation--Header .Navigation__More .Navigation__Submenu--More>li{background-color:transparent!important;border-radius:0}.Navigation--Header .Navigation__More .Navigation__Submenu--More a{border-radius:.1875rem;margin:0 .5rem;padding:.375rem .625rem}.Navigation--Header .Navigation__More .Navigation__Submenu--More a.is-active,.Navigation--Header .Navigation__More .Navigation__Submenu--More a:active,.Navigation--Header .Navigation__More .Navigation__Submenu--More a:hover{background:#f0f0f0}.Navigation--Header .Navigation__More .Navigation__Submenu--More .Navigation__Submenu{display:none!important}}@media screen and (min-width:62.5em){.Navigation__More>ul>li{border-radius:.1875rem;display:inline-block;-webkit-transition:background .2s ease-out;transition:background .2s ease-out;white-space:nowrap}.Navigation__More>ul>li.is-active,.Navigation__More>ul>li:hover{background:#d43d39}.Navigation__More>ul>li>a,.Navigation__More>ul>li>span{color:#fff;cursor:pointer;line-height:1em;padding:.75rem .5rem;text-transform:uppercase}.Navigation__More>ul li.is-active>.Navigation__Submenu,.Navigation__More>ul li:hover>.Navigation__Submenu{display:block}}.Search--Header{background:#f0f0f0;font-size:0;position:absolute;top:100%;-webkit-transform:translate(0,-100%);transform:translate(0,-100%);-webkit-transition:-webkit-transform .5s ease-out;transition:-webkit-transform .5s ease-out;transition:transform .5s ease-out;transition:transform .5s ease-out,-webkit-transform .5s ease-out;right:0;width:100%;z-index:2001}@media screen and (min-width:62.5em){.Search--Header{background:transparent;border-bottom:none;box-shadow:none;display:inline-block;float:right;position:relative;top:0;-webkit-transform:translate(0,0);transform:translate(0,0);-webkit-transition:-webkit-transform 0s;transition:-webkit-transform 0s;transition:transform 0s;transition:transform 0s,-webkit-transform 0s;width:15rem;z-index:2003}}.Search--Header.is-visible{-webkit-transform:translate(0,0);transform:translate(0,0);box-shadow:0 .0625rem .3125rem 0 rgba(0,0,0,.2),0 .125rem .125rem 0 rgba(0,0,0,.14),0 .1875rem .0625rem -.125rem rgba(0,0,0,.12)}@media screen and (min-width:62.5em){.Search--Header.is-visible{box-shadow:none}}.Search--Header form{padding-right:4.375rem;position:relative;margin:.5rem}@media screen and (min-width:62.5em){.Search--Header form{margin:0}}.Search--Header label{display:none}.Search--Header ::-webkit-input-placeholder{color:#b3b3b3;font-size:.875rem}.Search--Header ::-moz-placeholder{color:#b3b3b3;font-size:.875rem}.Search--Header :-ms-input-placeholder{color:#b3b3b3;font-size:.875rem}.Search--Header ::placeholder{color:#b3b3b3;font-size:.875rem}.Search__Input{background-color:#fff;border:none;border-radius:.1875rem 0 0 .1875rem;box-shadow:inset 0 .0625rem .0625rem .0625rem rgba(0,0,0,.2);display:inline-block;font-size:.875rem;font-family:inherit;height:3rem;outline:none;padding:0 .84375rem;-webkit-transition:border .2s ease-out;transition:border .2s ease-out;vertical-align:top;width:100%}@media screen and (min-width:62.5em){.Search__Input{padding:0 .5rem;height:2.25rem;width:10.625rem}}.Search__Input:focus{box-shadow:inset 0 .0625rem .0625rem .0625rem rgba(0,0,0,.3)}.Search__Button{background:#484848;border:none;border-radius:0 .1875rem .1875rem 0;color:#fff;cursor:pointer;display:inline-block;font-size:.75rem;font-weight:700;height:3rem;padding:0;position:absolute;outline:none;-webkit-transition:background .2s ease-out;transition:background .2s ease-out;width:4.375rem}@media screen and (min-width:62.5em){.Search__Button{height:2.25rem}}.Search__Button:hover{background:#20292a}@media screen and (min-width:41.25em){.Header__Button--ToggleNavigation{display:none}}.Header__Button--ToggleSearch{right:.5rem}@media screen and (min-width:62.5em){.Header__Button--ToggleSearch{display:none}}@media screen and (max-width:41.249375em){.Header__Button--Social{padding:0 .5rem;margin-left:0;box-sizing:content-box;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.Header__Button--Social a{color:#20292a;padding:0;font-size:0}}@media screen and (max-width:41.249375em){.Header__Button--Social svg{width:1.3125rem;height:1.3125rem;margin:.84375rem}}@media screen and (min-width:41.25em){.Header__Button--Social{display:none}}
            </style><svg xmlns="http://www.w3.org/2000/svg" style="display: none"><symbol id="chip-logo-invert" viewBox="0 0 81 26"><path d="M81 19V0H0v26h70v-7"></path><path fill="#fff" d="M56.244 21c0 1.104-.896 2-2 2H51c-1.104 0-2-.896-2-2V4c0-.55.447-1 1-1h1.877c.553 0 1 .45 1 1v7.05l3.367 3.37V21zm10.43 0c0 1.104-.897 2-2 2h-3.45c-1.104 0-2-.896-2-2V5c0-1.104.896-2 2-2H76c1.104 0 2 .896 2 2v8.435c0 1.104-.896 2-2 2h-8.327c-.553 0-1 .447-1 1V21zm-3.577-10.443c0 .552.447 1 1 1h9.018c.553 0 1-.448 1-1v-2.68c0-.55-.447-1-1-1h-9.018c-.553 0-1 .45-1 1v2.68zM41 3c-.553 0-1 .448-1 1v5.47c0 1.103-.897 2-2 2h-7.124c-1.104 0-2-.897-2-2V4c0-.552-.448-1-1-1H26c-.553 0-1 .448-1 1v17c0 1.104.895 2 2 2h3.346c1.104 0 2-.896 2-2v-3.653c0-1.104.896-2 2-2H38c1.103 0 2 .896 2 2V22c0 .553.447 1 1 1h1.876c.553 0 1-.447 1-1V4c0-.552-.447-1-1-1H41zM21.572 21c0 1.104-.896 2-2 2H5c-1.104 0-2-.896-2-2V5c0-1.105.896-2 2-2h14.572c1.104 0 2 .895 2 2v3.73c0 .553-.448 1-1 1H18.55c-.473 0-.856-.382-.856-.854v-1c0-.552-.448-1-1-1H8.877c-1.104 0-2 .896-2 2v2.174l3.368 3.367v2.704c0 1.107.896 2 2 2h4.45c.55 0 1-.444 1-1v-.493c0-.553.447-1 1-1h1.877c.552 0 1 .447 1 1V21z"></path></symbol><symbol id="chip-logo--t-365" viewBox="0 0 639 124" preserveAspectRatio="xMinYMin meet"><path d="M0 0v124h339.4V89.1H390V0H0zm478.7 94.6c-6.4 11.6-18.8 16-32.3 16-11 0-26-4.7-32.3-17.7-1.3-2.7-3-7.3-3-9.2 0-.6.8-2.7 3-2.7h14c1.9 0 3.3.9 4.4 2.7 1.8 3.1 4.9 6.4 8.3 7.7 3.5 1.3 11.7 2.1 16.3-3 4.4-4.9 4-13.9-3.4-17.3-5.6-2.6-10.6-2.2-15.1-2.3-.6 0-2.8-.5-2.8-3.2v-9.8c0 .1 0-2.7 3-2.7 3.5-.1 10.5.1 14-2.1 3.5-2.1 5-4.7 5-9.1 0-6-5.4-9.7-11-9.8-8.7-.1-11.2 6.1-12.5 9.1-.5 1.2-.8 2.2-2.2 2.6-1.6.5-13.4.2-14.7.1-1.5-.1-2.6-1.3-3.2-2.4-.7-1.4 0-3.4.4-4.8.9-3.7 2.8-7 5.2-10 6.4-7.9 16.4-12 26.6-12.4 6.2-.3 12.5.8 18 3.3 9.9 4.6 15 12.6 15.1 21.4.1 7.7-2.6 15.7-12.4 20-.8.3-2.7.8-2.7 1.1 0 .5 2.3.8 3 1.1 7.2 2.9 10.7 7.9 12.3 11.3 4.5 9.3.5 19.4-1 22.1zm62-17.5c0-6.2-3.5-14.5-15-14.7-14.4-.3-15.6 14-14.5 18.6.4 1.5 3 11 14.5 11 15 0 15-13.6 15-14.9m17.6 14c-5.8 12.7-19.1 19.1-32.6 19.4-23.4.5-34.5-14.8-36.6-25.6-1.7-9-.2-19.7 5.4-28.9 2.9-4.7 25.3-38 26.2-39.3.8-1.2 1.7-2.2 3.3-2.2 4.2-.1 21-.1 21.6 0 1.2.2 1.8 1.3 1.3 2.4-.4.7-21.5 29.4-22.6 31.3 10.3-3.7 22 2.6 25.5 5.3 7 5.5 11.1 14.1 11.3 22.9.2 5-.6 10.1-2.8 14.7zm60.1-40.7c-8.5-2.9-20.7-1.3-22.1-.9l.9-16.2h32.5c2.4 0 4.3-1 4.3-3.6V18.2c-.5-2.4-1.8-3.6-4-3.6h-48c-1.6 0-4 .7-4.1 3.3s-1.1 26.3-2.1 48.4c0 .9.9 2 2.6 1.6 1.8-.4 8.3-2.9 19.6-3.2 17.9-.5 18.7 11.3 18.7 14 0 4.4-2.1 13.2-13.6 13.4-9.4-.4-12.1-6.1-13.1-8-1.2-2.2-2.7-3.1-4.3-3.1-7.9 0-10.3-.1-14.4-.1-.5 0-3.8-.1-3.3 3.4.6 3.8 3.3 9.8 5.4 12.7 8.2 11.6 23.4 13.6 29.9 13.6 14.1-.1 34.2-7.6 35.1-29.6.6-14.1-4.3-25.3-20-30.6z"></path><path style="fill:#fff" d="M103 103.7c-.3 6.2-4.6 7.2-7.1 7.2H21.1c-.7.1-7-.7-7.1-7.2-.1-6.5 0-50.2 0-75.2v-7.2c.5-6.9 6.1-7.2 7-7.2h74.9c3.2 0 7.1 2.4 7.1 7.3v21.5c-.3 3.5-3.5 3.5-3.6 3.5H88c-3.6-.3-3.6-3.6-3.6-3.6v-5.3s.2-6-6.2-6.3H38.6c-.5 0-5.7.3-5.9 6v15.9l16.1 16.3v18.3c0 1.1.6 5.5 5.4 6 4.4.1 23 0 24.4 0 1.4 0 5.7-.9 5.9-6v-3.6c.1-1.9.8-3.9 3.5-4.1h11.4c3.4.1 3.6 3.2 3.6 3.6v20.1M14 21.2v0m296.9 89.7h-21.2c-6.3 0-7.2-6.1-7.2-7.2V21.2c0-.9.6-7 7.2-7.2h75.2c5.3.1 7.3 4.8 7.2 7.2v44.5c0 1.8-.9 7-7.2 7.3h-40.7c-5.4.3-6 5.1-6 6v24.7c-.6 6.4-5.3 7.2-7.3 7.2m39.3-55.3c3.5 0 3.6-3.6 3.6-3.6V34.3s-.1-3.6-3.6-3.6h-45.4c-3.3 0-3.6 3.3-3.6 3.6V52c0 .2.1 3.7 3.6 3.6 3.4-.1 41.9 0 45.4 0m-91.3 55.3c.8 0 7.2-.5 7.2-7.2V69.6L250 53.2V17.6c.1-.3-.2-3.5-3.6-3.6h-11.9c-3.3.1-3.7 3-3.6 3.6 0 .6-.1 85 0 86.1-.1 1.7 1.3 7.2 7.1 7.2h20.9m-50.6 0c3.2 0 3.6-3.2 3.6-3.2v-.4s-.1-89.3 0-89.7c0-.4-.3-3.6-3.6-3.6h-11.6c-3.4 0-3.5 3.6-3.5 3.6v32.3c0 5.4-5 6.1-5.9 6h-40.7c-.5 0-5.8-.3-6-6V17.6c0-.3-.3-3.6-3.6-3.6h-11.5c-3.1.1-3.5 2.9-3.5 3.6l.1 86.1c-.1 1.8 1.3 7.1 7.2 7.2H150c2 .1 6.8-1.3 7.2-7.2 0-6.4-.1-23.6 0-24.5 0-.9.4-6 6.1-6h24.1c5.2 0 6 5.3 6 5.7v28.4c.2 3.2 2.7 3.6 3.6 3.6.8.1 8.1 0 11.3 0"></path></symbol><symbol id="chip-logo-claim--t-365" viewBox="0 0 266 28" preserveAspectRatio="xMinYMin meet"><text x="0" y="52" dx="0" dy="1em" font-size="16" font-family="Baloo-Regular">Das Verbraucherportal fÃ¼r jeden Tag</text></symbol><symbol id="cta-navigation" viewBox="0 0 800 800"><path d="M742.837 342.853H57.147C25.616 342.853 0 368.473 0 400s25.617 57.13 57.143 57.13h685.693c31.598 0 57.162-25.603 57.162-57.13 0-31.528-25.563-57.147-57.16-57.147zm-685.69-114.27h685.69c31.6 0 57.163-25.618 57.163-57.145 0-31.543-25.564-57.146-57.162-57.146H57.146C25.618 114.292 0 139.892 0 171.436c0 31.527 25.618 57.146 57.146 57.146zm685.69 342.834H57.147C25.616 571.417 0 596.98 0 628.58c0 31.6 25.617 57.128 57.143 57.128h685.693c31.598 0 57.162-25.53 57.162-57.13 0-31.597-25.563-57.16-57.16-57.16z"></path></symbol><symbol id="cta-search" viewBox="0 0 800 800"><path d="M782.026 676.826l-191.353-191.32c28.863-47.434 45.486-103.028 45.486-162.626C636.16 149.91 486.223 0 313.225 0 140.26 0 .006 140.255.006 313.22c0 173.028 149.882 322.94 322.878 322.94 57.525 0 111.392-15.606 157.716-42.677l192.343 192.402c18.914 18.82 49.384 18.82 68.172 0l47.748-47.715c18.786-18.82 11.96-42.523-6.83-61.31v-.034h-.007zM96.392 313.188c0-119.736 97.067-216.846 216.8-216.846 119.814 0 226.522 106.724 226.522 226.505 0 119.762-97.066 216.86-216.862 216.86-119.814 0-226.49-106.736-226.49-226.52h.03z"></path></symbol><symbol id="bu-pricecomparison" viewBox="0 0 800 800"><path d="M699.7 577.9L800 253.4H237.2L218.9 75.5 18.4 19.4 0 86.3l155.3 43.1 49.6 494.9c-24.8 14-42 42-42 72.2 0 46.4 37.7 84.1 84.1 84.1 34.5 0 63.6-20.5 76.5-49.6h174.7c12.9 29.1 42 49.6 76.6 49.6 46.3 0 84.1-37.7 84.1-84.1s-37.7-84.1-84.1-84.1c-34.5 0-63.6 20.5-76.6 49.6H322.4c-9.7-20.5-27-37.7-49.6-45.3l-4.3-39.9h431.3v1.1h-.1zm6.5-255.5l-57.1 185.4H262l-18.3-185.4h462.5zM246.9 727.8c-17.3 0-30.2-14-30.2-30.2 0-17.2 14-30.2 30.2-30.2 17.3 0 30.2 14 30.2 30.2s-14 30.2-30.2 30.2zm327.8-61.5c17.2 0 30.2 14 30.2 30.2 0 17.3-14 30.2-30.2 30.2-17.3 0-30.2-14-30.2-30.2-1.1-16.2 12.9-30.2 30.2-30.2z"></path></symbol><symbol id="social-facebook" viewBox="0 0 800 800"><path d="M754.783 0C780.867 0 800 19.13 800 45.217v709.567C800 780.868 780.867 800 754.783 800h-203.48V490.437h104.35l15.653-121.74H551.304v-76.52c0-34.782 10.436-59.13 60.868-59.13h64.352v-107.83S634.784 120 582.61 120c-92.174 0-154.78 57.392-154.78 160v88.695H323.48v121.74h104.35V800H45.216C19.13 800 0 780.868 0 754.784V45.217C0 19.13 19.13 0 45.217 0h709.566z"></path></symbol><symbol id="social-twitter" viewBox="0 0 800 800"><path d="M800 151.393s-31.226 50.56-81.785 84.76c10.41 231.97-159.105 489.217-466.913 489.217C98.142 725.37 0 651.02 0 651.02s120.447 25.28 242.38-66.914C118.96 576.67 89.22 469.61 89.22 469.61s34.2 8.92 74.35-2.976C25.28 432.434 31.228 303.066 31.228 303.066s34.2 20.818 74.35 20.818C-19.33 227.23 55.017 103.81 55.017 103.81S168.03 262.917 394.054 276.3C361.34 96.374 568.028 13.103 673.606 126.114c55.02-8.922 105.578-40.15 105.578-40.15s-17.845 60.968-72.863 90.708c44.61-2.975 93.68-25.28 93.68-25.28z"></path></symbol><symbol id="social-instagram" viewBox="0 0 800 800"><path d="M400 72.1c106.8 0 119.5.4 161.6 2.3 39 1.8 60.2 8.3 74.3 13.8 17.4 6.4 33.1 16.6 46 29.9 13.3 12.9 23.5 28.6 29.9 46 5.5 14.1 12 35.3 13.8 74.3 1.9 42.2 2.3 54.8 2.3 161.6s-.4 119.5-2.3 161.6c-1.8 39-8.3 60.2-13.8 74.3-13.5 34.9-41 62.5-75.9 75.9-14.1 5.5-35.3 12-74.3 13.8-42.2 1.9-54.8 2.3-161.6 2.3s-119.5-.4-161.6-2.3c-39-1.8-60.2-8.3-74.3-13.8-17.4-6.4-33.1-16.6-46-29.9-13.3-12.9-23.5-28.6-29.9-46-5.5-14.1-12-35.3-13.8-74.3-1.9-42.2-2.3-54.8-2.3-161.6s.4-119.5 2.3-161.6c1.8-39 8.3-60.2 13.8-74.3 6.4-17.4 16.6-33.1 29.9-46 12.9-13.3 28.6-23.5 46-29.9 14.1-5.5 35.3-12 74.3-13.8 42.1-1.9 54.8-2.3 161.6-2.3M400 0C291.4 0 277.7.5 235.1 2.4c-42.6 2-71.7 8.7-97.1 18.6-26.7 10-50.9 25.8-70.8 46.1C46.8 87.1 31 111.3 21 138c-9.9 25.4-16.6 54.5-18.6 97.1C.5 277.7 0 291.4 0 400s.5 122.3 2.4 164.9c1.9 42.6 8.7 71.7 18.6 97.1 10 26.7 25.8 50.9 46.1 70.8 20 20.3 44.2 36.1 70.8 46.1 25.4 9.9 54.5 16.6 97.1 18.6 42.7 1.9 56.3 2.4 164.9 2.4s122.3-.5 164.9-2.4c42.6-1.9 71.7-8.7 97.1-18.6 53.7-20.8 96.2-63.3 117-117 9.9-25.4 16.6-54.5 18.6-97.1 1.9-42.7 2.4-56.3 2.4-164.9s-.5-122.3-2.4-164.9c-1.9-42.6-8.7-71.7-18.6-97.1-10-26.7-25.8-50.9-46.1-70.8C712.9 46.8 688.7 31 662 21c-25.4-9.9-54.5-16.6-97.1-18.6C522.3.5 508.6 0 400 0z"></path><path d="M400 194.6c-113.4 0-205.4 92-205.4 205.4s92 205.4 205.4 205.4 205.4-92 205.4-205.4-92-205.4-205.4-205.4zm0 338.7c-73.6 0-133.3-59.7-133.3-133.3 0-73.6 59.7-133.3 133.3-133.3 73.6 0 133.3 59.7 133.3 133.3 0 73.6-59.7 133.3-133.3 133.3z"></path><circle cx="613.5" cy="186.5" r="48"></circle></symbol><symbol id="social-youtube" viewBox="0 0 800 800"><path d="M400 118.4c230.398 0 321.6 3.2 358.397 40C785.6 185.6 800 241.8 800 400S785.6 614.4 758.397 641.603C721.6 678.398 630.397 681.6 400 681.6c-230.4 0-321.6-3.2-358.4-39.998C14.4 614.4 0 558.2 0 400.002 0 241.8 14.4 185.6 41.6 158.4c36.8-36.8 128-40 358.4-40zm-83.2 160v225.602L532.8 392l-216-113.6z"></path></symbol></svg><header class="Header Header--Elevated Header--Sticky" data-header="{&quot;ajax_navigation&quot;:&quot;&quot;, &quot;sticky&quot;:&quot;true&quot;}"><div class="Header__Container"><div><button class="Header__Button Header__Button--ToggleNavigation"><svg viewBox="0 0 800 800"><use xlink:href="#cta-navigation"></use></svg></button><a href="https://www.chip.de" title="Zur CHIP-Startseite" class="Header__Logo"><svg class="Header__LogoIcon" viewBox="0 0 81 26"><use xlink:href="#chip-logo-invert"></use></svg></a><nav class="Navigation Navigation--Header" id="head-navigation"><!-- CHIP product navigation --><ul><li class="is-hidden-large is-hidden-medium "><a href="https://www.chip.de" title="ZurÃ¼ck zur CHIP-Startseite">Home</a></li><li class=" Navigation__Link--HasSubmenu Level_1" data-group="nav-tuk"><a class="is-hidden-small" href="https://www.chip.de/tests">Test &amp; Kaufberatung</a><div class="is-hidden-large is-hidden-medium">Test &amp; Kaufberatung</div><ul class="Navigation__Submenu is-hidden-small"><li class="is-hidden-large is-hidden-medium"><a class="is-hidden-large is-hidden-medium" href="https://www.chip.de/tests">Test &amp; Kaufberatung</a></li><li class="Navigation__Link--HasSubmenu"><a href="https://www.chip.de/artikel/CHIP-Bestenlisten-Alle-Testsieger-im-ueberblick_12823667.html">Bestenlisten</a><ul class="Navigation__Submenu Navigation__Submenu--Level2 is-hidden-small"><li><a href="https://www.chip.de/bestenlisten/Bestenliste-Handys--index/index/id/900/">Smartphones</a></li><li><a href="https://www.chip.de/bestenlisten/Bestenliste-Notebooks-bis-ca.-500-Euro--index/index/id/886/">Notebook</a></li><li><a href="https://www.chip.de/bestenlisten/Bestenliste-Bluetooth-Kopfh%C3%B6rer--index/index/id/1407/">Bluetooth-KopfhÃ¶rer</a></li><li><a href="https://www.chip.de/bestenlisten/Bestenliste-Tablets--index/index/id/970/">Tablets</a></li><li><a href="https://www.chip.de/bestenlisten/Bestenliste-Digitalkameras--index/index/id/996/">Digitalkamera</a></li><li><a href="https://www.chip.de/bestenlisten/Bestenliste-Smartwatches--index/index/id/1243/">Smartwatches</a></li><li><a href="https://www.chip.de/bestenlisten/Bestenliste-Kaffeevollautomaten--index/index/id/1463/">Kaffeevollautomaten</a></li><li><a href="https://www.chip.de/bestenlisten/Bestenliste-Fernseher-bis-59-Zoll--index/index/id/1113/">Fernseher</a></li><li><a href="https://www.chip.de/bestenlisten/Bestenliste-Fitness-Tracker--index/index/id/1171/">Fitness Tracker</a></li><li><a href="https://www.chip.de/bestenlisten/Bestenliste-Staubsauger--index/index/id/1206/">Staubsauger</a></li><li><a href="https://www.chip.de/bestenlisten/Bestenliste-Saugroboter--index/index/id/1432/">Saugroboter</a></li></ul></li><li class=""><a href="https://www.bestcheck.de/">BestCheck Preisvergleich</a></li><li class="Navigation__Link--HasSubmenu"><a href="https://www.chip.de/handy">Handy</a><ul class="Navigation__Submenu Navigation__Submenu--Level2 is-hidden-small"><li><a href="https://www.chip.de/handy">Handy im Ãœberblick</a></li><li><a href="https://www.chip.de/nachrichten/handy,104013">Handy News</a></li><li><a href="https://www.chip.de/handy/handy-vertrag-tarife,52052">Handy Vertrag &amp; Tarife</a></li><li><a href="https://www.chip.de/download/52056_Downloads/">Handy Downloads</a></li><li><a href="https://www.bestcheck.de/Handys-Smartphones_2/">Handy BestCheck</a></li></ul></li><li class=""><a href="https://www.chip.de/tests/digitalkamera,43744">Digitalkamera</a></li><li class=""><a href="https://www.chip.de/tests/notebook,14933">Notebook</a></li><li class=""><a href="https://www.chip.de/tests/fernseher-lcd-und-plasma-,39537">Fernseher (LCD und Plasma)</a></li><li class="Navigation__Link--HasSubmenu"><a href="https://www.chip.de/tests/pc-spiele-spielekonsolen,9228">Spiele</a><ul class="Navigation__Submenu Navigation__Submenu--Level2 is-hidden-small"><li><a href="https://www.chip.de/tests/pc-spiele-spielekonsolen,9228">Spiele-Tests</a></li><li><a href="https://www.chip.de/nachrichten/games,42558">Spiele-News</a></li><li><a href="https://www.chip.de/download/38911_Spiele/">Spiele-Downloads</a></li></ul></li><li class=""><a href="https://www.chip.de/tests/tablet-pc,64445">Tablet-PC</a></li><li class=""><a href="https://www.chip.de/tests/schnaeppchen-tipps-der-redaktion,52264">SchnÃ¤ppchen-Tipps</a></li><li class="Navigation__Link--HasSubmenu"><a href="#">Hardware-Kategorien A - L</a><ul class="Navigation__Submenu Navigation__Submenu--Level2 is-hidden-small"><li><a href="https://www.chip.de/tests/beamer-projektor,39725">Beamer</a></li><li><a href="https://www.chip.de/tests/camcorder,43748">Camcorder</a></li><li><a href="https://www.chip.de/tests/digitales-wohnzimmer,39535">Digitales Wohnzimmer</a></li><li><a href="https://www.chip.de/tests/digitalkamera,43744">Digitalkamera</a></li><li><a href="https://www.chip.de/tests/drucker-scanner,43736">Drucker</a></li><li><a href="https://www.chip.de/tests/ebook-reader,90886">eBook Reader</a></li><li><a href="https://www.chip.de/tests/fernseher-lcd-und-plasma-,39537">Fernseher (LCD und Plasma)</a></li><li><a href="https://www.chip.de/tests/festplatte-und-ssd,43741">Festplatte</a></li><li><a href="https://www.chip.de/tests/fitness-health,75630">Fitness</a></li><li><a href="https://www.chip.de/tests/grafikkarte,39753">Grafikkarte</a></li><li><a href="https://www.chip.de/handy">Handy</a></li><li><a href="https://www.chip.de/tests/elektrogrossgeraete,75916">Home Electronics</a></li><li><a href="https://www.chip.de/tests/all-in-one-pc-komplett-pc,39752">Komplett-PC</a></li><li><a href="https://www.chip.de/tests/kopfhoerer,90885">KopfhÃ¶rer</a></li></ul></li><li class="Navigation__Link--HasSubmenu"><a href="#">Hardware-Kategorien M - Z</a><ul class="Navigation__Submenu Navigation__Submenu--Level2 is-hidden-small"><li><a href="https://www.chip.de/tests/maus-tastatur,39755">Maus &amp; Tastatur</a></li><li><a href="https://www.chip.de/tests/mainboard-motherboard-,39754">Motherboard</a></li><li><a href="https://www.chip.de/tests/mp3-player,14948">MP3-Player</a></li><li><a href="https://www.chip.de/tests/navigation,20827">Navigation</a></li><li><a href="https://www.chip.de/tests/notebook,14933">Notebook</a></li><li><a href="https://www.chip.de/tests/prozessor-cpu,39751">Prozessor</a></li><li><a href="https://www.chip.de/tests/scanner,14952">Scanner</a></li><li><a href="https://www.chip.de/handy">Smartphone</a></li><li><a href="https://www.chip.de/tests/soundsystem-lautsprecher,39726">Soundsystem</a></li><li><a href="https://www.chip.de/tests/festplatte-und-ssd,43741">SSD</a></li><li><a href="https://www.chip.de/tests/tablet-pc,64445">Tablet-PC</a></li><li><a href="https://www.chip.de/tests/tft-monitor,14945">TFT-Monitor</a></li><li><a href="https://www.chip.de/tests/akkuschrauber-werkzeug-co,82197">Werkzeug</a></li><li><a href="https://www.chip.de/tests/dsl-w-lan,29960">WLAN</a></li></ul></li><li class=""><a href="https://www.chip.de/tests/software-im-test,21013">Software im Test</a></li><li class=""><a href="https://gopro-max-testblog.chip.de/"><em>Gesponsert</em>GoPro Max Test-Blog</a></li><li class=""><a href="https://efahrer.chip.de/?utm_source=chip&amp;utm_medium=web&amp;utm_campaign=nav&amp;utm_content=nav_1">E-MobilitÃ¤t @ EFAHRER.com</a></li><li class=""><a href="https://www.chip.de/video/">CHIP-Video</a></li><li class="Navigation__Link--HasSubmenu"><a href="https://www.chip.de/tests/vergleichsrechner,84934">Vergleichsrechner</a><ul class="Navigation__Submenu Navigation__Submenu--Level2 is-hidden-small"><li><a href="https://www.chip.de/s_specials/DSL-Vergleich_68629483.html">DSL-Tarifvergleich</a></li><li><a href="https://www.chip.de/s_specials/Handy-Vertrag-Tarife_73019183.html">Handy-Tarifvergleich</a></li></ul></li></ul></li><li class=" Navigation__Link--HasSubmenu Level_1" data-group="nav-news"><a class="is-hidden-small" href="https://www.chip.de/nachrichten">News</a><div class="is-hidden-large is-hidden-medium">News</div><ul class="Navigation__Submenu is-hidden-small"><li class="is-hidden-large is-hidden-medium"><a class="is-hidden-large is-hidden-medium" href="https://www.chip.de/nachrichten">News</a></li><li class=""><a href="https://www.chip.de/nachrichten/hardware,9237">Hardware</a></li><li class=""><a href="https://www.chip.de/nachrichten/software,42323">Software</a></li><li class=""><a href="https://www.chip.de/nachrichten/handy,104013">Handy</a></li><li class=""><a href="https://www.chip.de/nachrichten/panorama,38715">Panorama</a></li><li class=""><a href="https://www.chip.de/nachrichten/business,9240">Business</a></li><li class=""><a href="https://www.chip.de/nachrichten/web-tarife,9238">Web</a></li><li class=""><a href="https://www.chip.de/nachrichten/foto,48194">Foto</a></li><li class=""><a href="https://services.chip.de/anmeldung.php">Newsletter-Service</a></li><li class=""><a href="https://praxistipps.chip.de/">Praxistipps</a></li><li class=""><a href="https://praxistipps.focus.de">FOCUS Praxistipps</a></li></ul></li><li class=" Navigation__Link--HasSubmenu Level_1" data-group="nav-downloads"><a class="is-hidden-small" href="https://www.chip.de/download/">Downloads</a><div class="is-hidden-large is-hidden-medium">Downloads</div><ul class="Navigation__Submenu is-hidden-small"><li class="is-hidden-large is-hidden-medium"><a class="is-hidden-large is-hidden-medium" href="https://www.chip.de/download/">Downloads</a></li><li class=""><a href="https://www.chip.de/download/wochen-charts/">Download-Charts</a></li><li class=""><a href="https://www.chip.de/download/30237_Download-Specials/">Download-Special</a></li><li class=""><a href="https://www.chip.de/download/9232_Downloads/1/">Download-NeuzugÃ¤nge</a></li><li class=""><a href="https://www.chip.de/download/54288_Must-Have-Downloads/">Must-Have-Downloads</a></li><li class=""><a href="https://www.chip.de/download/52056_Downloads/">Handy-Apps</a></li><li class=""><a href="https://www.chip.de/download/52056_Downloads/wochen-charts/">App-Charts: Top 100</a></li><li class=""><a href="https://www.chip.de/download/46949_Web-Apps/">Web-Apps</a></li><li class=""><a href="https://www.chip.de/download/46949_Web-Apps/wochen-charts/">Web-App-Charts: Top 100</a></li><li class=""><a href="https://www.chip.de/download/38917_MacOS/">MacOS</a></li><li class=""><a href="https://www.chip.de/download/38916_Linux/">Linux</a></li><li class=""><a href="https://www.chip.de/download/75411_3D-Drucken-Vorlagen/">3D, Drucken &amp; Vorlagen</a></li><li class=""><a href="https://www.chip.de/download/38909_Audio-Video/">Audio &amp; Video</a></li><li class=""><a href="https://www.chip.de/download/38910_Brennen-DVD/">Brennen &amp; DVD</a></li><li class=""><a href="https://www.chip.de/download/38908_Desktop-Modding/">Desktop &amp; Modding</a></li><li class=""><a href="https://www.chip.de/download/38940_Wallpaper/">Wallpaper</a></li><li class=""><a href="https://www.chip.de/download/38907_Foto-Grafik/">Foto &amp; Grafik</a></li><li class=""><a href="https://www.chip.de/download/59328_Hobby-Unterhaltung/">Hobby &amp; Unterhaltung</a></li><li class=""><a href="https://www.chip.de/download/38906_Internet-Online-Web/">Internet, Online &amp; Web</a></li><li class=""><a href="https://www.chip.de/download/38919_Browser-Addons/">Browser-Erweiterungen</a></li><li class=""><a href="https://www.chip.de/download/38914_Office-Geld/">Office &amp; Geld</a></li><li class=""><a href="https://www.chip.de/download/38915_Portable-Mobile/">Portable &amp; Mobile</a></li><li class=""><a href="https://www.chip.de/download/38913_Sicherheit-Hilfe/">Sicherheit &amp; Hilfe</a></li><li class=""><a href="https://www.chip.de/download/38912_Tuning-System/">Tuning &amp; System</a></li><li class=""><a href="https://www.chip.de/download/68105_Beta-Downloads/">Beta-Downloads</a></li><li class=""><a href="https://free2play.chip.de/">Browser &amp; Onlinespiele</a></li><li class=""><a href="https://www.chip.de/download/38911_Spiele/">Spiele</a></li></ul></li><li class="Navigation__More"><span>Mehr</span><ul class="Navigation__Submenu--More"><li class=" Navigation__Link--HasSubmenu Level_1" data-group="nav-handy"><a class="is-hidden-small" href="https://www.chip.de/handy">Handy</a><div class="is-hidden-large is-hidden-medium">Handy</div><ul class="Navigation__Submenu is-hidden-small"><li class="is-hidden-large is-hidden-medium"><a class="is-hidden-large is-hidden-medium" href="https://www.chip.de/handy">Handy</a></li><li class=""><a href="https://www.chip.de/bestenlisten/Bestenliste-Handys--index/index/id/900/">Handy Bestenliste</a></li><li class="Navigation__Link--HasSubmenu"><a href="https://www.chip.de/Handy-Downloads-Download-Charts_50159332.html">App-Charts: Top 100</a><ul class="Navigation__Submenu Navigation__Submenu--Level2 is-hidden-small"><li><a href="https://www.chip.de/Handy-Downloads-Download-Charts-Top-100-der-Woche_50159909.html?xbl_category=59059">Top 100 iPhone-Apps</a></li><li><a href="https://www.chip.de/Handy-Downloads-Download-Charts-Top-100-der-Woche_50159909.html?xbl_category=60988">Top 100 Android-Apps</a></li></ul></li><li class=""><a href="https://www.chip.de/download/52056_Downloads/">Apps &amp; Downloads</a></li><li class=""><a href="https://www.chip.de/handy/handy-vertrag-tarife,52052">Tarife</a></li><li class=""><a href="https://www.chip.de/nachrichten/handy,104013">News</a></li><li class=""><a href="https://www.chip.de/handy/handy-trends,120853">Trends</a></li><li class=""><a href="https://www.chip.de/thema/Handyzubehoer_172671402.html"><em>Gesponsert</em>HandyzubehÃ¶r</a></li></ul></li><li class=" Navigation__Link--HasSubmenu Level_1" data-group="nav-community"><a class="is-hidden-small" href="https://forum.chip.de">Community</a><div class="is-hidden-large is-hidden-medium">Community</div><ul class="Navigation__Submenu is-hidden-small"><li class="is-hidden-large is-hidden-medium"><a class="is-hidden-large is-hidden-medium" href="https://forum.chip.de">Community</a></li><li class=""><a href="https://forum.chip.de/">Alle Kategorien</a></li><li class=""><a href="https://forum.chip.de/categories/festplatten-laufwerke-ssd">Festplatten, Laufwerke, SSD</a></li><li class=""><a href="https://forum.chip.de/categories/viren-trojaner-wuermer">Viren, Trojaner, WÃ¼rmer</a></li><li class=""><a href="https://forum.chip.de/categories/windows-7">Windows 7</a></li><li class=""><a href="https://forum.chip.de/categories/samsung">Samsung</a></li><li class=""><a href="https://forum.chip.de/categories/android-apps">Android Apps</a></li><li class=""><a href="https://forum.chip.de/categories/office">Office</a></li><li class=""><a href="https://forum.chip.de/categories/notebooks-netbooks-ultrabooks">Notebooks, Netbooks, Ultrabooks</a></li><li class=""><a href="https://forum.chip.de/categories/tv-empfang">TV-Empfang</a></li><li class=""><a href="https://forum.chip.de/categories/rund-um-spiele">Rund um Spiele</a></li><li class=""><a href="https://forum.chip.de/categories/html-css-javascript">HTML, CSS, Javascript</a></li><li class=""><a href="https://forum.chip.de/categories/w-lan-lan-nas">W-LAN, LAN, NAS</a></li><li class=""><a href="https://forum.chip.de/categories/recht">Recht</a></li><li class=""><a href="https://forum.chip.de/categories/smalltalk">Smalltalk</a></li></ul></li><li class=" Navigation__Link--HasSubmenu Level_1" data-group="nav-gutscheine"><a class="is-hidden-small" href="https://gutscheine.chip.de/">Gutscheine</a><div class="is-hidden-large is-hidden-medium">Gutscheine</div><ul class="Navigation__Submenu is-hidden-small"><li class="is-hidden-large is-hidden-medium"><a class="is-hidden-large is-hidden-medium" href="https://gutscheine.chip.de/">Gutscheine</a></li><li class=""><a href="https://gutscheine.chip.de/gutscheine/media-markt">MEDIA MARKT</a></li><li class=""><a href="https://gutscheine.chip.de/gutscheine/otto">OTTO </a></li><li class=""><a href="https://gutscheine.chip.de/gutscheine/amazon">AMAZON</a></li><li class=""><a href="https://gutscheine.chip.de/gutscheine/lidl">LIDL </a></li><li class=""><a href="https://gutscheine.chip.de/gutscheine/tchibo-shop">TCHIBO</a></li><li class=""><a href="https://gutscheine.chip.de/gutscheine/about-you">ABOUT YOU </a></li><li class=""><a href="https://gutscheine.chip.de/gutscheine/expedia">EXPEDIA </a></li></ul></li></ul></li><li class=" Navigation__Link--HasSubmenu Level_1" data-group="nav-chip-365"><a class="is-hidden-small" href="https://www.chip.de/365" title="Chip 365">Chip 365</a><div class="is-hidden-large is-hidden-medium">Chip 365</div><ul class="Navigation__Submenu is-hidden-small"><li class="is-hidden-large is-hidden-medium"><a class="is-hidden-large is-hidden-medium" href="https://www.chip.de/365" title="Chip 365">Chip 365</a></li><li class=""><a href="https://www.chip.de/365/freizeit-familie,128427">Freizeit &amp; Familie</a></li><li class=""><a href="https://www.chip.de/365/kleidung-accessoires,128429">Kleidung &amp; Accessoires</a></li><li class=""><a href="https://www.chip.de/365/essen-trinken,125855">Essen &amp; Trinken</a></li><li class=""><a href="https://www.chip.de/365/haus-garten,132740">Haus &amp; Garten</a></li><li class=""><a href="https://www.chip.de/365/verbraucher-news,122748">Verbraucher News</a></li></ul></li></ul><div class="Header__Button--Social"><a href="https://www.facebook.com/CHIP" target="_blank" rel="nofollow" title="CHIP auf Facebook folgen"><svg viewBox="0 0 800 800"><use xlink:href="#social-facebook"></use></svg></a><a href="https://www.instagram.com/chip_de" target="_blank" rel="nofollow" title="CHIP auf Instagram folgen"><svg viewBox="0 0 800 800"><use xlink:href="#social-instagram"></use></svg></a><a href="https://twitter.com/CHIP_online" target="_blank" rel="nofollow" title="CHIP auf Twitter folgen"><svg viewBox="0 0 800 800"><use xlink:href="#social-twitter"></use></svg></a><a href="https://www.youtube.com/user/CHIP" target="_blank" rel="nofollow" title="CHIP auf YouTube folgen"><svg viewBox="0 0 800 800"><use xlink:href="#social-youtube"></use></svg></a></div></nav><button class="Header__Button Header__Button--ToggleSearch" title="Suche auf CHIP" data-role="trigger"><svg viewBox="0 0 800 800"><use xlink:href="#cta-search"></use></svg></button><div class="Search Search--Header"><form action="https://search.chip.de" method="get" accept-charset="utf8" id="head-search" class="Search__Form
    suggest-wrapper"><input name="q" type="search" class="Search__Input" id="head-searchterm" placeholder="Wonach suchen Sie?" autocomplete="off" data-searchahead="{&quot;autocomplete&quot;:&quot;https://be-search.chip.de/ac&quot;}"><button class="Search__Button" type="submit">Suchen</button><input name="it" value="1" type="hidden"></form></div></div></div></header><div class="Header__Overlay"></div><script>
    !function(){var a=document.querySelector("header.Header"),e=a.querySelector(".Header__Button--ToggleNavigation"),o=a.querySelector(".Navigation--Header"),t=a.querySelector(".Header__Button--ToggleSearch"),s=a.querySelector(".Search--Header"),i=document.querySelector(".Header__Overlay"),l=o.querySelectorAll(".Navigation__Link--HasSubmenu.Level_1");function r(){o.classList.toggle("is-visible"),e.classList.toggle("is-active")}function c(){s.classList.toggle("is-visible"),t.classList.toggle("is-active")}function n(){document.body.classList.toggle("is-locked"),i.classList.toggle("is-active")}function u(e,t){t.classList.toggle("is-hidden-small"),e.classList.toggle("expanded")}for(var d=0;d<l.length;d++)l[d].addEventListener("click",function(){var e=this.querySelector(".Navigation__Submenu"),t=o.querySelector(".Navigation__Link--HasSubmenu.expanded");if(t&&u(t,t.querySelector(".Navigation__Submenu")),this!=t){u(this,e);var s=this.offsetTop,i=this.parentNode.parentNode;i.classList.contains("Navigation__More")&&(s+=i.offsetTop),o.scrollTop=s}});e&&e.addEventListener("click",function(){s.classList.contains("is-visible")?(c(),setTimeout(r,400)):(n(),r())}),t&&t.addEventListener("click",function(){o.classList.contains("is-visible")?(r(),setTimeout(c,200)):(n(),c())}),i&&i.addEventListener("click",function(){o.classList.remove("is-visible"),s.classList.remove("is-visible"),e.classList.remove("is-active"),t.classList.remove("is-active"),i.classList.remove("is-active"),document.body.classList.remove("is-locked")}),o&&o.querySelector("ul")&&(o.querySelector("ul").addEventListener("mouseenter",function(e){"li"==e.target.nodeName.toLowerCase()&&e.target.classList.add("is-hover")},!0),o.querySelector("ul").addEventListener("mouseleave",function(e){"li"==e.target.nodeName.toLowerCase()&&e.target.classList.remove("is-hover")},!0));var v,g,L=JSON.parse(a.getAttribute("data-header")),m=parseInt(window.getComputedStyle(a).getPropertyValue("height"));L.sticky&&(a.classList.add("Header--Sticky"),document.body.classList.add("is-sticky"),v=function(){var e=a.getAttribute("data-lastScrollPos"),t=document.documentElement.scrollTop||document.body.scrollTop,s=t-e,i=window.currpage&&"f2p"===window.currpage.abc;if(a.setAttribute("data-lastScrollPos",t),t>=document.body.scrollHeight-window.innerHeight-m&&!i){var o=document.querySelector("footer.Footer");o&&"true"==o.getAttribute("data-header-limit")&&a.classList.remove("js-is-hidden")}else m<=t&&10<=s?a.classList.add("js-is-hidden"):(s<=-10&&!i||i&&t<=m)&&a.classList.remove("js-is-hidden")},g=g||50,queue=null,window.addEventListener("scroll",function(){null==queue&&(queue=setTimeout(function(){v.call(),queue=null},g))}))}();
</script><!-- end esi header --><script>var adtechNewLogic = true; var dealbarStatus = true;</script><script type="text/javascript" src="http://c.amazon-adsystem.com/aax2/amzn_ads.js"></script><script type="text/javascript">try{amznads.getAds(3128);}catch(e){}</script><script type="text/javascript" src="http://aax.amazon-adsystem.com/e/dtb/bid?src=3128&amp;u=http%3A%2F%2Fwww.chip.de%2Fprivacy-policy&amp;cb=1997154&amp;gdprl=%7B%22status%22%3A%22no-cmp%22%7D"></script><script src="http://ad-js.chip.de/js/loader/chip.min.js"></script>  
  



<div id="chip-wrapper">

<!-- IVW-Aufruf -->
<!-- /IVW-Aufruf -->
<!-- wt -->

<!-- /wt -->

<div id="contentad-topbanner-1" class="app_nexus_banners_common contentad-topbanner-1">
         
        <script>
            window.AdSystemLoader = window.AdSystemLoader || [];
            AdSystemLoader.push(["contentad-topbanner-1"]);
        </script>
        
</div>

    <div id="contentad-adblocker-topbanner-1">
        <script>
            window.AdSystemLoader = window.AdSystemLoader || [];
            AdSystemLoader.push(["contentad-adblocker-topbanner-1"]);
        </script>
    </div>

<div id="contentad-skyscraper-1" class="app_nexus_banners_common contentad-skyscraper-1">
        
        <script>
            window.AdSystemLoader = window.AdSystemLoader || [];
            AdSystemLoader.push(["contentad-skyscraper-1"]);
        </script>
        
</div>
<div id="chip">
		<div id="errorpage_area">
			<div id="monster_text">
				<div>Ein Monster hat diese Seite gefressen!</div>
				<div>Suchen Sie jetzt, bevor es zu spät ist!</div>
			</div>
			<div id="monster_area">
				<img id="monster_arrow" src="http://www.chip.de/i/errorpages/monster_arrow.png">
				<img id="monster_fingers" src="http://www.chip.de/i/errorpages/monster_fingers.png">
				<img id="monster_img" src="http://www.chip.de/i/errorpages/monster_stomping.png">
				<div id="search_box">
					<div class="such-form">
						<form class="such" accept-charset="utf8" action="http://search.chip.de" name="suchform">
							<input class="such-box" name="q" autocomplete="off" id="suche_errorpage_input">
							<input name="it" value="1" type="hidden">
							<input class="submit" type="image" src="http://chip01.chipimages.de/i/headfoot/he-v1-suche-btn-autumn.gif" name="submit">
							<div class="suche-chip-de-formular-autocomplete" id="suche_errorpage_input_ac"></div>
						</form>
					</div>
				</div>
			</div>
		
		</div>
	
	</div>
</div><!-- /id="chip" -->

<div id="contentad-commercial-1" class="app_nexus_banners_common contentad-commercial-1">
        
        <script>
            window.AdSystemLoader = window.AdSystemLoader || [];
            AdSystemLoader.push(["contentad-commercial-1"]);
        </script>
            
</div>



  
    <script>
    window.AdSystemLoader = window.AdSystemLoader || [];
    AdSystemLoader.push(['contented-tfmvideo-flowplayer-1']);
</script>



<!-- esi start -->
<!-- Footer - Type: default / Route: www.chip.de / Version: 2.2.4 //-->

<style>
        
        .sr-only{position:absolute;width:1px;height:1px;overflow:hidden;clip:rect(1px,1px,1px,1px);-webkit-clip-path:polygon(0 0,0 0,0 0,0 0);clip-path:polygon(0 0,0 0,0 0,0 0)}.Footer{background:#dfdfdf;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:.75rem;font-weight:700;clear:both}.Footer .Social__Link{display:inline-block;color:#20292a;background-color:#d1d1d1;font-size:0}.Footer .Social__Link:not(:first-of-type){margin-left:.0625rem}.Footer .Social__Link svg{width:1.25rem;height:1.25rem;margin:.625rem}.Footer__Upper{color:#20292a;max-width:62.5rem;padding:1.5rem 1.25rem}@media screen and (min-width:62.5em){.Footer__Upper{margin:0 auto;padding:1.5rem 0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap}}.Footer__Upper--Logo{display:none}.Footer__Upper--Social{text-align:center;margin-top:1.25rem}@media screen and (min-width:62.5em){.Footer__Upper--Logo,.Footer__Upper--Nav,.Footer__Upper--Social{display:inherit}.Footer__Upper--Logo,.Footer__Upper--Social{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-ms-flex-preferred-size:0;flex-basis:0}.Footer__Upper--Nav{-webkit-box-flex:4;-ms-flex-positive:4;flex-grow:4;-ms-flex-preferred-size:0;flex-basis:0}.Footer__Upper--Social{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;margin-top:0}}.Footer__Lower{background-color:#20292a;border-top:.375rem solid #eb443f;padding:1.25rem}@media screen and (min-width:62.5em){.Footer__Lower{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row wrap;flex-flow:row wrap}}@media screen and (min-width:62.5em){.Footer__Lower--Copyright,.Footer__Lower--Legal{display:inherit;-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%}}.Footer__Lower--Copyright,.Footer__Lower--Copyright a,.Footer__Lower--Copyright span{color:#949494}.Footer__Lower--Copyright a:first-of-type{display:block}@media screen and (min-width:41.25em){.Footer__Lower--Copyright a:first-of-type{display:inline}}@media screen and (min-width:41.25em){.Footer__Lower--Copyright>span:before{content:"|";display:inline-block;padding:0 .3125rem}}.Footer__Lower--Legal{margin-top:1.25rem}@media screen and (min-width:62.5em){.Footer__Lower--Legal{margin-top:0;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}}.Footer__Lower--Legal a{color:#d1d1d1;display:block;padding:.3125rem 0}@media screen and (min-width:41.25em){.Footer__Lower--Legal a{display:inline;padding:0}.Footer__Lower--Legal a+a:before{content:"|";display:inline-block;padding:0 .3125rem}}.Footer__Lower--Id{color:#949494;display:inline-block;font-size:.625rem;margin:1.25rem 0 0}.Footer__Lower .c-interred{color:#b6223c}.Footer a.Footer__Logo{color:#eb443f;display:inline-block}.Footer a.Footer__Logo svg{width:7.8125rem;height:2.5rem}.Footer__Nav{width:100%}.Footer__Nav a{color:#20292a;display:block;padding:.3125rem 0}.Footer__Nav ul{-webkit-column-count:2;-moz-column-count:2;column-count:2;-webkit-column-gap:.625rem;-moz-column-gap:.625rem;column-gap:.625rem;margin:-.3125rem 0}@media screen and (min-width:41.25em){.Footer__Nav ul{-webkit-column-count:4;-moz-column-count:4;column-count:4}}.Footer__Nav ul li{-webkit-column-break-inside:avoid;page-break-inside:avoid;break-inside:avoid}.Footer__LinkIcon{width:1rem;height:1em;padding-right:.4em}.Footer a:hover{text-decoration:underline}
    </style><footer class="Footer" data-header-limit="true"><div class="Footer__Upper"><div class="Footer__Upper--Logo"><span><a href="https://www.chip.de" title="Zur CHIP-Startseite" class="Footer__Logo"><svg viewBox="0 0 81 26"><use xlink:href="#chip-logo-invert"></use></svg></a></span></div><div class="Footer__Upper--Nav"><nav class="Footer__Nav"><ul><li><a href="https://www.chip.de/artikel/ueberblick.html">Überblick</a></li><li><a href="https://www.chip.de/artikel/CHIP-Bestenlisten-Alle-Testsieger-im-ueberblick_12823667.html">Beliebte Produkte</a></li><li><a href="https://www.chip.de/download/tags_Die-beliebtesten-Download-Tags/">Download-Tags</a></li><li><a href="https://www.chip.de/handy">Smartphone</a></li><li><a href="https://services.chip.de/anmeldung">Newsletter-Service</a></li><li><a href="https://www.chip.de/rss/rss_ueberblick.html">RSS</a></li><li><a href="https://www.chip.de/news/FAQ-Erloesmodelle-bei-CHIP-Online_113877092.html" rel="nofollow" title="Was bedeutet der Einkaufswagen?"><svg class="Footer__LinkIcon" viewBox="0 0 800 800"><use xlink:href="#bu-pricecomparison"></use></svg><span>Was bedeutet der Einkaufswagen?</span></a></li></ul></nav></div><div class="Footer__Upper--Social"><nav class="Social" itemscope="" itemtype="https://schema.org/Organization"><link itemprop="url" href="https://www.chip.de"><a class="Social__Link Social__Link--Facebook" href="https://www.facebook.com/CHIP" target="_blank" rel="nofollow" title="CHIP auf Facebook folgen" itemprop="sameAs"><svg viewBox="0 0 800 800"><use xlink:href="#social-facebook"></use></svg></a><a class="Social__Link Social__Link--Instagram" href="https://www.instagram.com/chip_de" target="_blank" rel="nofollow" title="CHIP auf Instagram folgen" itemprop="sameAs"><svg viewBox="0 0 800 800"><use xlink:href="#social-instagram"></use></svg></a><a class="Social__Link Social__Link--Twitter" href="https://twitter.com/CHIP_online" target="_blank" rel="nofollow" title="CHIP auf Twitter folgen" itemprop="sameAs"><svg viewBox="0 0 800 800"><use xlink:href="#social-twitter"></use></svg></a><a class="Social__Link Social__Link--Youtube" href="https://www.youtube.com/user/CHIP" target="_blank" rel="nofollow" title="CHIP auf Youtube folgen" itemprop="sameAs"><svg viewBox="0 0 800 800"><use xlink:href="#social-youtube"></use></svg></a></nav></div></div><div class="Footer__Lower"><div class="Footer__Lower--Copyright"><a href="https://chip.info/">© CHIP Digital GmbH 2020</a><span>Content Management by&nbsp;</span><a href="https://www.interred.de/" rel="nofollow" target="_blank">Inter<span class="c-interred">Red</span></a></div><div class="Footer__Lower--Legal"><a href="https://www.chip.de/c1_impressum/c1_impressum_13396219.html">Impressum</a><a href="https://www.chip.de/s_specials/Nutzungshinweis-CHIP-Online_45829065.html">Nutzungshinweis</a><a href="https://www.chip.de/s_specials/Datenschutz-CHIP-Online_45829526.html">Datenschutz</a><a href="https://chip.info/kontakt/">Kontakt</a></div></div></footer>
<script>
    (function() {
        //window.spActive = true;
        window._sp_ = window._sp_ || {};

        if (window._sp_.migrate === true) return false; // break in case already loaded

        window._sp_.config = window._sp_.config || {};
        window._sp_.config.account_id = 217;
        window._sp_.config.content_control_callback = function(arg) {};
        window._sp_.config.mms_domain = 'mms.chip.de';
        window._sp_.mms = window._sp_.mms || {};
        window._sp_.mms.cmd = window._sp_.mms.cmd || [];
        window._sp_.config.mms_client_data_callback = function(cb) {
            if (cb.info.msg_id !== 0 && cb.d.apb) {
                localStorage.setItem('spAltAd', 'false');
                localStorage.setItem('spComp', 'false');
                localStorage.setItem('spWhitelist', 'false');
            }
        };
        window._sp_.config.mms_choice_selected_callback = function(choiceID) {
            if (choiceID == '1') {
                _satellite.track('sourcepointchoicewhitelist');
                try {
                    localStorage.setItem('spWhitelist', 'true');
                } catch (e) {}
            } else if (choiceID == '3') {
                _satellite.track('sourcepointchoicealtad');
                try {
                    localStorage.setItem('spAltAd', 'true');
                } catch (e) {}
            } else if (choiceID == '7' || choiceID == '10') {
                try {
                    localStorage.setItem('spComp', 'true');
                } catch (e) {}
                if (choiceID == '10') {
                    var pingImg = new Image();
                    pingImg.src = 'https://www.welect.de/trk/sp';
                }
            }
        };
        window._sp_.config.fsm_endpoint =  '//fsm1.chip.de';
        window._sp_.config.enable_fsm_detection = true;
        window._sp_.config.enable_fsm_network_detection = true;

        document.addEventListener('DOMContentLoaded', function() {
            var autoplay = false;
            autoplay = (typeof digitalData !== 'undefined' && typeof digitalData.video !== 'undefined' && typeof digitalData.video[0] !== 'undefined' && digitalData.video[0].autoplay);

            var consent = typeof AS_OIL !== 'undefined' ? AS_OIL.status().opt_in && document.querySelector('.as-oil') === null : false;

            window._sp_.mms.cmd.push(function() {
                window._sp_.mms.setTargeting('autoplay', autoplay);
                window._sp_.mms.setTargeting('consent', consent);
            });
            window._sp_.mms.cmd.push(function() {
                window._sp_.mms.startMsg();
            });
        });

        (function(){
            var s;
            s = document.createElement('script');
            s.src = "https://www.chip.de/js/spmsg-20190626.js";
            document.head.appendChild(s);
        })();
    })();
</script>
<!-- esi end --><div id="footer-white-global"><div id="footer-white-wrapper"><div id="footer-white"> | B 638</div></div></div><script>
    (function(window) {
        var host, port, offset, base, storage, storageKey, cookieArray, cookieCount, cookieKey, cookieValue;

        storageKey = 'cxodev';

        if (window.localStorage) {

            storage = JSON.parse(unescape(window.localStorage.getItem(storageKey)));
        } else {

            cookieArray = document.cookie.split(";");
            for (cookieCount = 0; cookieCount < cookieArray.length; cookieCount++) {

                cookieKey = (cookieArray[cookieCount].split('=')[0]).replace(/^\s+|\s+$/g, "");

                if (storageKey === cookieKey) {

                    storage = JSON.parse(unescape(cookieArray[cookieCount].split('=')[1]));
                    break;
                }
            }
        }

        if (storage && storage.use) {
            storage = storage.settings[storage.use];

            storage.use = true;

            if (storage.styleElmt && storage.styleElmtValue) {
                document.body.style[storage.styleElmt] = storage.styleElmtValue;
            }

            storage.bak = window.storage;
            window.storage = storage;

            var hostsWhitelist = ["chip.de", "cxo.name", "vagrantshare.com", "localhost"];

            storage.isEnabled = false;
            for (var i = 0; i < hostsWhitelist.length; i++) {
                var curSubstr = storage.host.substr(-1 * hostsWhitelist[i].length);
                if (curSubstr == hostsWhitelist[i]) {
                    // ok
                    storage.isEnabled = true;
                    break;
                }
            }

            if (!storage.isEnabled) {
                return;
            }

            host = storage.host;
            port = storage.port || '80';
            offset = storage.offset || '/';
            base = storage.base = 'http://' + host + ':' + port + offset;

            document.write('<script src="' + base + '/dev_js_csi.js"><' + '/script>');
        }
    })(this);
</script>

<script>
    if ("undefined" !== typeof require && !(window.storage && window.storage.use)) {
        document.write('<noscript>');
    }
</script><noscript>

<script type="text/javascript" src="//www.chip.de/fec/www.chip.de/4.0.6/component/requirejs/require.js"></script>
</noscript>

<script>
    if ((window.storage && window.storage.use)) {
        document.write('<noscript>');
    }
</script>
<script type="text/javascript" src="//www.chip.de/fec/www.chip.de/4.0.6/config/require.js?cache"></script>
<script type="text/javascript" src="//www.chip.de/fec/www.chip.de/4.0.6/hook.js?cache20190709"></script>



<!-- Temp implementation for the BC-Widget call -->
<script>
    (function() {
	var _xwt = document.createElement('script'); _xwt.type = 'text/javascript'; _xwt.async = true;
	_xwt.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'pn.chip.de/esd/fasdeasdas/asdfa/115jf10.js';
	var _xwc = document.getElementsByTagName('script')[0]; _xwc.parentNode.insertBefore(_xwt, _xwc);
    })();
</script>
<!-- Temp implementation for the BC-Widget call -->
  
  





</body>