<section class="home">
													<div class="messageBox error">Seite nicht gefunden</div>
													<h2 style="clear:right;">
	Startseite
        </h2>
    <section id="teaser">
        <header><h3>ZENSUR IM INTERNET</h3></header>
        <div style="text-align: justify;">
            Die Internetanbieter <b>Vodafone</b> und <b>UPC Austria</b> zensieren euren Internetzugang und blockieren Websiten wie <b>BS.to</b>.<br>
            Betroffene können Burning Series über unsere alternative Domain <a href="https://burningseries.co/"><b style="color:#ed00b1;">burningseries.co</b></a> erreichen.<br><br>
            Um sich vor der Zensur zu schützen, empfehlen wir eure DNS Server auf die von Google <b>8.8.8.8</b> und <b>8.8.4.4</b> oder Cloudflare <a href="https://1.1.1.1/" target="_blank"><b>1.1.1.1</b></a> und <b>1.0.0.1</b> umzustellen.
            <a href="https://developers.cloudflare.com/1.1.1.1/setting-up-1.1.1.1/" target="_blank"><u>Diese Anleitung</u></a> zeigt euch wie einfach das geht. <a href="https://play.google.com/store/apps/details?id=com.cloudflare.onedotonedotonedotone" target="android"><u>Android</u></a> und <a href="https://itunes.apple.com/us/app/1-1-1-1-faster-internet/id1423538627" target="ios"><u>iOS</u></a> Benutzer können die 
            <a href="https://one.one.one.one/" target="cloudflare"><b>Cloudflare App</b></a> für unzensiertes und schnelleres Internet kostenfrei benutzen.
        </div>
    </section>
    <section id="teaser">
        <header><h3>Burning Series - Die Simpsons und viele Serien online sehen</h3></header>
        <div>
            <p>Auf Burning Series kannst du die <strong><a href="serie/Die-Simpsons/1">Simpsons</a></strong>
                und zahlreiche weitere Serien <strong>kostenlos online sehen</strong>!
                Wir bieten dir mehr als <strong><a href="andere-serien">4000 verschiedene Serien</a></strong> an,
                darunter auch <em><a href="serie/How-I-Met-Your-Mother/1">How I Met Your Mother</a></em>, 
                <em><a href="serie/The-Big-Bang-Theory">The Big Bang Theory</a></em> 
                und <em><a href="serie/Two-and-a-Half-Men/1">Two and a Half Men</a></em>.
        </p></div>
    </section>
<div id="column1" class="column">
            <section id="newest_episodes">
	<header>
		<h3>Neueste Episoden</h3>
	</header>
	<div>
					<ul>
									<li>
						<a href="serie/The-Passage/1/5-Der-Schrei/de" title="The Passage:  Der Schrei" class="title">The Passage</a>
												<div class="info">S01 E05<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/Boruto-Naruto-Next-Generations/1/140-The-Mind-Jutsu-that-Lost-to-Potato-Chips/des" title="Boruto: Naruto Next Generations: The Mind Jutsu that Lost to Potato Chips" class="title">Boruto: Naruto Next Generations</a>
												<div class="info">S01 E140<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Harley-Quinn/1/7-The-Line/en" title="Harley Quinn: The Line" class="title">Harley Quinn</a>
												<div class="info">S01 E07<i class="flag flag-en" title="English"></i></div>
					</li>
									<li>
						<a href="serie/The-L-Word-Generation-Q/1/7-Lose-it-All/en" title="The L Word: Generation Q: Lose it All" class="title">The L Word: Generation Q</a>
												<div class="info">S01 E07<i class="flag flag-en" title="English"></i></div>
					</li>
									<li>
						<a href="serie/Shameless/10/11-Location-Location-Location/en" title="Shameless - Nicht ganz nüchtern: Location, Location, Location" class="title">Shameless - Nicht ganz nüchtern</a>
												<div class="info">S10 E11<i class="flag flag-en" title="English"></i></div>
					</li>
									<li>
						<a href="serie/Ray-Donovan/7/10-You-ll-Never-Walk-Alone/en" title="Ray Donovan: You'll Never Walk Alone" class="title">Ray Donovan</a>
												<div class="info">S07 E10<i class="flag flag-en" title="English"></i></div>
					</li>
									<li>
						<a href="serie/Power/6/13-It-s-All-Your-Fault/en" title="Power: It's All Your Fault" class="title">Power</a>
												<div class="info">S06 E13<i class="flag flag-en" title="English"></i></div>
					</li>
									<li>
						<a href="serie/InuYasha/2/3-Jinenji-der-sanfte-Riese/de" title="InuYasha: Jinenji, der sanfte Riese " class="title">InuYasha</a>
												<div class="info">S02 E03<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/One-Piece/20/29-It-s-On-The-Special-Operation-to-Bring-Down-Kaido-Episode-918/des" title="One Piece: It's On! The Special Operation to Bring Down Kaido! |Episode 918|" class="title">One Piece</a>
												<div class="info">S20 E29<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Boku-no-Tonari-ni-Ankoku-Hakaishin-ga-Imasu/1/2-Eyes-On-Me/des" title="Boku no Tonari ni Ankoku Hakaishin ga Imasu.: Eyes On Me" class="title">Boku no Tonari ni Ankoku Hakaishin ga Imasu.</a>
												<div class="info">S01 E02<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Ishuzoku-Reviewers-Interspecies-Reviewers/1/2-Fairies-Have-Limits-on-What-They-Can-Take/des" title="Ishuzoku Reviewers | Interspecies Reviewers: Fairies Have Limits on What They Can Take" class="title">Ishuzoku Reviewers | Interspecies Reviewers</a>
												<div class="info">S01 E02<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Fate-Grand-Order-Zettai-Majuu-Sensen-Babylonia/1/14-Decisive-Battle/des" title="Fate/Grand Order: Zettai Majuu Sensen Babylonia: Decisive Battle" class="title">Fate/Grand Order: Zettai Majuu Sensen Babylonia</a>
												<div class="info">S01 E14<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Magia-Record-Mahou-Shoujo-Madoka-Magica-Gaiden/1/3-Sorry-For-Making-You-My-Friend/des" title="Magia Record: Mahou Shoujo Madoka Magica Gaiden: Sorry For Making You My Friend" class="title">Magia Record: Mahou Shoujo Madoka Magica Gaiden</a>
												<div class="info">S01 E03<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Legacies/1/9-Warum-war-Hope-in-deinen-Traeumen/de" title="Legacies:  Warum war Hope in deinen Träumen?" class="title">Legacies</a>
												<div class="info">S01 E09<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/Get-Shorty/3/3-Saubere-Sache/de" title="Get Shorty:  Saubere Sache" class="title">Get Shorty</a>
												<div class="info">S03 E03<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/He-Man-and-the-Masters-of-the-Universe/1/1-Der-kosmische-Komet/de" title="He-Man and the Masters of the Universe: Der kosmische Komet" class="title">He-Man and the Masters of the Universe</a>
												<div class="info">S01 E01<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/The-Good-Doctor/1/1-Ein-aussergewoehnliches-Talent/de" title="The Good Doctor: Ein außergewöhnliches Talent" class="title">The Good Doctor</a>
												<div class="info">S01 E01<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/Younger/4/1-Wahrheit-ist-relativ/de" title="Younger: Wahrheit ist relativ" class="title">Younger</a>
												<div class="info">S04 E01<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/Mugen-no-Juunin-Immortal-Blade-of-the-Immortal-2019/1/13-Act-Thirteen-Twilight/des" title="Mugen no Juunin Immortal | Blade of the Immortal (2019):  Act Thirteen - Twilight " class="title">Mugen no Juunin Immortal | Blade of the Immortal (2019)</a>
												<div class="info">S01 E13<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Mairimashita-Iruma-kun-Welcome-to-Demon-School-Iruma-kun/1/16-Party-Eve/des" title="Mairimashita! Iruma-kun | Welcome to Demon-School, Iruma-kun: Party Eve" class="title">Mairimashita! Iruma-kun | Welcome to Demon-School, Iruma-kun</a>
												<div class="info">S01 E16<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
							</ul>
			</div>
</section>            <section id="newest_series">
    <header>
        <h3>Neueste Serien</h3>
    </header>
    <div>
        <ul>
            				<li><a href="serie/The-New-Pope">The New Pope</a></li>
            				<li><a href="serie/Kyokou-Suiri-In-Spectre">Kyokou Suiri | In/Spectre</a></li>
            				<li><a href="serie/Boku-no-Tonari-ni-Ankoku-Hakaishin-ga-Imasu">Boku no Tonari ni Ankoku Hakaishin ga Imasu.</a></li>
            				<li><a href="serie/22-7">22/7</a></li>
            				<li><a href="serie/Ishuzoku-Reviewers-Interspecies-Reviewers">Ishuzoku Reviewers | Interspecies Reviewers</a></li>
            				<li><a href="serie/Oda-Shinamon-Nobunaga">Oda Shinamon Nobunaga</a></li>
            				<li><a href="serie/Jibaku-Shounen-Hanako-kun-Toilet-Bound-Hanako-kun">Jibaku Shounen Hanako-kun | Toilet-Bound Hanako-kun</a></li>
            				<li><a href="serie/Runway-de-Waratte-Smile-Down-the-Runway">Runway de Waratte | Smile Down the Runway</a></li>
            				<li><a href="serie/Re-ZERO-Starting-Life-in-Another-World-Director-s-Cut">Re:ZERO - Starting Life in Another World: Director's Cut</a></li>
            				<li><a href="serie/Housekishou-Richard-shi-no-Nazo-Kantei-The-Case-Files-of">Housekishou Richard-shi no Nazo Kantei | The Case Files of</a></li>
                    </ul>
    </div>
</section>    </div>
<div id="column2" class="column">
            <section id="news">
    <header>
        <h3>News</h3>
        <span></span>
    </header>
    <div>
                    <div class="lSSlideOuter "><div class="lSSlideWrapper usingCss"><ul class="lightSlider lsGrab" style="width: 3888px; transform: translate3d(-432px, 0px, 0px); height: 155px; padding-bottom: 0%;"><li class="clone left" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/450">
                                                                Umgangston in der Shoutbox
                            </a>
                            <time>25/08/2015</time>
                                                    </div>
                        <div class="content">Leider mussten wir feststellen, dass der Umgangston in der Shoutbox immer unannehmbarere Formen annimmt.<br>
<br>
Wir wollen ein angenehmes Miteinander haben und auch über verschiedenste Themen reden. Dafür ist es aber nötig, dass wir untereinander höflich und freundlich agieren und reagieren. Desweiteren ist das Wort eines Teammitglieds in der Shoutbox Gesetz und da ist es völlig egal, ob ein CMod oder ein Admin etwas sagt. Die Gewichtung ist die gleiche!<br>
<br>
Wir werden in Zukunft härter durchgreifen, wenn uns Verfehlungen auffallen.</div>
                    </li>
                                    <li class="lslide active" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/1505">
                                                                Frohes Neues Jahr
                            </a>
                            <time>01/01/2020</time>
                                                    </div>
                        <div class="content">!!! Das BS- Team wünscht allen Usern ein glückliches und vor allem gesundes neues Jahr 2020 !!!!</div>
                    </li>
                                    <li class="lslide" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/1500">
                                                                HD und zwei neue Hoster
                            </a>
                            <time>13/10/2019</time>
                                                    </div>
                        <div class="content">Wir haben uns dazu entschlossen uns von SD zu verabschieden und verlinken nun ausschließlich HD Videos auf allen Hostern.<br>
<br>
Zudem haben wir mit GoUnlimited und Jetload zwei neue Hoster.</div>
                    </li>
                                    <li class="lslide" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/1494">
                                                                Alternative Adresse
                            </a>
                            <time>01/04/2019</time>
                                                    </div>
                        <div class="content"><b>Vodafone</b> und <b>UPC</b> Kunden können Burning Series wieder über unsere neue alternative Domain <a href="https://burningseries.co" target="_blank"><b>burningseries.co</b></a> erreichen. Bitte beachtet: die einzigen offiziellen Domains sind bs.to und burningseries.co. Bei anderen Adressen handelt es sich um Fake Seiten.</div>
                    </li>
                                    <li class="lslide" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/1484">
                                                                Internetsperre
                            </a>
                            <time>18/12/2018</time>
                                                    </div>
                        <div class="content"><p>Einige Internetanbieter, wie <strong>Vodafone</strong>, <em>sperren den Zugriff auf Burning Series</em> und <strong>zensieren</strong> damit euren Internetzugang. Daher empfehlen wir Euch, eure DNS Nameserver auf die IP Adressen von Google <strong>8.8.8.8</strong> und <strong>8.8.4.4</strong> umzustellen.</p><br>
<p>Wie genau das geht, zeigt euch <a href="http://techmixx.de/windows-10-dns-server-aendern-fuer-schnellere-verbindungen/" target="dns"><em>diese Anleitung - klicke <u>hier</u></em></a>.</p></div>
                    </li>
                                    <li class="lslide" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/1128">
                                                                Ladeprobleme? 
                            </a>
                            <time>07/01/2018</time>
                                                    </div>
                        <div class="content">Wir haben es schon mehrfach erklärt, diverse Hoster können an Feiertagen u. Wochenende aufgrund der erhöhten Nachfrage Probleme beim laden aufweisen.<br>
Bitte meldet in diesem Fall nicht die Videos defekt und wartet einfach etwas ab. Danke </div>
                    </li>
                                    <li class="lslide" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/499">
                                                                Achtung User! 
                            </a>
                            <time>31/07/2016</time>
                                                    </div>
                        <div class="content">Momentan sind diverse Fake-Seiten im Umlauf, die sich als BS ausgeben.<br>
<br>
Diese wollen euch weismachen, dass ihr eine bestimmte Software herunterladen oder etwas bezahlen müsst, um eure Serien zu schauen. <br>
Ihr werdet nie eine Software brauchen oder gar Geld bezahlen müssen, um bei bs.to Serien zu schauen!</div>
                    </li>
                                    <li class="lslide" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/450">
                                                                Umgangston in der Shoutbox
                            </a>
                            <time>25/08/2015</time>
                                                    </div>
                        <div class="content">Leider mussten wir feststellen, dass der Umgangston in der Shoutbox immer unannehmbarere Formen annimmt.<br>
<br>
Wir wollen ein angenehmes Miteinander haben und auch über verschiedenste Themen reden. Dafür ist es aber nötig, dass wir untereinander höflich und freundlich agieren und reagieren. Desweiteren ist das Wort eines Teammitglieds in der Shoutbox Gesetz und da ist es völlig egal, ob ein CMod oder ein Admin etwas sagt. Die Gewichtung ist die gleiche!<br>
<br>
Wir werden in Zukunft härter durchgreifen, wenn uns Verfehlungen auffallen.</div>
                    </li>
                            <li class="clone right" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/1505">
                                                                Frohes Neues Jahr
                            </a>
                            <time>01/01/2020</time>
                                                    </div>
                        <div class="content">!!! Das BS- Team wünscht allen Usern ein glückliches und vor allem gesundes neues Jahr 2020 !!!!</div>
                    </li></ul></div><ul class="lSPager lSpg" style="margin-top: 5px;"><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li><a href="#">6</a></li><li><a href="#">7</a></li></ul></div>
            </div>
</section>
<link href="/public/slider.css" rel="stylesheet">
<script src="/public/scripts/slider.js"></script>
<script>
    $(document).ready (function () {
        $('section#news ul').lightSlider ({
            adaptiveHeight: true,
            pauseOnHover: true,
            controls: false,
            loop: true,
            auto: true,
            item: 1,
            pause: 20000,
            slideMargin: 0
        });
    });
</script>            <section id="shoutbox">
    <header>
        <h3>Chat</h3>
    </header>
    <div>
        <dl id="sbPosts">
                            <dt data-id="3558986" data-user="chrisx47b">
                    <a href="user/chrisx47b"><i class="rank user"></i>chrisx47b</a>
                    <time>19:07:27</time>
                                    </dt>
                <dd data-id="3558986" data-user="chrisx47b">
                    *hust* bei der Lupe den Namen des Filmes eingeben==&gt;<a href="https://imgur.com/a/UF2bNzL" target="_blank">imgur.com/a/UF2bNzL</a>
                </dd>
                            <dt data-id="3558985" data-user="dickusbiggus">
                    <a href="user/dickusbiggus"><i class="rank mod"></i>dickusbiggus</a>
                    <time>19:04:38</time>
                                    </dt>
                <dd data-id="3558985" data-user="dickusbiggus">
                    dir nen Film raussuchen, der nen funktionierenden Hoster dabei hat...such einfach durch
                </dd>
                            <dt data-id="3558984" data-user="dickusbiggus">
                    <a href="user/dickusbiggus"><i class="rank mod"></i>dickusbiggus</a>
                    <time>19:04:07</time>
                                    </dt>
                <dd data-id="3558984" data-user="dickusbiggus">
                    jo..ich kann mich dort nicht einschalten, um zu helfen, aber allgemeine Tipps kann ich dazu geben,,ist ja unser Partner <img src="/public/images/emojis/heart.png" alt="<3" title="<3" class="sb_smiley">
                </dd>
                            <dt data-id="3558983" data-user="Jul">
                    <a href="user/Jul"><i class="rank user"></i>Jul</a>
                    <time>19:03:49</time>
                                    </dt>
                <dd data-id="3558983" data-user="Jul">
                    was muss ich machen?
                </dd>
                            <dt data-id="3558982" data-user="dickusbiggus">
                    <a href="user/dickusbiggus"><i class="rank mod"></i>dickusbiggus</a>
                    <time>19:03:08</time>
                                    </dt>
                <dd data-id="3558982" data-user="dickusbiggus">
                    für Quiet Place gibts leider kein Vivo, nur FlashX (das kommt öfters vor)
                </dd>
                            <dt data-id="3558981" data-user="chrisx47b">
                    <a href="user/chrisx47b"><i class="rank user"></i>chrisx47b</a>
                    <time>19:02:40</time>
                                    </dt>
                <dd data-id="3558981" data-user="chrisx47b">
                    meint ihr nicht immer cine.to ist nicht die Baustelle von bs.to? <img src="/public/images/emojis/tongue_out.png" alt=":P" title=":P" class="sb_smiley">
                </dd>
                            <dt data-id="3558980" data-user="Jul">
                    <a href="user/Jul"><i class="rank user"></i>Jul</a>
                    <time>19:02:29</time>
                                    </dt>
                <dd data-id="3558980" data-user="Jul">
                    ja ich gebe das ja ein, aber ich weiss nicht wie ich auf VIVo umschalten kann
                </dd>
                            <dt data-id="3558979" data-user="dickusbiggus">
                    <a href="user/dickusbiggus"><i class="rank mod"></i>dickusbiggus</a>
                    <time>19:01:50</time>
                                    </dt>
                <dd data-id="3558979" data-user="dickusbiggus">
                    ich helfe wo ich kann, wenn ich schon hier reinglotze!
                </dd>
                            <dt data-id="3558978" data-user="chrisx47b">
                    <a href="user/chrisx47b"><i class="rank user"></i>chrisx47b</a>
                    <time>19:00:46</time>
                                    </dt>
                <dd data-id="3558978" data-user="chrisx47b">
                    @db machst schon den support für cine.to?^^
                </dd>
                            <dt data-id="3558977" data-user="Jul">
                    <a href="user/Jul"><i class="rank user"></i>Jul</a>
                    <time>18:59:52</time>
                                    </dt>
                <dd data-id="3558977" data-user="Jul">
                    allgemein kinofilme
                </dd>
                            <dt data-id="3558976" data-user="Jul">
                    <a href="user/Jul"><i class="rank user"></i>Jul</a>
                    <time>18:59:20</time>
                                    </dt>
                <dd data-id="3558976" data-user="Jul">
                    quiet place
                </dd>
                            <dt data-id="3558975" data-user="dickusbiggus">
                    <a href="user/dickusbiggus"><i class="rank mod"></i>dickusbiggus</a>
                    <time>18:58:23</time>
                                    </dt>
                <dd data-id="3558975" data-user="dickusbiggus">
                    was willst du denn genau anschauen?
                </dd>
                            <dt data-id="3558974" data-user="dickusbiggus">
                    <a href="user/dickusbiggus"><i class="rank mod"></i>dickusbiggus</a>
                    <time>18:57:46</time>
                                    </dt>
                <dd data-id="3558974" data-user="dickusbiggus">
                    du gibst oben den Titel ein oder klickst auf ein Cover...dann auf nen Hoster (Vivo) klicken und los...
                </dd>
                            <dt data-id="3558973" data-user="Jul">
                    <a href="user/Jul"><i class="rank user"></i>Jul</a>
                    <time>18:56:10</time>
                                    </dt>
                <dd data-id="3558973" data-user="Jul">
                    bin zu dumm, was muss ich machen damit ich auf cine,to schauen kann
                </dd>
                            <dt data-id="3558972" data-user="dickusbiggus">
                    <a href="user/dickusbiggus"><i class="rank mod"></i>dickusbiggus</a>
                    <time>18:52:51</time>
                                    </dt>
                <dd data-id="3558972" data-user="dickusbiggus">
                    nein
                </dd>
                            <dt data-id="3558971" data-user="Jul">
                    <a href="user/Jul"><i class="rank user"></i>Jul</a>
                    <time>18:52:40</time>
                                    </dt>
                <dd data-id="3558971" data-user="Jul">
                    bei cine.to/ muss man sich da anmelden?
                </dd>
                            <dt data-id="3558970" data-user="dickusbiggus">
                    <a href="user/dickusbiggus"><i class="rank mod"></i>dickusbiggus</a>
                    <time>18:51:28</time>
                                    </dt>
                <dd data-id="3558970" data-user="dickusbiggus">
                    oder meinst du Maid?<br>
<a href="https://www.fernsehserien.de/news/maid-margot-robbie-produziert-neue-netflix-serie" target="_blank">www.fernsehserien.de/news/maid-margot-robbie-produziert-neue-netflix-serie</a>
                </dd>
                            <dt data-id="3558969" data-user="Spiegelmond">
                    <a href="user/Spiegelmond"><i class="rank user"></i>Spiegelmond</a>
                    <time>18:51:25</time>
                                    </dt>
                <dd data-id="3558969" data-user="Spiegelmond">
                    <img src="/public/images/emojis/smiling.png" alt=":)" title=":)" class="sb_smiley">
                </dd>
                            <dt data-id="3558968" data-user="dickusbiggus">
                    <a href="user/dickusbiggus"><i class="rank mod"></i>dickusbiggus</a>
                    <time>18:50:06</time>
                                    </dt>
                <dd data-id="3558968" data-user="dickusbiggus">
                    <a href="https://bs.to/serie/Harley-Quinn" target="_blank">bs.to/serie/Harley-Quinn</a>
                </dd>
                            <dt data-id="3558967" data-user="maggipower">
                    <a href="user/maggipower"><i class="rank user"></i>maggipower</a>
                    <time>18:48:34</time>
                                    </dt>
                <dd data-id="3558967" data-user="maggipower">
                    Weiß jemand zufällig wie Serie heißt mit harley Quinn die neu kommt ^^?
                </dd>
                            <dt data-id="3558966" data-user="Jul">
                    <a href="user/Jul"><i class="rank user"></i>Jul</a>
                    <time>18:48:22</time>
                                    </dt>
                <dd data-id="3558966" data-user="Jul">
                    danke,muss man sich da auch anmelden?
                </dd>
                            <dt data-id="3558965" data-user="HollowIchigo">
                    <a href="user/HollowIchigo"><i class="rank user"></i>HollowIchigo</a>
                    <time>18:42:47</time>
                                    </dt>
                <dd data-id="3558965" data-user="HollowIchigo">
                    wenns bei ner serie dazu gehört ja, ansonsten <a href="https://cine.to/" target="_blank">cine.to/</a>
                </dd>
                            <dt data-id="3558964" data-user="Spiegelmond">
                    <a href="user/Spiegelmond"><i class="rank user"></i>Spiegelmond</a>
                    <time>18:42:44</time>
                                    </dt>
                <dd data-id="3558964" data-user="Spiegelmond">
                    Boa ey Alder,Ranzen voll   <a href="https://cine.to/" target="_blank">cine.to/</a>
                </dd>
                            <dt data-id="3558963" data-user="Jul">
                    <a href="user/Jul"><i class="rank user"></i>Jul</a>
                    <time>18:41:46</time>
                                    </dt>
                <dd data-id="3558963" data-user="Jul">
                    Kann man hier Filme ansehen?
                </dd>
                            <dt data-id="3558962" data-user="Robocop00">
                    <a href="user/Robocop00"><i class="rank user"></i>Robocop00</a>
                    <time>18:36:59</time>
                                    </dt>
                <dd data-id="3558962" data-user="Robocop00">
                    Moin
                </dd>
                    </dl>
            </div>
</section>    </div>
<div class="clearfix"></div>
<script>home.init ();</script>							</section>