<article id="post-42046" class="post-42046 page type-page status-publish hentry">
    <header class="entry-header">
        <h1 class="entry-title">Privacy Policy</h1>
    </header><!-- .entry-header -->

    <div class="entry-content">
        <div class="vc_row wpb_row vc_row-fluid privacy_text_row"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><h2 style="text-align: left" class="vc_custom_heading h1">Privacy Policy</h2>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p><strong>What do we do with your information?</strong><br>
When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address.</p>
<p>When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.</p>
<p>Email marketing (if applicable): With your permission, we may send you emails about our store, new products and other updates.</p>
<p><strong>How do you get my consent?</strong><br>
When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.</p>
<p>If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.</p>
<p><strong>How do I withdraw my consent?</strong><br>
If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at info@opheliaswimwear.com or mailing us at: Ophelia.</p>
<p><strong>Payment</strong><br>
All direct payment gateways adhere to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover.</p>
<p>For more insight, you may also want to read Shopify’s Terms of Service here or Privacy Statement here.</p>
<p><strong>Third-Party Services</strong><br>
In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.</p>
<p>However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.</p>
<p>For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.</p>
<p>In particular, remember that certain providers may be located in or have facilities that are located in a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.</p>
<p>As an example, if you are located in Canada and your transaction is processed by a payment gateway located in the United States, then your personal information used in completing that transaction may be subject to disclosure under United States legislation, including the Patriot Act.</p>
<p>Once you leave our store’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.</p>

		</div>
	</div>
</div></div></div></div>
 
        <div class="clearfix"></div>
            </div><!-- .entry-content -->

    <footer class="entry-meta">
         
    </footer>
</article>