<section class="home">
													<div class="messageBox error">Seite nicht gefunden</div>
													<h2 style="clear:right;">
	Startseite
        </h2>
    <section id="teaser">
        <header><h3>ZENSUR IM INTERNET</h3></header>
        <div style="text-align: justify;">
            Die Internetanbieter <b>Vodafone</b> und <b>UPC Austria</b> zensieren euren Internetzugang und blockieren Websiten wie <b>BS.to</b>.<br>
            Betroffene können Burning Series über unsere alternative Domain <a href="https://burningseries.co/"><b style="color:#ed00b1;">burningseries.co</b></a> erreichen.<br><br>
            Um sich vor der Zensur zu schützen, empfehlen wir eure DNS Server auf die von Google <b>8.8.8.8</b> und <b>8.8.4.4</b> oder Cloudflare <a href="https://1.1.1.1/" target="_blank"><b>1.1.1.1</b></a> und <b>1.0.0.1</b> umzustellen.
            <a href="https://developers.cloudflare.com/1.1.1.1/setting-up-1.1.1.1/" target="_blank"><u>Diese Anleitung</u></a> zeigt euch wie einfach das geht. <a href="https://play.google.com/store/apps/details?id=com.cloudflare.onedotonedotonedotone" target="android"><u>Android</u></a> und <a href="https://itunes.apple.com/us/app/1-1-1-1-faster-internet/id1423538627" target="ios"><u>iOS</u></a> Benutzer können die 
            <a href="https://one.one.one.one/" target="cloudflare"><b>Cloudflare App</b></a> für unzensiertes und schnelleres Internet kostenfrei benutzen.
        </div>
    </section>
    <section id="teaser">
        <header><h3>Burning Series - Die Simpsons und viele Serien online sehen</h3></header>
        <div>
            <p>Auf Burning Series kannst du die <strong><a href="serie/Die-Simpsons/1">Simpsons</a></strong>
                und zahlreiche weitere Serien <strong>kostenlos online sehen</strong>!
                Wir bieten dir mehr als <strong><a href="andere-serien">4000 verschiedene Serien</a></strong> an,
                darunter auch <em><a href="serie/How-I-Met-Your-Mother/1">How I Met Your Mother</a></em>, 
                <em><a href="serie/The-Big-Bang-Theory">The Big Bang Theory</a></em> 
                und <em><a href="serie/Two-and-a-Half-Men/1">Two and a Half Men</a></em>.
        </p></div>
    </section>
<div id="column1" class="column">
            <section id="newest_episodes">
	<header>
		<h3>Neueste Episoden</h3>
	</header>
	<div>
					<ul>
									<li>
						<a href="serie/The-Passage/1/5-Der-Schrei/de" title="The Passage:  Der Schrei" class="title">The Passage</a>
												<div class="info">S01 E05<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/Boruto-Naruto-Next-Generations/1/140-The-Mind-Jutsu-that-Lost-to-Potato-Chips/des" title="Boruto: Naruto Next Generations: The Mind Jutsu that Lost to Potato Chips" class="title">Boruto: Naruto Next Generations</a>
												<div class="info">S01 E140<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Harley-Quinn/1/7-The-Line/en" title="Harley Quinn: The Line" class="title">Harley Quinn</a>
												<div class="info">S01 E07<i class="flag flag-en" title="English"></i></div>
					</li>
									<li>
						<a href="serie/The-L-Word-Generation-Q/1/7-Lose-it-All/en" title="The L Word: Generation Q: Lose it All" class="title">The L Word: Generation Q</a>
												<div class="info">S01 E07<i class="flag flag-en" title="English"></i></div>
					</li>
									<li>
						<a href="serie/Shameless/10/11-Location-Location-Location/en" title="Shameless - Nicht ganz nüchtern: Location, Location, Location" class="title">Shameless - Nicht ganz nüchtern</a>
												<div class="info">S10 E11<i class="flag flag-en" title="English"></i></div>
					</li>
									<li>
						<a href="serie/Ray-Donovan/7/10-You-ll-Never-Walk-Alone/en" title="Ray Donovan: You'll Never Walk Alone" class="title">Ray Donovan</a>
												<div class="info">S07 E10<i class="flag flag-en" title="English"></i></div>
					</li>
									<li>
						<a href="serie/Power/6/13-It-s-All-Your-Fault/en" title="Power: It's All Your Fault" class="title">Power</a>
												<div class="info">S06 E13<i class="flag flag-en" title="English"></i></div>
					</li>
									<li>
						<a href="serie/InuYasha/2/3-Jinenji-der-sanfte-Riese/de" title="InuYasha: Jinenji, der sanfte Riese " class="title">InuYasha</a>
												<div class="info">S02 E03<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/One-Piece/20/29-It-s-On-The-Special-Operation-to-Bring-Down-Kaido-Episode-918/des" title="One Piece: It's On! The Special Operation to Bring Down Kaido! |Episode 918|" class="title">One Piece</a>
												<div class="info">S20 E29<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Boku-no-Tonari-ni-Ankoku-Hakaishin-ga-Imasu/1/2-Eyes-On-Me/des" title="Boku no Tonari ni Ankoku Hakaishin ga Imasu.: Eyes On Me" class="title">Boku no Tonari ni Ankoku Hakaishin ga Imasu.</a>
												<div class="info">S01 E02<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Ishuzoku-Reviewers-Interspecies-Reviewers/1/2-Fairies-Have-Limits-on-What-They-Can-Take/des" title="Ishuzoku Reviewers | Interspecies Reviewers: Fairies Have Limits on What They Can Take" class="title">Ishuzoku Reviewers | Interspecies Reviewers</a>
												<div class="info">S01 E02<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Fate-Grand-Order-Zettai-Majuu-Sensen-Babylonia/1/14-Decisive-Battle/des" title="Fate/Grand Order: Zettai Majuu Sensen Babylonia: Decisive Battle" class="title">Fate/Grand Order: Zettai Majuu Sensen Babylonia</a>
												<div class="info">S01 E14<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Magia-Record-Mahou-Shoujo-Madoka-Magica-Gaiden/1/3-Sorry-For-Making-You-My-Friend/des" title="Magia Record: Mahou Shoujo Madoka Magica Gaiden: Sorry For Making You My Friend" class="title">Magia Record: Mahou Shoujo Madoka Magica Gaiden</a>
												<div class="info">S01 E03<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Legacies/1/9-Warum-war-Hope-in-deinen-Traeumen/de" title="Legacies:  Warum war Hope in deinen Träumen?" class="title">Legacies</a>
												<div class="info">S01 E09<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/Get-Shorty/3/3-Saubere-Sache/de" title="Get Shorty:  Saubere Sache" class="title">Get Shorty</a>
												<div class="info">S03 E03<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/He-Man-and-the-Masters-of-the-Universe/1/1-Der-kosmische-Komet/de" title="He-Man and the Masters of the Universe: Der kosmische Komet" class="title">He-Man and the Masters of the Universe</a>
												<div class="info">S01 E01<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/The-Good-Doctor/1/1-Ein-aussergewoehnliches-Talent/de" title="The Good Doctor: Ein außergewöhnliches Talent" class="title">The Good Doctor</a>
												<div class="info">S01 E01<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/Younger/4/1-Wahrheit-ist-relativ/de" title="Younger: Wahrheit ist relativ" class="title">Younger</a>
												<div class="info">S04 E01<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/Mugen-no-Juunin-Immortal-Blade-of-the-Immortal-2019/1/13-Act-Thirteen-Twilight/des" title="Mugen no Juunin Immortal | Blade of the Immortal (2019):  Act Thirteen - Twilight " class="title">Mugen no Juunin Immortal | Blade of the Immortal (2019)</a>
												<div class="info">S01 E13<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Mairimashita-Iruma-kun-Welcome-to-Demon-School-Iruma-kun/1/16-Party-Eve/des" title="Mairimashita! Iruma-kun | Welcome to Demon-School, Iruma-kun: Party Eve" class="title">Mairimashita! Iruma-kun | Welcome to Demon-School, Iruma-kun</a>
												<div class="info">S01 E16<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
							</ul>
			</div>
</section>            <section id="newest_series">
    <header>
        <h3>Neueste Serien</h3>
    </header>
    <div>
        <ul>
            				<li><a href="serie/The-New-Pope">The New Pope</a></li>
            				<li><a href="serie/Kyokou-Suiri-In-Spectre">Kyokou Suiri | In/Spectre</a></li>
            				<li><a href="serie/Boku-no-Tonari-ni-Ankoku-Hakaishin-ga-Imasu">Boku no Tonari ni Ankoku Hakaishin ga Imasu.</a></li>
            				<li><a href="serie/22-7">22/7</a></li>
            				<li><a href="serie/Ishuzoku-Reviewers-Interspecies-Reviewers">Ishuzoku Reviewers | Interspecies Reviewers</a></li>
            				<li><a href="serie/Oda-Shinamon-Nobunaga">Oda Shinamon Nobunaga</a></li>
            				<li><a href="serie/Jibaku-Shounen-Hanako-kun-Toilet-Bound-Hanako-kun">Jibaku Shounen Hanako-kun | Toilet-Bound Hanako-kun</a></li>
            				<li><a href="serie/Runway-de-Waratte-Smile-Down-the-Runway">Runway de Waratte | Smile Down the Runway</a></li>
            				<li><a href="serie/Re-ZERO-Starting-Life-in-Another-World-Director-s-Cut">Re:ZERO - Starting Life in Another World: Director's Cut</a></li>
            				<li><a href="serie/Housekishou-Richard-shi-no-Nazo-Kantei-The-Case-Files-of">Housekishou Richard-shi no Nazo Kantei | The Case Files of</a></li>
                    </ul>
    </div>
</section>    </div>
<div id="column2" class="column">
            <section id="news">
    <header>
        <h3>News</h3>
        <span></span>
    </header>
    <div>
                    <div class="lSSlideOuter "><div class="lSSlideWrapper usingCss"><ul class="lightSlider lsGrab" style="width: 3888px; transform: translate3d(-432px, 0px, 0px); height: 155px; padding-bottom: 0%;"><li class="clone left" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/450">
                                                                Umgangston in der Shoutbox
                            </a>
                            <time>25/08/2015</time>
                                                    </div>
                        <div class="content">Leider mussten wir feststellen, dass der Umgangston in der Shoutbox immer unannehmbarere Formen annimmt.<br>
<br>
Wir wollen ein angenehmes Miteinander haben und auch über verschiedenste Themen reden. Dafür ist es aber nötig, dass wir untereinander höflich und freundlich agieren und reagieren. Desweiteren ist das Wort eines Teammitglieds in der Shoutbox Gesetz und da ist es völlig egal, ob ein CMod oder ein Admin etwas sagt. Die Gewichtung ist die gleiche!<br>
<br>
Wir werden in Zukunft härter durchgreifen, wenn uns Verfehlungen auffallen.</div>
                    </li>
                                    <li class="lslide active" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/1505">
                                                                Frohes Neues Jahr
                            </a>
                            <time>01/01/2020</time>
                                                    </div>
                        <div class="content">!!! Das BS- Team wünscht allen Usern ein glückliches und vor allem gesundes neues Jahr 2020 !!!!</div>
                    </li>
                                    <li class="lslide" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/1500">
                                                                HD und zwei neue Hoster
                            </a>
                            <time>13/10/2019</time>
                                                    </div>
                        <div class="content">Wir haben uns dazu entschlossen uns von SD zu verabschieden und verlinken nun ausschließlich HD Videos auf allen Hostern.<br>
<br>
Zudem haben wir mit GoUnlimited und Jetload zwei neue Hoster.</div>
                    </li>
                                    <li class="lslide" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/1494">
                                                                Alternative Adresse
                            </a>
                            <time>01/04/2019</time>
                                                    </div>
                        <div class="content"><b>Vodafone</b> und <b>UPC</b> Kunden können Burning Series wieder über unsere neue alternative Domain <a href="https://burningseries.co" target="_blank"><b>burningseries.co</b></a> erreichen. Bitte beachtet: die einzigen offiziellen Domains sind bs.to und burningseries.co. Bei anderen Adressen handelt es sich um Fake Seiten.</div>
                    </li>
                                    <li class="lslide" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/1484">
                                                                Internetsperre
                            </a>
                            <time>18/12/2018</time>
                                                    </div>
                        <div class="content"><p>Einige Internetanbieter, wie <strong>Vodafone</strong>, <em>sperren den Zugriff auf Burning Series</em> und <strong>zensieren</strong> damit euren Internetzugang. Daher empfehlen wir Euch, eure DNS Nameserver auf die IP Adressen von Google <strong>8.8.8.8</strong> und <strong>8.8.4.4</strong> umzustellen.</p><br>
<p>Wie genau das geht, zeigt euch <a href="http://techmixx.de/windows-10-dns-server-aendern-fuer-schnellere-verbindungen/" target="dns"><em>diese Anleitung - klicke <u>hier</u></em></a>.</p></div>
                    </li>
                                    <li class="lslide" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/1128">
                                                                Ladeprobleme? 
                            </a>
                            <time>07/01/2018</time>
                                                    </div>
                        <div class="content">Wir haben es schon mehrfach erklärt, diverse Hoster können an Feiertagen u. Wochenende aufgrund der erhöhten Nachfrage Probleme beim laden aufweisen.<br>
Bitte meldet in diesem Fall nicht die Videos defekt und wartet einfach etwas ab. Danke </div>
                    </li>
                                    <li class="lslide" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/499">
                                                                Achtung User! 
                            </a>
                            <time>31/07/2016</time>
                                                    </div>
                        <div class="content">Momentan sind diverse Fake-Seiten im Umlauf, die sich als BS ausgeben.<br>
<br>
Diese wollen euch weismachen, dass ihr eine bestimmte Software herunterladen oder etwas bezahlen müsst, um eure Serien zu schauen. <br>
Ihr werdet nie eine Software brauchen oder gar Geld bezahlen müssen, um bei bs.to Serien zu schauen!</div>
                    </li>
                                    <li class="lslide" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/450">
                                                                Umgangston in der Shoutbox
                            </a>
                            <time>25/08/2015</time>
                                                    </div>
                        <div class="content">Leider mussten wir feststellen, dass der Umgangston in der Shoutbox immer unannehmbarere Formen annimmt.<br>
<br>
Wir wollen ein angenehmes Miteinander haben und auch über verschiedenste Themen reden. Dafür ist es aber nötig, dass wir untereinander höflich und freundlich agieren und reagieren. Desweiteren ist das Wort eines Teammitglieds in der Shoutbox Gesetz und da ist es völlig egal, ob ein CMod oder ein Admin etwas sagt. Die Gewichtung ist die gleiche!<br>
<br>
Wir werden in Zukunft härter durchgreifen, wenn uns Verfehlungen auffallen.</div>
                    </li>
                            <li class="clone right" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/1505">
                                                                Frohes Neues Jahr
                            </a>
                            <time>01/01/2020</time>
                                                    </div>
                        <div class="content">!!! Das BS- Team wünscht allen Usern ein glückliches und vor allem gesundes neues Jahr 2020 !!!!</div>
                    </li></ul></div><ul class="lSPager lSpg" style="margin-top: 5px;"><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li><a href="#">6</a></li><li><a href="#">7</a></li></ul></div>
            </div>
</section>
<link href="/public/slider.css" rel="stylesheet">
<script src="/public/scripts/slider.js"></script>
<script>
    $(document).ready (function () {
        $('section#news ul').lightSlider ({
            adaptiveHeight: true,
            pauseOnHover: true,
            controls: false,
            loop: true,
            auto: true,
            item: 1,
            pause: 20000,
            slideMargin: 0
        });
    });
</script>            <section id="shoutbox">
    <header>
        <h3>Chat</h3>
    </header>
    <div>
        <dl id="sbPosts">
                            <dt data-id="3559081" data-user="Kaline">
                    <a href="user/Kaline"><i class="rank smod"></i>Kaline</a>
                    <time>21:08:58</time>
                                    </dt>
                <dd data-id="3559081" data-user="Kaline">
                    denke nicht
                </dd>
                            <dt data-id="3559080" data-user="baba007">
                    <a href="user/baba007"><i class="rank user"></i>baba007</a>
                    <time>21:08:41</time>
                                    </dt>
                <dd data-id="3559080" data-user="baba007">
                    Oh dann hast du aber was verpasst liebe Kaline
                </dd>
                            <dt data-id="3559079" data-user="Kaline">
                    <a href="user/Kaline"><i class="rank smod"></i>Kaline</a>
                    <time>21:08:30</time>
                                    </dt>
                <dd data-id="3559079" data-user="Kaline">
                    kann halt dauern
                </dd>
                            <dt data-id="3559078" data-user="baba007">
                    <a href="user/baba007"><i class="rank user"></i>baba007</a>
                    <time>21:08:23</time>
                                    </dt>
                <dd data-id="3559078" data-user="baba007">
                    <img src="/public/images/emojis/grinning.png" alt=":D" title=":D" class="sb_smiley">
                </dd>
                            <dt data-id="3559077" data-user="Kaline">
                    <a href="user/Kaline"><i class="rank smod"></i>Kaline</a>
                    <time>21:08:18</time>
                                    </dt>
                <dd data-id="3559077" data-user="Kaline">
                    ich schaue die Serie nicht und brauche eh keine Subs
                </dd>
                            <dt data-id="3559076" data-user="baba007">
                    <a href="user/baba007"><i class="rank user"></i>baba007</a>
                    <time>21:08:13</time>
                                    </dt>
                <dd data-id="3559076" data-user="baba007">
                    Kommt die auch sonst noch online ohne dass man sich das wünscht? 
                </dd>
                            <dt data-id="3559075" data-user="Kaline">
                    <a href="user/Kaline"><i class="rank smod"></i>Kaline</a>
                    <time>21:07:58</time>
                                    </dt>
                <dd data-id="3559075" data-user="Kaline">
                    dann hast du wohl gelitten
                </dd>
                            <dt data-id="3559074" data-user="baba007">
                    <a href="user/baba007"><i class="rank user"></i>baba007</a>
                    <time>21:07:44</time>
                                    </dt>
                <dd data-id="3559074" data-user="baba007">
                    Hab ich nicht unbedingt vor ne 
                </dd>
                            <dt data-id="3559073" data-user="Kaline">
                    <a href="user/Kaline"><i class="rank smod"></i>Kaline</a>
                    <time>21:07:34</time>
                                    </dt>
                <dd data-id="3559073" data-user="Kaline">
                    btw auf die Antwort hatte ich schon gewartet..
                </dd>
                            <dt data-id="3559072" data-user="Kaline">
                    <a href="user/Kaline"><i class="rank smod"></i>Kaline</a>
                    <time>21:07:13</time>
                                    </dt>
                <dd data-id="3559072" data-user="Kaline">
                    einen eröffnen?
                </dd>
                            <dt data-id="3559071" data-user="baba007">
                    <a href="user/baba007"><i class="rank user"></i>baba007</a>
                    <time>21:06:54</time>
                                    </dt>
                <dd data-id="3559071" data-user="baba007">
                    @Kaline Danke aber ich hab da keinen Account
                </dd>
                            <dt data-id="3559070" data-user="Kaline">
                    <a href="user/Kaline"><i class="rank smod"></i>Kaline</a>
                    <time>21:06:12</time>
                                    </dt>
                <dd data-id="3559070" data-user="Kaline">
                    Startpost beachten
                </dd>
                            <dt data-id="3559069" data-user="Kaline">
                    <a href="user/Kaline"><i class="rank smod"></i>Kaline</a>
                    <time>21:06:03</time>
                                    </dt>
                <dd data-id="3559069" data-user="Kaline">
                    ** @baba:
                </dd>
                            <dt data-id="3559068" data-user="Kaline">
                    <a href="user/Kaline"><i class="rank smod"></i>Kaline</a>
                    <time>21:05:39</time>
                                    </dt>
                <dd data-id="3559068" data-user="Kaline">
                    @heidjerbua falsche Antwort ^^
                </dd>
                            <dt data-id="3559067" data-user="Kaline">
                    <a href="user/Kaline"><i class="rank smod"></i>Kaline</a>
                    <time>21:05:05</time>
                                    </dt>
                <dd data-id="3559067" data-user="Kaline">
                    *kannst du dir hier wünschen <a href="https://board.bs.to/index.php?/topic/925-untertitel-anfragen/" target="_blank">board.bs.to/index.php?/topic/925-untertitel-anfragen/</a>
                </dd>
                            <dt data-id="3559066" data-user="Kaline">
                    <a href="user/Kaline"><i class="rank smod"></i>Kaline</a>
                    <time>21:04:41</time>
                                    </dt>
                <dd data-id="3559066" data-user="Kaline">
                    @baba: sind fertig <a href="https://www.subcentral.de/index.php?page=Thread&amp;threadID=50333&amp;pageNo=4" target="_blank">www.subcentral.de/index.php?page=Thread&amp;threadID=50333&amp;pageNo=4</a>
                </dd>
                            <dt data-id="3559065" data-user="baba007">
                    <a href="user/baba007"><i class="rank user"></i>baba007</a>
                    <time>21:04:36</time>
                                    </dt>
                <dd data-id="3559065" data-user="baba007">
                    @heidjerbua Das geht nur bis zum 19.01, also heute? 
                </dd>
                            <dt data-id="3559064" data-user="heidjerbua">
                    <a href="user/heidjerbua"><i class="rank user"></i>heidjerbua</a>
                    <time>21:03:09</time>
                                    </dt>
                <dd data-id="3559064" data-user="heidjerbua">
                    @baba   <a href="https://board.bs.to/index.php?/topic/1703-neueste-episoden/&amp;page=5" target="_blank">board.bs.to/index.php?/topic/1703-neueste-episoden/&amp;page=5</a>   schau hier rein
                </dd>
                            <dt data-id="3559063" data-user="BlackAiiimzz">
                    <a href="user/BlackAiiimzz"><i class="rank user"></i>BlackAiiimzz</a>
                    <time>21:02:52</time>
                                    </dt>
                <dd data-id="3559063" data-user="BlackAiiimzz">
                    yare yare daze...
                </dd>
                            <dt data-id="3559062" data-user="dieserjotaro">
                    <a href="user/dieserjotaro"><i class="rank user"></i>dieserjotaro</a>
                    <time>21:01:31</time>
                                    </dt>
                <dd data-id="3559062" data-user="dieserjotaro">
                    Yare Yare Daze
                </dd>
                            <dt data-id="3559061" data-user="baba007">
                    <a href="user/baba007"><i class="rank user"></i>baba007</a>
                    <time>21:00:42</time>
                                    </dt>
                <dd data-id="3559061" data-user="baba007">
                    Wann kommt die neue Supernatural Folge mit Ger Sub?
                </dd>
                            <dt data-id="3559060" data-user="Bobah">
                    <a href="user/Bobah"><i class="rank user"></i>Bobah</a>
                    <time>20:59:24</time>
                                    </dt>
                <dd data-id="3559060" data-user="Bobah">
                    wer sich über poposex lustig macht hat einfach nur angst davor... <img src="/public/images/emojis/smiling.png" alt=":)" title=":)" class="sb_smiley">
                </dd>
                            <dt data-id="3559059" data-user="heidjerbua">
                    <a href="user/heidjerbua"><i class="rank user"></i>heidjerbua</a>
                    <time>20:58:58</time>
                                    </dt>
                <dd data-id="3559059" data-user="heidjerbua">
                    @Kaline , das sei perci's alter geschuldet ;-)
                </dd>
                            <dt data-id="3559058" data-user="Kaline">
                    <a href="user/Kaline"><i class="rank smod"></i>Kaline</a>
                    <time>20:58:33</time>
                                    </dt>
                <dd data-id="3559058" data-user="Kaline">
                    <img src="/public/images/emojis/grinning.png" alt=":D" title=":D" class="sb_smiley">
                </dd>
                            <dt data-id="3559057" data-user="MrMeeseeks">
                    <a href="user/MrMeeseeks"><i class="rank user"></i>MrMeeseeks</a>
                    <time>20:58:19</time>
                                    </dt>
                <dd data-id="3559057" data-user="MrMeeseeks">
                    PErci mein blauer Po ist immer für mich da <img src="/public/images/emojis/grinning.png" alt=":D" title=":D" class="sb_smiley">
                </dd>
                    </dl>
            </div>
</section>    </div>
<div class="clearfix"></div>
<script>home.init ();</script>							</section>