<section class="bui-banner bui-banner--image bui-u-bleed@small" data-bui-component="Banner">
<div class="bui-banner__image-container">
<img class="bui-banner__image" src="https://q-cf.bstatic.com/static/img/bh/bh-sr-banner-2/3980b4f5028904c41d7e28353082b9fc16ab49dc.jpg">
</div>
<div class="bui-banner__content">
<div class="bui-banner__title">Holiday rentals might be an option for you</div>
<p class="bui-banner__text">Find the perfect property for your trip!</p>
<a id="bh_banner_filter" href="/hotel/us/luxurious-montrose-exec-amp-family-condo.en-gb.html?aid=304142&amp;label=gen173nr-1DCBcoggI46AdIM1gEaDuIAQGYAQm4AQbIAQzYAQPoAQH4AQKIAgGoAgO4AtXDkvEFwAIB&amp;sid=1c32376abf7e00a47af64a4c76f04757&amp;dest_id=900063709&amp;dest_type=landmark&amp;group_adults=2&amp;group_children=0&amp;hapos=5&amp;hpos=5&amp;no_rooms=1&amp;sr_order=popularity&amp;srepoch=1579459030&amp;srpvid=f4c982ea937d00cc&amp;ucfs=1&amp;from=searchresults#hotelTmpl" target="_blank" class="bui-button bui-button--secondary bui-banner__button">
<span class="bui-button__text">Show holiday rentals</span>
</a>
</div>
<button type="button" class="bui-banner__close" aria-label="Close" data-bui-ref="banner-close">
<svg class="bk-icon -iconset-close" height="24" role="presentation" width="24" viewBox="0 0 128 128" aria-hidden="true" focusable="false"><path d="M69.7 64l33.1-33.2a4 4 0 0 0-5.6-5.6L64 58.3 30.8 25.2a4 4 0 1 0-5.6 5.6L58.3 64 25.2 97.2a4 4 0 1 0 5.6 5.6L64 69.7l33.2 33.1a4 4 0 0 0 5.6-5.6z"></path></svg>
</button>
</section>