<section id="faqs">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 d-none d-lg-block">
				<div id="left_nav_menu">
    <div class="row">
        <div class="col breadcrumb-simple">
            <p><a href="https://cbeaux.com">Home</a> / Privacy Policy</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <nav>
                <ul class="list-unstyled">
                                            <li class="">
                            <a href="https://cbeaux.com/welcome/frequently-asked-questions/">Frequently Asked Questions</a>
                        </li>
                                            <li class="">
                            <a href="https://cbeaux.com/welcome/shipping-delivery/">Shipping &amp; Delivery</a>
                        </li>
                                            <li class="">
                            <a href="https://cbeaux.com/welcome/refund-policy/">Refund Policy</a>
                        </li>
                                            <li class="">
                            <a href="https://cbeaux.com/welcome/terms-conditions/">Terms &amp; Conditions</a>
                        </li>
                                            <li class="active">
                            <a href="https://cbeaux.com/welcome/privacy-policy/">Privacy Policy</a>
                        </li>
                                            <li class="">
                            <a href="https://cbeaux.com/welcome/contact-us/">Contact Us</a>
                        </li>
                                            <li class="">
                            <a href="https://cbeaux.com/welcome/size-guide/">Size Guide</a>
                        </li>
                                    </ul>
            </nav>
        </div>
    </div>
</div>			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col">
						<h1>Privacy Policy</h1>
					</div>
				</div>
				<div class="row">
					<div class="col faqs-text ">
						<p>&nbsp;</p>
<p>This Privacy Policy Notice applies to information collected online at <a href="http://CBEAUX.com">CBEAUX.com</a>, and explains: (i) the kinds of information we collect; (ii) how we use information we collect; (iii) our information sharing practices; (iv) customer preferences and opt-out choices; and (v) how you may access some of the information you provide to us. We encourage you to refer to this notice periodically so that you understand our current privacy practices. Your access off and use of our website means you agree to the terms in this Notice. If you have any questions, please contact us at: <a href="mailto:customer.care@cbeaux.com">customer.care@cbeaux.com</a>.</p>
<h2>Information We Collect</h2>
<p>We collect information from a variety of sources, including information provided by you, information we collect when you visit our website or stores, transaction information, and information we collect about you from third party sources.</p>
<p>The following are examples of the types of information we may collect:</p>
<ul>
<li>Information you provide: name, address (billing and shipping), e-mail address, telephone number(s), mobile number(s), credit card number(s), birth date, security question answers, etc.</li>
<li>Information associated with the use of our website (e.g., <a href="http://CBEAUX.com">CBEAUX.com</a> uses the information gathered from cookies and web beacons, such as IP address, to enhance your experience on our website).</li>
<li>Information associated with transacting business with us including: transaction information, including the items purchased, and the date and time of your transaction.</li>
<li>Information from third party sources (e.g., we may receive your updated shipping information from a third party carrier).</li>
</ul>
<h2>How We Use Information</h2>
<p>We may use the information we collect to process a transaction, provide products or services you request, improve our website and stores, enhance your shopping experience; and for marketing and promotional purposes. We may combine information about you that we collect online, in our stores, via mobile devices (including mobile applications), and from third party sources.</p>
<h2>Cookies and Other Technologies</h2>
<p>A cookie is a small piece of information sent by a website that is stored on your hard disk by your computer’s browser. A web beacon is an embedded image on a website that monitors a website’s activity.</p>
<p>At <a href="http://CBEAUX.com">CBEAUX.com</a>, we use two kinds of cookies: session cookies and persistent cookies. Session cookies exist only for as long as your browser remains open. Persistent cookies last from visit to visit. They do not go away when you exit your browser.</p>
<p>Managing cookie preferences differs from browser to browser so please refer to your browser for further information. If you would like to disable cookies and web beacons from <a href="http://CBEAUX.com">CBEAUX.com</a>, please use the help function in your web browser to restrict cookies from our website. If you block cookies from <a href="http://CBEAUX.com">CBEAUX.com</a>, you may not be able to make purchases on our website.</p>
<p>A Flash Cookie is a data file stored on your computer by the websites that you visit. From time to time, <a href="http://CBEAUX.com">CBEAUX.com</a> may use Flash Cookies on its website, for example, to enable or control Flash-based content. Flash Cookies provide similar functionality as the cookies (discussed above in this section), but are based on different technology and are persistent; they do not go away when you exit your browser. To manage the Flash Cookie settings and preferences for your computer, please click <a href="#">here</a> and you will be directed to the Settings Manager on Adobe’s website. You may also be able to manage Flash Cookies from your browser, depending on the version of your browser.</p>
<h2>Information Sharing</h2>
<p>We may share your information within <a href="http://CBEAUX.com">CBEAUX.com</a> and its affiliates and subsidiaries. We also may share your information with third parties with whom we have a relationship. Additionally, when you make a purchase, we may share information about you and your transaction with other companies necessary to process your transaction. We may also share your information with third parties, such as companies that provide website optimization services and services and tools related to analytics, to assist in the management of our website and the data we collect through the site, as well as with companies that sell products or provide services that we believe may be of interest to you.</p>
<h2>Customer Preferences and Opt-Out Choices</h2>
<ul>
<li>E-mail: To opt-out of receiving promotional or marketing e-mails from <a href="http://CBEAUX.com">CBEAUX.com</a> at a specific email address, you may:
<ul>
<li>Use the unsubscribe link in the footer of any e-mail sent by <a href="https://CBEAUX.com">CBEAUX.com</a>.</li>
<li>Unsubscribe by signing into your account on <a href="http://CBEAUX.com">CBEAUX.com</a>, click on my profile and indicating you opt-out preference.</li>
</ul>
</li>
</ul>
<p>Note: It may take up to 10 business days to process your request.</p>
<ul>
<li>My Customer Survey Emails: We separately may send surveys, via e-mail, to our customers in order to collect opinions and feedback about their shopping experiences. To opt-out of receiving survey e-mails from <a href="http://CBEAUX.com">CBEAUX.com</a>, you may use the unsubscribe link at the bottom of any survey e-mail.</li>
<li>Third Party Sharing: If you prefer that we not disclose your information to third parties for marketing purposes, please contact us at: <a href="mailto:info@cbeaux.com">info@cbeaux.com</a>.</li>
</ul>
<h2>Do Not Track</h2>
<p>Currently, (i) other parties (e.g. third-party advertising networks and analytics providers) may not collect personal information about your online activities over time and across different websites when you use our website or services, and (ii) we do not respond to, or take any specific action in connection with the receipt of, Do-Not-Track signals or other similar mechanisms regarding the collection of personally identifiable information about an individual consumer’s online activities over time and across third-party websites or online services.</p>
<h2>Analytic Tools</h2>
<p>CBEAUX is currently using certain Google Analytics tools on its website and may, in the future, implement additional analytics tools, including tools developed by other third parties and by mPort itself. However, data collected as a result of our use of such tools is only used internally to enhance our users’ experience using, CBEAUX website and for our own internal business purposes. Such data is shared with our partners and advertisers, if at all, only as aggregate information and as otherwise specified in this privacy policy. Also, please note that by using Ads Settings you may be able to opt-out of Google Analytics. Please contact us if you have any specific questions regarding our use of Google Analytics or other analytics tools.</p>
<h2>Access Your Information</h2>
<p>If you are a registered user of <a href="http://CBEAUX.com">CBEAUX.com</a>, you can update your information by contacting us at: <a href="mailto:info@cbeaux.com">info@cbeaux.com</a>.</p>
<h2>Information About Children Under 13</h2>
<p>The Children’s Online Privacy Protection Act imposes requirements on websites that collect personal information about children under 13. Our website is not intended for or directed to children under the age of 13. Our policy is not to collect personal information on any person under 13. If you are under the age of 13 you should not provide us with any such information or use our products or services.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>