<body>
<div class="page static-error">
    <div class="header-popup">
        <div class="header">
            <div class="error-logo">
                <a title="Zur mobile.de Startseite" href="/">
                    <img src="/static/resources/images/mobile.de.gif" alt="mobile.de Logo">
                </a>
            </div>
            <div class="error-link">
                <a class="infoLink" href="/">Zur mobile.de Startseite</a>
            </div>
            <div class="clearer"> </div>
            <!-- rounded corners -->
            <span class="rc tl">&nbsp;</span><span class="rc tr">&nbsp;</span><span class="rc bl">&nbsp;</span><span class="rc br">&nbsp;</span>
        </div>
    </div>
    <div class="box error-page-details">
        <div class="box-content">
            <div class="row headline">
                <h1>Es ist ein Fehler aufgetreten.</h1>
            </div>
            <div class="row">
                <div class="errorMessage">
                    <div>
                        <p>
                            <strong>
Ein Händler mit der von Ihnen gesuchten Nummer konnte nicht gefunden werden.							</strong><br>
                            <br>
Bitte wenden Sie sich ggf. an unseren Kundenservice unter +49 (0)30 - 81097 - 500 (Montag – Freitag von 8:00 bis 18:00 Uhr).                        </p>
                    </div>
                    <div class="errorMessageBottom"></div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>