body, .form-control {
  font-size: 0.625rem;
}

#main {
  height: 100%;
}

.header {
  font-size: 0.9rem;
  margin: 1rem 1rem 1rem 0rem;
}

.pagegoal-achieved>img, .pagegoal-achieved>.spinner-border {
  width: 0.625rem;
  height: 0.625rem;
}

.jumbotron {
  margin: 0rem;
  padding: 1rem;
  overflow: auto;
}

#currenturl {
  font-size: 0.75rem;
  text-align: center;
}

#console {
  overflow: auto;
  height: 10rem;
  background-color: white;
}

#urlselect {
  height: 15rem;
}

#pagewebtechs, #pageresults, #taskreport {
  height: 10rem;
}

#pagegoals {
  height: 23.4rem;
}

.control {
  background-color: lightgrey;
}

.webtech-rating-1 {
  color: orange;
}

.webtech-rating-2 {
  color: red;
}

/* primary button */
.btn-primary {
    color: #fff;
    background-color: #429098;
    border-color: #429098
}

.btn-primary:hover {
    color: #fff;
    background-color: #2a5f65;
    border-color: #2a5f65
}

.btn-primary.focus,.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(46,151,162,.5)
}

.btn-primary.disabled,.btn-primary:disabled {
    color: #fff;
    background-color: #69a0a7;
    border-color: #69a0a7;
}

.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2a5f65;
    border-color: #2a5f65
}

.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(46,151,162,.5)
}
