<section id="site-header-top" class="l-page-wrapper">
        <div id="site-logo">
            <div class="logo">
                <a href="/">
                    <img height="40" src="/static/img/common/logo/logo-ebayk-402x80.hsn0x4ev0qi.png" alt="Kleinanzeigen"></a><br>
                <span id="site-logo-claim" class="headline-small">Kostenlos. Einfach. Lokal.</span>
            </div>
        </div>
        <section id="site-signin" class="is-centered-button">
            <div class="login-overlay">
                                <div class="login-overlay--content">
                                    <span class="headline-big">Hallo!</span>
                                    <p>Willkommen bei eBay Kleinanzeigen. Melde dich hier an,
                                        oder erstelle ein neues Konto, damit du:</p>
                                    <a title="Close (Esc)" type="button" class="j-overlay-close overlay-close"></a>
                                    <ul class="list">
                                        <li>
                                            <i class="icon icon-checkmark-green"></i>
                                            <span>Nachrichten senden und empfangen kannst</span>
                                        </li>
                                        <li>
                                            <i class="icon icon-checkmark-green"></i>
                                            <span>Eigene Anzeigen aufgeben kannst</span>
                                        </li>
                                        <li>
                                            <i class="icon icon-checkmark-green"></i>
                                            <span>Für dich interessante Anzeigen siehst</span>
                                        </li>
                                    </ul>
                                    <ul class="login-overlay-buttons">
                                        <li><a class="button j-overlay-login" data-gaevent="Homepage,LoginBegin" href="/m-einloggen.html?targetUrl=/">Einloggen</a>
                                        </li>
                                        <li><a class="button-secondary j-overlay-register" data-gaevent="Homepage,UserRegistrationBegin" href="/m-benutzer-anmeldung.html">Registrieren</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        <nav>
                            <ul class="linklist">
                                <li>
                                    <a class="button" data-gaevent="Homepage,LoginBegin" href="/m-einloggen.html?targetUrl=/">
                                        <i class="button-icon icon-my-white"></i><span>Einloggen</span></a>
                                </li>
                                <li>oder</li>
                                <li><a class="text-medium text-bold" data-gaevent="Homepage,UserRegistrationBegin" href="/m-benutzer-anmeldung.html">Registrieren</a>
                                </li>
                            </ul>
                        </nav>
                    </section>
            </section>