<article class="module subnavteaser">
<span class="anchor_target"><a class="anchor" name="427678"></a></span>
<div class="container-adaptive">
<div class="module-wrapper">
<a class="module-link" title="Contact" href="/en/investor-relations/service/contact"></a> <div class="content-wrapper">
<figure class="media">
<div class="cm-image-wrapper">
<img class="cm-image cm-image--loading rs_skip cm-image--loading cm-image--responsive loading" data-cm-responsive-image="[{&quot;name&quot;:&quot;landscape_ratio16x9&quot;,&quot;ratioWidth&quot;:16,&quot;ratioHeight&quot;:9,&quot;linksForWidth&quot;:{&quot;320&quot;:&quot;/resource/image/438644/landscape_ratio16x9/320/180/a14803f23491e0151fb5066c0391f7fa/mz/bi-flyout-x.png&quot;,&quot;768&quot;:&quot;/resource/image/438644/landscape_ratio16x9/768/432/a14803f23491e0151fb5066c0391f7fa/ob/bi-flyout-x.png&quot;,&quot;1008&quot;:&quot;/resource/image/438644/landscape_ratio16x9/1008/567/a14803f23491e0151fb5066c0391f7fa/Xs/bi-flyout-x.png&quot;,&quot;1296&quot;:&quot;/resource/image/438644/landscape_ratio16x9/1296/729/a14803f23491e0151fb5066c0391f7fa/LF/bi-flyout-x.png&quot;,&quot;3000&quot;:&quot;/resource/image/438644/landscape_ratio16x9/3000/1688/a14803f23491e0151fb5066c0391f7fa/uv/bi-flyout-x.png&quot;}}]" data-cm-retina-image="true" alt="Picture Flyout Teaser Contact" title="Contact" data-ratio="landscape_ratio16x9"><div class="loading" style="padding-top: 56.25%;"></div>
<!-- RSPEAK_STOP -->
<noscript>
<img
src="/resource/image/438644/landscape_ratio16x9/3000/1688/a14803f23491e0151fb5066c0391f7fa/uv/bi-flyout-x.png" alt="Picture Flyout Teaser Contact" title="Contact"
/>
</noscript>
<!-- RSPEAK_START -->
</div>
</figure>
</div>
</div>
</div>
</article>