<article class="
article-layout__content
article-layout__content--center
article-content
a-theme">
  <div class="article-content">
    <header class="article-header">
      <h1 class="a-article-header__title" itemprop="headline">Datenschutzerklärung der Heise Medien GmbH &amp; Co. KG</h1>
    </header>

    <p>Heise Medien nimmt den Schutz personenbezogener Daten sehr ernst. Wir möchten, dass Sie wissen, wann wir welche Daten speichern und wie wir sie verwenden. Als privatrechtliches Unternehmen unterliegen wir den Bestimmungen der europäischen Datenschutzgrundverordnung (DSGVO) und den ergänzenden Regelungen des Bundesdatenschutzgesetzes (BDSG-neu). Um sicherzustellen, dass die Vorschriften über den Datenschutz sowohl von uns als auch von unseren externen Dienstleistern beachtet werden, haben wir geeignete technische und organisatorische Maßnahmen getroffen.</p>
<p>Diese allgemeine Datenschutzerklärung gilt für alle Online-Angebote von Heise Medien. Darunter fallen Websites, Funktionen und Inhalte sowie externe Online-Präsenzen, wie z.B. unsere Social-Media-Profile. Neben den nachfolgenden allgemeinen Angaben und Pflichtinformationen haben wir zusätzliche individuelle Datenschutzinformationen für einzelne Online-Angebote für Sie zusammengestellt. Dort informieren wir Sie über angebotsspezifische Datenverarbeitungsvorgänge und insbesondere über die Zusammenarbeit mit externen Dienstleistern, die unter unserer strengen Kontrolle Leistungen wie Webtracking, Reichweitenmessung oder Werbeleistungen für uns erbringen. </p>
<p>Bei den nachfolgenden Online-Angeboten sind individuelle Datenschutzinformationen zu beachten.</p>
<p><a href="/Individuelle-Datenschutzinformationen-fuer-heise-online-4058147.html">heise online</a> <br> <a href="/Individuelle-Datenschutzinformationen-fuer-den-heise-shop-und-Abonnements-4058176.html">heise shop und Abonnements</a> <br> <a href="/Individuelle-Datenschutzinformationen-fuer-heise-Events-4058183.html">heise Events</a> <br> <a href="/Individuelle-Datenschutzinformationen-fuer-TechStage-4058219.html">TechStage</a> <br> <a href="/Individuelle-Datenschutzinformationen-fuer-mobile-Apps-4058239.html">Mobile Apps</a> </p>
<h3 class="subheading">1. Verantwortlicher<br> </h3>
<p>Verantwortlicher gemäß Art. 4 Abs. 7 DSGVO und anderer nationaler Datenschutzgesetze der Mitgliedsstaaten der Europäischen Union sowie sonstiger datenschutzrechtlicher Bestimmungen ist die</p>
<p>Heise Medien GmbH &amp; Co. KG<br>Karl-Wiechert-Allee 10<br>30625 Hannover<br>Postfach 61 04 07<br>30604 Hannover</p>
<p>Telefon           +49 [0]511 5352-0<br>Fax                 +49 [0]511 5352-129<br>E-Mail             <a href="mailto:webmaster@heise.de">webmaster@heise.de</a><strong><br></strong></p>
<h3 class="subheading">2. Datenschutzbeauftragter<br> </h3>
<p>Für Fragen, Anregungen oder Kommentare zum Thema Datenschutz und zur Durchsetzung Ihrer Rechte wenden Sie sich bitte an unseren Datenschutzbeauftragten: </p>
<p>Joerg Heidrich<br>Datenschutz<br>Heise Medien GmbH &amp; Co. KG<br>Karl-Wiechert-Allee 10<br>30625 Hannover</p>
<p>E-Mail             <a href="mailto:datenschutz@heise.de">datenschutz@heise.de</a></p>
<h3 class="subheading">3. Begriffsbestimmungen</h3>
<p>In unserer Datenschutzerklärung verwenden wir Begriffe, die in der DSGVO verwendet werden und dort definiert sind. Damit Sie wissen, was darunter zu verstehen ist, möchten wir die wichtigsten Begriffe erläutern. </p>
<p><strong>3.1 Personenbezogene Daten</strong></p>
<p>Personenbezogene Daten sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden „betroffene Person“) beziehen. Als identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung (z.B. IP-Adresse oder Cookies) oder zu einem oder mehreren besonderen Merkmalen, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind, identifiziert werden kann.</p>
<p><strong>3.2 Verarbeitung</strong><br> </p>
<p>Verarbeitung ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführte Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten. Darunter fällt im Grunde jeglicher Umgang mit personenbezogenen Daten wie das Erheben, die Speicherung, die Veränderung, die Verwendung, die Übermittlung, Verbreitung, das Löschen oder die Vernichtung etc.</p>
<p><strong>3.3 Verantwortlicher</strong><br> </p>
<p>Als Verantwortlicher gilt die natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten entscheidet. Der Verantwortliche hat die Zulässigkeit der Datenverarbeitung durch den Einsatz von regelmäßig zu überprüfenden technischen und organisatorischen Maßnahmen sicherzustellen.</p>
<p><strong>3.4 Pseudonymisierung</strong></p>
<p>Pseudonymisierung ist die Verarbeitung personenbezogener Daten in einer Weise, dass die personenbezogenen Daten ohne Hinzuziehung zusätzlicher Informationen nicht mehr einer spezifischen betroffenen Person zugeordnet werden können, sofern diese zusätzlichen Informationen gesondert aufbewahrt werden und technischen und organisatorischen Maßnahmen unterliegen, die gewährleisten, dass die personenbezogenen Daten nicht einer identifizierten oder identifizierbaren natürlichen Person zugewiesen werden.</p>
<p><strong>3.5 Auftragsverarbeiter</strong><br> </p>
<p>Ein Auftragsverarbeiter ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die personenbezogene Daten im Auftrag des Verantwortlichen verarbeitet.</p>
<p><strong>3.6 Empfänger</strong><br> </p>
<p>Empfänger ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, denen personenbezogene Daten offengelegt werden, unabhängig davon, ob es sich bei ihr um einen Dritten handelt oder nicht. Behörden, die im Rahmen eines bestimmten Untersuchungsauftrags nach dem Unionsrecht oder dem Recht der Mitgliedstaaten möglicherweise personenbezogene Daten erhalten, gelten jedoch nicht als Empfänger.</p>
<p><strong>3.7 Dritter</strong><br> </p>
<p>Dritter ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, außer der betroffenen Person, dem Verantwortlichen, dem Auftragsverarbeiter und den Personen, die unter der unmittelbaren Verantwortung des Verantwortlichen oder des Auftragsverarbeiters befugt sind, die personenbezogenen Daten zu verarbeiten.</p>
<p><strong>3.8 Einwilligung</strong><br> </p>
<p>Die Einwilligung ist Ausdruck der datenschutzrechtlichen Selbstbestimmung. Sie ist die freiwillige für den bestimmten Fall, in informierter Weise und unmissverständlich abgegebene Willensbekundung in Form einer Erklärung oder einer sonstigen eindeutigen bestätigenden Handlung, mit der die betroffene Person zu verstehen gibt, dass sie mit der Verarbeitung der sie betreffenden personenbezogenen Daten einverstanden ist. Eine erteilte Einwilligung kann jederzeit widerrufen werden.</p>
<h3 class="subheading">4. Allgemeine Informationen zur Datenverarbeitung </h3>
<p><strong>4.1 Umfang der Verarbeitung personenbezogener Daten</strong></p>
<p>Grundsätzlich verarbeiten wir Ihre personenbezogenen Daten nur, soweit dies zur Bereitstellung unserer Online-Angebote, Inhalte und Leistungen erforderlich ist. Die Erhebung und Verwendung Ihrer personenbezogenen Daten erfolgt regelmäßig nur nach einer Einwilligung oder wenn die Verarbeitung der Daten durch gesetzliche Vorschriften gestattet ist.</p>
<p><strong>4.2 Rechtsgrundlagen der Verarbeitung personenbezogener Daten</strong></p>
<p>Im Datenschutz gilt das sogenannte Verbot mit Erlaubnisvorbehalt. Demnach ist eine Verarbeitung personenbezogener Daten grundsätzlich rechtswidrig, es sei denn, es liegt eine Einwilligung des Betroffenen vor oder sie wird durch einen gesetzlich geregelten Erlaubnisgrund legitimiert. Wir sind verpflichtet, Sie über die Rechtsgrundlagen der Datenverarbeitung zu informieren. </p>
<p>Wenn wir für die Verarbeitung personenbezogener Daten Ihre Einwilligung einholen, dient Art. 6 Abs. 1 lit. a DSGVO als Rechtsgrundlage.</p>
<p>Bei Verarbeitungsvorgängen, die zur Erfüllung eines zwischen Ihnen und uns geschlossenen Vertrages oder zur Durchführung vorvertraglicher Maßnahmen erforderlich sind, dient Art. 6 Abs. 1 lit. b DSGVO als Rechtsgrundlage.</p>
<p>Ist die Verarbeitung personenbezogener Daten zur Erfüllung einer rechtlichen Verpflichtung, der wir unterliegen, erforderlich, wie etwa gesetzliche Aufbewahrungs- und Speicherpflichten, dient Art. 6 Abs. 1 lit. c DSGVO als Rechtsgrundlage.</p>
<p>Für den Fall, dass lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen Person eine Verarbeitung personenbezogener Daten erforderlich machen, ist Art. 6 Abs. 1 lit. d DSGVO die Rechtsgrundlage.</p>
<p>Ist die Verarbeitung zur Wahrung unserer oder der berechtigten Interessen eines Dritten erforderlich und überwiegen Ihre Interessen, Grundrechte und Grundfreiheiten das erstgenannte Interesse nicht, so wird die Verarbeitung personenbezogener Daten durch Art. 6 Abs. 1 lit. f DSGVO legitimiert.</p>
<p><strong>4.3 Weitergabe personenbezogener Daten an Dritte und Auftragsverarbeiter</strong></p>
<p>Grundsätzlich geben wir ohne Ihr ausdrückliches Einverständnis keine personenbezogenen Daten an Dritte weiter. Sofern wir im Rahmen der Verarbeitung Ihre Daten dennoch gegenüber Dritten offenbaren, sie an diese übermitteln oder ihnen sonst Zugriff auf die Daten gewähren, erfolgt auch dies ausschließlich auf Grundlage einer der genannten Rechtsgrundlagen. Wir übermitteln Daten z. B. an Zahlungsdienstleister, wenn dies zur Vertragserfüllung erforderlich ist. Wenn wir gesetzlich oder per Gerichtsbeschluss dazu verpflichtet sind, müssen wir Ihre Daten an auskunftsberechtigte Stellen übermitteln.</p>
<p>Teilweise bedienen wir uns zur Verarbeitung Ihrer Daten sorgfältig ausgewählter externer Dienstleister. Sollten im Rahmen einer sogenannten Auftragsverarbeitung Daten an Dienstleister weitergegeben werden, so erfolgt dies auf Grundlage des Art. 28 DSGVO. Unsere Auftragsverarbeiter sind sorgfältig ausgewählt, sind an unsere Weisungen gebunden und werden regelmäßig von uns kontrolliert. Wir beauftragen nur solche Auftragsverarbeiter, die hinreichend Garantien dafür bieten, dass geeignete technische und organisatorische Maßnahmen so getroffen werden, dass die Verarbeitung im Einklang mit den Anforderungen von DSGVO und BDSG-neu erfolgt und den Schutz Ihrer Rechte gewährleistet. </p>
<p><strong>4.4. Datenübermittlung in Drittstaaten</strong></p>
<p>Die DSGVO gewährleistet ein innerhalb der Europäischen Union gleich hohes Datenschutzniveau. Bei der Auswahl unserer Dienstleister und Kooperationspartner setzen wir daher nach Möglichkeit auf europäische Partner, wenn Ihre personenbezogenen Daten verarbeitet werden sollen. Nur in Ausnahmefällen werden wir Daten außerhalb der Europäischen Union oder des Europäischen Wirtschaftsraums im Rahmen der Inanspruchnahme von Diensten Dritter verarbeiten lassen. </p>
<p>Wir lassen eine Verarbeitung Ihrer Daten in einem Drittland nur zu, wenn die besonderen Voraussetzungen der Art. 44 ff. DSGVO erfüllt sind. Das bedeutet, dass die Verarbeitung Ihrer Daten dann nur auf Grundlage besonderer Garantien erfolgen darf, wie etwa die von der EU-Kommission offiziell anerkannte Feststellung eines der EU entsprechenden Datenschutzniveaus oder die Beachtung offiziell anerkannter spezieller vertraglicher Verpflichtungen, der sogenannten „Standardvertragsklauseln“. Von US-amerikanischen Dienstleistern verlangen wir, dass sie diese Standardklauseln nutzen oder sie sich dem „Privacy-Shield“ unterwerfen, dem zwischen der Europäischen Union und den Vereinigten Staaten ausgehandelten Datenschutzabkommen (privacyshield.gov).</p>
<p><strong>4.5 Löschung von Daten und Speicherdauer</strong></p>
<p>Sobald der Zweck für die Speicherung entfällt, werden wir Ihre personenbezogenen Daten löschen oder sperren. Darüber hinaus kann eine Speicherung jedoch erfolgen, wenn dies durch den europäischen oder nationalen Gesetzgeber in EU-Verordnungen, Gesetzen oder sonstigen Vorschriften, denen wir unterliegen, vorgesehen wurde. Das betrifft z. B. Daten, die aus handels- oder steuerrechtlichen Gründen aufbewahrt werden müssen, also etwa Rechnungsdaten für Abonnements. Eine Sperrung oder Löschung Ihrer Daten erfolgt dann, wenn eine durch diese Vorschriften vorgeschriebene Speicherfrist abläuft, es sei denn, dass eine Erforderlichkeit zur weiteren Speicherung der Daten für einen Vertragsabschluss oder eine Vertragserfüllung besteht.</p>
<p><strong>4.6 Bestehen einer automatisierten Entscheidungsfindung</strong><br> </p>
<p>Wir verzichten auf eine automatische Entscheidungsfindung oder ein Profiling.</p>
<h3 class="subheading">5. Betroffenenrechte</h3>
<p>Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie Betroffener im Sinne der DSGVO. Uns gegenüber als Verantwortlichem stehen Ihnen folgende Rechte zu:<br> </p>
<p><strong>5.1 Recht auf Widerruf einer datenschutzrechtlichen Einwilligungserklärung</strong></p>
<p>Sofern die Verarbeitung der personenbezogenen Daten auf einer erteilten Einwilligung beruht, haben Sie jederzeit das Recht, diese Einwilligung zu widerrufen. Durch den Widerruf wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt.</p>
<p><strong>5.2 Recht auf Auskunft</strong></p>
<p>Sie haben das Recht, von uns eine Bestätigung darüber zu verlangen, ob wir Sie betreffende personenbezogene Daten verarbeiten. Sofern dies der Fall ist, können Sie Auskunft über folgende Informationen verlangen: </p>
<ul class="rte__list rte__list--unordered"><li>die Verarbeitungszwecke;</li><li>die Kategorien personenbezogener Daten, die verarbeitet werden;<br></li><li>die Empfänger oder Kategorien von Empfängern, gegenüber denen die personenbezogenen Daten offengelegt worden sind oder noch offengelegt werden, wobei Sie im Zusammenhang mit der Übermittlung an ein Drittland oder an eine internationale Organisation zusätzlich das Recht haben, über die geeigneten Garantien gemäß Art. 46 DSGVO unterrichtet zu werden;</li><li>falls möglich, die geplante Dauer, für die die personenbezogenen Daten gespeichert werden, oder, falls dies nicht möglich ist, die Kriterien für die Festlegung dieser Dauer;</li><li>das Bestehen eines Rechts auf Berichtigung oder Löschung der Sie betreffenden personenbezogenen Daten oder auf Einschränkung der Verarbeitung durch uns oder eines Widerspruchsrechts gegen diese Verarbeitung;</li><li>das Bestehen eines Beschwerderechts bei einer Aufsichtsbehörde;</li><li>wenn die personenbezogenen Daten nicht bei Ihnen erhoben werden, alle verfügbaren Informationen über die Herkunft der Daten;</li><li>das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling gemäß Artikel 22 Absätze 1 und 4 DSGVO und – zumindest in diesen Fällen – aussagekräftige Informationen über die involvierte Logik sowie die Tragweite und die angestrebten Auswirkungen einer derartigen Verarbeitung für die betroffene Person.</li></ul>
<p>Wir stellen Ihnen innerhalb eines Monats nach Eingang Ihres Auskunftsersuchens eine Kopie der personenbezogenen Daten, die Gegenstand der Verarbeitung sind, zur Verfügung. Für alle weiteren Kopien, die Sie beantragen, können wir ein angemessenes Entgelt auf der Grundlage der Verwaltungskosten verlangen. Stellen Sie den Antrag elektronisch, werden wir Ihnen die Informationen in einem gängigen elektronischen Format zur Verfügung stellen, sofern Sie nichts anderes angeben.</p>
<p><strong>5.3 Recht auf Berichtigung</strong></p>
<p>Sie haben das Recht, von uns unverzüglich die Berichtigung Ihrer personenbezogenen Daten zu verlangen, wenn diese unrichtig sind. Unter Berücksichtigung der Zwecke der Verarbeitung haben Sie das Recht, die Vervollständigung unvollständiger personenbezogener Daten – auch mittels einer ergänzenden Erklärung – zu verlangen.</p>
<p><strong>5.4 Recht auf Löschung („Recht auf Vergessen werden“)</strong></p>
<p>Sie haben das Recht, von uns zu verlangen, dass Sie betreffende personenbezogene Daten unverzüglich gelöscht werden, und wir sind verpflichtet, personenbezogene Daten unverzüglich zu löschen, sofern einer der folgenden Gründe zutrifft:</p>
<ul class="rte__list rte__list--unordered"><li>Die personenbezogenen Daten sind für die Zwecke, für die sie erhoben oder auf sonstige Weise verarbeitet wurden, nicht mehr notwendig.</li><li>Sie widerrufen ihre Einwilligung, auf die sich die Verarbeitung stützte, und es fehlt an einer anderweitigen Rechtsgrundlage für die Verarbeitung.</li><li>Sie legen Widerspruch gegen die Verarbeitung ein und es liegen keine vorrangigen berechtigten Gründe für die Verarbeitung vor, oder Sie legen Widerspruch gegen die Verarbeitung ein.</li><li>Die personenbezogenen Daten wurden unrechtmäßig verarbeitet.</li><li>Die Löschung der personenbezogenen Daten ist zur Erfüllung einer rechtlichen Verpflichtung nach dem Unionsrecht oder dem Recht der Mitgliedsstaaten erforderlich.</li><li>Die personenbezogenen Daten wurden in Bezug auf angebotene Dienste der Informationsgesellschaft gemäß Art. 8 Abs. 1 DSGVO erhoben.</li></ul>
<p>Haben wir die Sie betreffenden personenbezogenen Daten öffentlich gemacht und sind wir zu deren Löschung verpflichtet, so treffen wir unter Berücksichtigung der verfügbaren Technologie und der Implementierungskosten angemessene Maßnahmen, auch technischer Art, um für die Datenverarbeitung Verantwortliche, die die personenbezogenen Daten verarbeiten, darüber zu informieren, dass Sie von ihnen die Löschung aller Links zu diesen personenbezogenen Daten oder von Kopien oder Replikationen dieser personenbezogenen Daten verlangt hat.</p>
<p>Das Recht auf Löschung („Recht auf Vergessen werden“) besteht nicht, soweit die Verarbeitung erforderlich ist: </p>
<ul class="rte__list rte__list--unordered"><li>zur Ausübung des Rechts auf freie Meinungsäußerung und Information;</li><li>zur Erfüllung einer rechtlichen Verpflichtung, die die Verarbeitung nach dem Recht der Union oder der Mitgliedsstaaten, dem wir unterliegen, erfordert, oder zur Wahrnehmung einer Aufgabe, die im öffentlichen Interesse liegt oder in Ausübung öffentlicher Gewalt erfolgt, die uns übertragen wurde;</li><li>aus Gründen des öffentlichen Interesses im Bereich der öffentlichen Gesundheit gemäß Art. 9 Abs. 2 lit. h und i sowie Art. 9 Abs. 3 DSGVO;</li><li>für im öffentlichen Interesse liegende Archivzwecke, wissenschaftliche oder historische Forschungszwecke oder für statistische Zwecke gemäß Art. 89 Abs. 1 DSGVO, soweit das Recht auf Löschung voraussichtlich die Verwirklichung der Ziele dieser Verarbeitung unmöglich macht oder ernsthaft beeinträchtigt, oder</li><li>zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen<strong>.</strong></li></ul>
<p><strong>5.5  Recht auf Einschränkung der Verarbeitung</strong></p>
<p>Sie haben das Recht, von uns die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen, wenn eine der folgenden Voraussetzungen gegeben ist:</p>
<ul class="rte__list rte__list--unordered"><li>Sie bestreiten die Richtigkeit der Sie betreffenden personenbezogenen Daten für eine Dauer, die es uns ermöglicht, die Richtigkeit der personenbezogenen Daten zu überprüfen;</li><li>die Verarbeitung ist unrechtmäßig und Sie verlangen anstelle der Löschung die Einschränkung der Nutzung der personenbezogenen Daten;</li><li>wir benötigen die personenbezogenen Daten für die Zwecke der Verarbeitung nicht länger, Sie benötigen diese jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen, oder</li><li>Sie haben Widerspruch gegen die Verarbeitung eingelegt, solange noch nicht feststeht, ob unsere berechtigten Gründe gegenüber Ihren Gründen überwiegen.</li></ul>
<p>Wurde die Verarbeitung gemäß den oben genannten Voraussetzungen eingeschränkt, so werden diese personenbezogenen Daten – von ihrer Speicherung abgesehen – nur mit Ihrer Einwilligung oder zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder juristischen Person oder aus Gründen eines wichtigen öffentlichen Interesses der Union oder eines Mitgliedsstaats verarbeitet. </p>
<p>Wurde die Einschränkung der Verarbeitung nach den oben genannten Voraussetzungen eingeschränkt, werden wir Sie unterrichten, bevor die Einschränkung aufgehoben wird.<br> </p>
<p><strong>5.6  Recht auf Datenübertragbarkeit</strong></p>
<p>Sie haben das Recht, die Sie betreffenden personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten, und Sie haben das Recht, diese Daten einem anderen Verantwortlichen ohne Behinderung durch uns, zu übermitteln, sofern die Verarbeitung auf einer Einwilligung oder auf einem Vertrag beruht und mithilfe automatisierter Verfahren erfolgt.<br> <br>In der Ausübung des Rechts auf Datenübertragbarkeit können Sie erwirken, dass die personenbezogenen Daten direkt von uns zu einem anderen Verantwortlichen übermittelt werden, soweit dies technisch machbar ist. Die Ausübung des Rechts auf Datenübertragbarkeit lässt das Recht auf Löschung („Recht auf Vergessen werden“) unberührt. Dieses Recht gilt nicht für eine Verarbeitung, die für die Wahrnehmung einer uns übertragenen Aufgabe erforderlich ist, die im öffentlichen Interesse liegt oder in Ausübung öffentlicher Gewalt erfolgt.</p>
<p><strong>5.7 Widerspruchsrecht</strong></p>
<p><strong>Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Sie betreffender personenbezogener Daten, die aufgrund von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, Widerspruch einzulegen. Dies gilt auch für ein auf diese Bestimmungen gestütztes Profiling. Wir verarbeiten die personenbezogenen Daten dann nicht mehr, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihren Interessen, Rechten und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</strong></p>
<p><strong>Werden personenbezogene Daten verarbeitet, um Direktwerbung zu betreiben, so haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung Sie betreffender personenbezogener Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht. Widersprechen Sie der Verarbeitung für Zwecke der Direktwerbung, so werden die personenbezogenen Daten nicht mehr für diese Zwecke verarbeitet.</strong></p>
<p><strong>Im Zusammenhang mit der Nutzung von Diensten der Informationsgesellschaft können Sie ungeachtet der ePrivacy-Richtlinie Ihr Widerspruchsrecht mittels automatisierter Verfahren ausüben, bei denen technische Spezifikationen verwendet werden.</strong></p>
<p><strong>5.8 Automatisierte Entscheidungen im Einzelfall einschließlich Profiling</strong></p>
<p>Sie haben das Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung – einschließlich Profiling – beruhenden Entscheidung unterworfen zu werden, die Ihnen gegenüber rechtliche Wirkung entfaltet oder Sie in ähnlicher Weise erheblich beeinträchtigt. Dies gilt nicht, wenn die Entscheidung:</p>
<ul class="rte__list rte__list--unordered"><li>für den Abschluss oder die Erfüllung eines Vertrags zwischen Ihnen und uns erforderlich ist,</li><li>aufgrund von Rechtsvorschriften der Union oder der Mitgliedsstaaten, denen wir unterliegen, zulässig ist und diese Rechtsvorschriften angemessene Maßnahmen zur Wahrung Ihrer Rechte und Freiheiten sowie Ihrer berechtigten Interessen enthalten oder</li><li>mit Ihrer ausdrücklichen Einwilligung erfolgt.</li></ul>
<p>Wir treffen angemessene Maßnahmen, um die Rechte und Freiheiten sowie Ihre berechtigten Interessen zu wahren, wozu mindestens das Recht auf Erwirkung des Eingreifens einer Person seitens des Verantwortlichen, auf Darlegung des eigenen Standpunkts und auf Anfechtung der Entscheidung gehört.</p>
<p><strong>5.9 Recht auf Beschwerde bei einer Aufsichtsbehörde</strong></p>
<p>Sie haben unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs das Recht auf Beschwerde bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedsstaat Ihres Aufenthaltsorts, Ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die DSGVO verstößt.</p>
<h3 class="subheading">6. Nutzung unserer Online-Angebote</h3>
<p>Sie können unser Online-Angebot grundsätzlich ohne Offenlegung Ihrer Identität nutzen. In diesem Abschnitt erläutern wir Ihnen, wann und in welchem Zusammenhang wir bei der Nutzung unserer Online-Angebote Daten verarbeiten, welche Angebote von Dienstleistern und Kooperationspartnern wir implementiert haben, wie diese funktionieren und was mit Ihren Daten geschieht.</p>
<p><strong>6.1 Datenerhebung beim Besuch unserer Websites</strong></p>
<p>Soweit Sie unsere Websites rein informatorisch nutzen, Sie sich also weder registrieren, einen Vertrag mit uns abschließen oder uns anderweitig Informationen offenbaren, erheben wir nur die personenbezogenen Daten, die Ihr Browser an unsere Server übermittelt. Beim Aufruf unserer Websites erheben wir die nachfolgenden Daten, die für uns technisch notwendig sind, um Ihnen unsere Websites anzeigen zu können und Stabilität und Sicherheit zu gewährleisten.</p>
<ul class="rte__list rte__list--unordered"><li>IP-Adresse des Nutzers</li><li>Datum und Uhrzeit der Anfrage</li><li>Inhalt der Anforderung (konkrete Seite)</li><li>Zugriffsstatus/HTTP-Statuscode</li><li>jeweils übertragene Datenmenge</li><li>Website, von der die Anforderung kommt</li><li>Betriebssystem des Nutzers</li><li>Sprache und Version der Browsersoftware.</li></ul>
<p>Diese Daten werden für die Dauer von <strong>maximal sieben Tagen</strong> vorübergehend in den Logfiles unseres Systems gespeichert. Eine darüber hinausgehende Speicherung ist möglich, in diesem Fall werden die IP-Adressen jedoch partiell gelöscht oder verfremdet, sodass eine Zuordnung des aufrufenden Clients nicht mehr möglich ist. Eine Speicherung der Logfiles zusammen mit anderen, Sie betreffenden personenbezogenen Daten findet in diesem Zusammenhang nicht statt. Die Rechtsgrundlage für diese Verarbeitungsvorgänge ist Art. 6 Abs. 1 lit. f DSGVO.</p>
<p>Da die Erfassung der Daten zur Anzeige der Websites und die Speicherung der Daten in Logfiles für den Betrieb unserer Websites und den Erhalt der IT-Sicherheit zwingend erforderlich ist, haben Sie insoweit keine Widerspruchsmöglichkeit.</p>
<p><strong>6.2 Verwendung von Cookies</strong></p>
<p>Neben den zuvor genannten Daten werden bei der Nutzung unserer Websites Cookies während oder auch nach Ihrem Besuch unserer Onlineangebote auf Ihrem Endgerät gespeichert. Hierbei handelt es sich um kleine Text-Pakete, die von einer Website an den Browser geschickt werden können und von diesem gespeichert und wieder zurückgeschickt werden. In Cookies können unterschiedliche Angaben gespeichert werden, die von der Stelle, die den Cookie setzt, ausgelesen werden. Sie enthalten in der Regel eine charakteristische Zeichenfolge (ID), die eine eindeutige Identifizierung des Browsers beim erneuten Aufrufen der Website oder einem Seitenwechsel ermöglicht. Sie dienen in erster Linie dazu, unsere Online-Angebote insgesamt nutzerfreundlicher und effektiver zu gestalten. Die in Cookies erhobenen Daten der Nutzer werden durch technische Vorkehrungen pseudonymisiert, wodurch eine Zuordnung der Daten zum aufrufenden Nutzer in der Regel nicht mehr möglich ist. Soweit eine Identifizierbarkeit gegeben ist, wie etwa bei einem Login-Cookie, dessen Session-ID notwendigerweise mit dem Account des Users verknüpft ist, weisen wir Sie an der entsprechenden Stelle darauf hin.</p>
<p>Wir nutzen verschiedene Arten von Cookies:</p>
<ul class="rte__list rte__list--unordered"><li>Bei transienten Cookies, die auch als temporäre oder „Session-Cookies“ bezeichnet werden, handelt es sich um Cookies, die gelöscht werden, nachdem Sie unser Onlineangebot verlassen und den Browser schließen. In derartigen Cookies werden z. B. Spracheinstellungen oder der Inhalt eines Warenkorbs gespeichert.<br></li><li>Persistente oder permanente Cookies, bleiben auch nach dem Schließen des Browsers gespeichert. So können z. B. der Login-Status oder eingegebene Suchbegriffe gespeichert werden. Solche Cookies nutzen wir unter anderem für Reichweitenmessung oder Marketingzwecke. Persistente Cookies werden automatisiert nach einer vorgegebenen Dauer gelöscht, die sich je nach Cookie unterscheiden kann. Sie können diese Cookies jedoch in den Sicherheitseinstellungen Ihres Browsers jederzeit löschen.<br></li></ul>
<p>Neben sogenannten „First-Party-Cookies“, die von uns als für die Datenverarbeitung Verantwortlichen gesetzt werden, kommen auch „Third-Party-Cookies“ zum Einsatz, die von anderen Anbietern angeboten werden. Über den Einsatz von „Third-Party-Cookies“ sowie über die Zusammenarbeit mit externen Dienstleistern, die für uns Leistungen wie Webtracking oder Reichweitenmessung erbringen, informieren wir Sie innerhalb der individuellen Datenschutzinformationen der jeweiligen Online-Angebote. </p>
<p><strong>Zugriff auf Ihre Consent-Einstellungen<br>heise online bietet Ihnen im Rahmen eines Consent Managements („Cookie Banner“) die Möglichkeit, nach Ihren Vorgaben über das Setzen von Cookies im Bereich unseres Angebots zu entscheiden. Sie haben jederzeit die Möglichkeit, die dort getroffene Entscheidung zu ändern und Ihre Zustimmung nachträglich zu erteilen oder zu widerrufen. Dafür können Sie <a href="javascript:window.usercentrics.updateBannerIsVisible(true);" rel="external noopener" target="_blank">hier</a> die Einstellungsmöglichkeiten abrufen.</strong></p>
<p>Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter Verwendung von „First-Party-Cookies“ ist Art. 6 Abs. 1 lit. f DSGVO. Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter Verwendung von „Third-Party-Cookies“ ist Art. 6 Abs. 1 lit. a DSGVO.</p>
<p><strong>6.3 Registrierungsfunktion / Kundenkonto</strong><br> </p>
<p>Sie können optional Nutzerkonten für unsere Online-Angebote anlegen, um bestimmte Inhalte und Leistungen unserer Online-Angebote zu nutzen. <br>Welche personenbezogenen Daten dabei an uns übermittelt und gespeichert werden, ergibt sich aus der jeweiligen Eingabemaske und den bei der Registrierung zur Verfügung gestellten Informationen. Die im Rahmen der Registrierung eingegebenen Daten werden für die Zwecke der Nutzung unserer Angebote verwendet. Angebots- oder registrierungsrelevante Informationen, wie Änderungen des Angebotsumfangs oder technische Umstände erhalten Sie per E-Mail. Sie haben jederzeit die Möglichkeit Ihr Nutzerkonto zu kündigen. In diesem Fall werden Ihre Daten gelöscht, es sei denn, wir sind aus handels- oder steuerrechtlichen Gründen zur Aufbewahrung verpflichtet. </p>
<p>Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen Ihrer Einwilligung Art. 6 Abs. 1 lit. a DSGVO. Dient die Registrierung der Erfüllung eines Vertrages, dessen Vertragspartei Sie sind oder der Durchführung vorvertraglicher Maßnahmen, so ist zusätzliche Rechtsgrundlage für die Verarbeitung der Daten Art. 6 Abs. 1 lit. b DSGVO.</p>
<p>Im Rahmen der Inanspruchnahme unserer Registrierungs- und Anmeldefunktionen sowie der Nutzung des Nutzerkontos speichern wir unter Umständen die IP-Adresse und den Zeitpunkt der jeweiligen Nutzerhandlung. Die Speicherung erfolgt auf Grundlage unserer berechtigten Interessen, und dient dem Schutz vor Missbrauch und sonstiger unbefugter Nutzung. Eine Weitergabe dieser Daten an Dritte erfolgt grundsätzlich nicht, außer sie ist zur Verfolgung unserer Ansprüche erforderlich oder es besteht eine gesetzliche Verpflichtung. Rechtsgrundlage für diese Erfassung und Speicherung ist Art. 6 Abs. 1 lit. c DSGVO. Die IP-Adressen werden spätestens nach 7 Tagen anonymisiert oder gelöscht.</p>
<p><strong>6.4 Kontaktformulare und E-Mail-Kontakt</strong><br> </p>
<p>Auf unseren Online-Angeboten finden Sie Kontaktformulare und E-Mail-Links (mailto), die für die elektronische Kontaktaufnahme genutzt werden können. Hierdurch erfüllen wir unter anderem die gesetzliche Vorgabe, eine schnelle elektronische Kontaktaufnahme mit uns zu ermöglichen. Wenn Sie diese Möglichkeit nutzen werden Ihre Angaben zum Zwecke der Beantwortung der Anfrage gemäß Art. 6 Abs. 1 lit. c DSGVO verarbeitet und automatisch gespeichert. Wir löschen die Anfragen, sofern diese nicht mehr erforderlich sind und keine gesetzlichen Archivierungspflichten gelten.</p>
<p><strong>6.5 Nutzerkommentare und –beiträge</strong><br> </p>
<p>Als registrierter Nutzer haben Sie die Möglichkeit, Kommentare zu einzelnen Inhalten unserer Online-Angebote und Beiträge in unserem Forum zu hinterlassen. Wir werden dann Ihre IP-Adressen und den Zeitpunkt der Veröffentlichung auf Grundlage unserer berechtigten Interessen gemäß Art. 6 Abs. 1 lit. f. DSGVO sieben Tage lang speichern. Dies erfolgt aus Sicherheitsgründen, falls in Kommentaren und Beiträgen die Rechte Dritter verletzt oder widerrechtliche Inhalte hinterlassen werden (Beleidigungen, Verleumdungen, volksverhetzende Inhalte usw.). In diesem Fall können wir selbst für den Kommentar oder Beitrag belangt werden und sind daher an der Identität des Verfassers interessiert. Es erfolgt keine Weitergabe dieser Daten an Dritte, sofern eine solche Weitergabe nicht gesetzlich vorgeschrieben ist oder unserer Rechtsverteidigung dient.<br>Bedenken Sie, dass Kommentare und Beiträge für jeden zugänglich sind. Sie sollten Ihre Beiträge vor der Veröffentlichung sorgfältig daraufhin überprüfen, ob sie Angaben enthalten, die nicht für die Öffentlichkeit bestimmt sind. Sie müssen damit rechnen, dass Ihre Beiträge in Suchmaschinen erfasst und auch ohne gezielten Aufruf unseres Angebotes weltweit abrufbar werden.</p>
<p><strong> <a name="datenschutz-newsletter"></a>6.6 Newsletter </strong><br> </p>
<p>In einigen Bereichen unserer Online-Angebote bieten wir Ihnen die Möglichkeit an, einen unserer kostenfreien E-Mail-Newsletter zu abonnieren.  Diese Newsletter versenden wir nur mit Ihrer Einwilligung oder aufgrund einer gesetzlichen Erlaubnis. Bei der Anmeldung zu einem Newsletter werden die Daten aus der Eingabemaske (Name und E-Mail-Adresse) an uns übermittelt und solange gespeichert, wie das Abonnement des Newsletters aktiv ist.</p>
<p>Für die Verarbeitung dieser Daten zum Zwecke des Newsletter-Versands wird Ihre Einwilligung eingeholt und auf diese Datenschutzerklärung verwiesen. Für den Anmeldeprozess nutzen wir das sogenannte Double-Opt-In-Verfahren. Nach erfolgter Anmeldung erhalten Sie eine E-Mail, in der Sie zur Bestätigung Ihrer Anmeldung einen Link anklicken müssen. So verhindern wir, dass sich unbefugte Dritte unter Verwendung Ihrer E-Mail-Adresse anmelden können. Wir protokollieren den Anmeldeprozess, um den Vorgang entsprechend den rechtlichen Anforderungen nachweisen zu können. Dabei werden die IP-Adresse des aufrufenden Endgeräts, Datum und Uhrzeit der Anmeldung gespeichert. Die von Ihnen angegebenen Daten werden solange gespeichert, wie das Abonnement des Newsletters aktiv ist. Sie können das Abonnement jederzeit kündigen. Zu diesem Zweck befindet sich in jedem Newsletter ein entsprechender Abmeldelink. Hierdurch wird ebenfalls ein Widerruf Ihrer Einwilligung ermöglicht. Die Rechtsgrundlage für die Verarbeitung Ihrer Daten bei erteilter Einwilligung zum Empfang von Newslettern ist Art. 6 Abs. 1 lit. a DSGVO. </p>
<p>Wenn Sie auf unseren Online-Angeboten Waren oder Dienstleistungen erwerben und hierbei Ihre E-Mail-Adresse angeben, behalten wir uns vor, diese für den Versand von Newslettern mit Direktwerbung für eigene ähnliche Waren oder Dienstleistungen zu verwenden. Dies dient der Wahrung unserer im Rahmen einer Interessensabwägung überwiegenden berechtigten Interessen an einer werblichen Ansprache unserer Nutzer. <strong>Sie können dieser Verwendung Ihrer Daten jederzeit durch eine Nachricht an die oben genannten Kontaktmöglichkeiten oder über den Abmeldelink in der Werbemail widersprechen, ohne dass hierfür andere als die Übermittlungskosten nach den Basistarifen entstehen. Soweit der Newsletter-Versand aufgrund des Verkaufs von Waren oder Dienstleistungen erfolgt, berufen wir uns auf § 7 Abs. 3 UWG.</strong></p>
<p>Zum Teil werden Newsletter nicht direkt durch uns, sondern durch die von uns im Rahmen einer Auftragsverarbeitung beauftragte Inxmail GmbH, Wentzingerstr. 17, 79106 Freiburg mit Serverstandort in Deutschland an Sie versendet. Inxmail nutzt Ihre Daten jedoch nicht, um Sie selbst anzuschreiben.<br>Eine Weitergabe der Daten an Dritte erfolgt im Zusammenhang mit der Datenverarbeitung für den Versand von Newslettern nicht.</p>
<p>Unsere  Newsletter können sogenannte „Zählpixel“ enthalten, dies sind pixelgroße Dateien, die beim Öffnen des Newsletters von unserem Server oder dem Server von Inxmail abgerufen werden. Diese Zählpixel enthalten keine personenbezogenen Daten und dienen nur der statistischen Erhebung, ob und welche in den Newslettern enthaltenen Links geklickt werden. Diese Informationen können nicht einzelnen Newsletter-Empfängern zugeordnet werden. </p>
<p><strong>6.7 Social-Media-Buttons</strong><br> </p>
<p>Zum Teilen der Inhalte unserer Online-Angebote über soziale Netzwerke bieten wir sogenannte Social-Media-Buttons an. Hierfür haben wir die von uns selbst entwickelte Lösung „c’t Shariff“ im Einsatz, die datenschutzkonforme Social-Media-Buttons zur Verfügung stellt. <br>Die von den Betreibern sozialer Netzwerke direkt angebotenen Buttons übermitteln unzulässigerweise schon beim Laden einer Website, auf der sie integriert sind, personenbezogene Daten wie die IP-Adresse oder ganze Cookies und geben so ungefragt genaue Auskunft über Ihr Surfverhalten an die sozialen Dienste weiter. Dazu müssen Sie weder eingeloggt noch Mitglied des jeweiligen Netzwerks sein. Dagegen stellt ein Shariff-Button den direkten Kontakt zwischen sozialem Netzwerk und Besucher erst dann her, wenn letzterer aktiv auf den Share-Button klickt. Damit verhindert Shariff, dass Sie auf jeder besuchten Seite eine digitale Spur hinterlassen und verbessert den Datenschutz. Durch den Einsatz von Shariff können wir Ihre personenbezogenen Daten schützen und dennoch Butttons für das Social Sharing integrieren. Weitere Informationen zu c’t Shariff finden Sie unter <a href="/ct/artikel/Shariff-Social-Media-Buttons-mit-Datenschutz-2467514.html">https://www.heise.de/ct/artikel/Shariff-Social-Media-Buttons-mit-Datenschutz-2467514.html</a>.</p>
<p><strong>6.8 Externe Links</strong><br> </p>
<p>Unser Online-Angebot enthält Links zu anderen Websites. Wir haben keinen Einfluss darauf, dass deren Betreiber die Datenschutzbestimmungen einhalten.</p>
<p><strong>6.9 InfOnline</strong><br> </p>
<p>Unsere Website, unser mobiles Webangebot (<a href="http://m.heise.de" rel="external noopener" target="_blank">m.heise.de</a>) und unsere Applikationen (Apps) nutzen das „Skalierbare Zentrale Messverfahren“ (SZMnG) der INFOnline GmbH für die Ermittlung statistischer Kennwerte zur Nutzung unserer Angebote.</p>
<p>Ziel der Nutzungsmessung ist es, die Anzahl der Besuche auf unserer Website, die Anzahl der Websitebesucher und deren Surfverhalten statistisch – auf Basis eines einheitlichen Standardverfahrens - zu bestimmen und somit marktweit vergleichbare Werte zu erhalten.</p>
<p>Für alle Digital-Angebote, die Mitglied der Informationsgemeinschaft zur Feststellung der Verbreitung von Werbeträgern e.V. (IVW – <a href="http://www.ivw.eu" rel="external noopener" target="_blank">http://www.ivw.eu</a>) sind oder an den Studien der Arbeitsgemeinschaft Online-Forschung e.V. (AGOF - <a href="http://www.agof.de" rel="external noopener" target="_blank">http://www.agof.de</a>) teilnehmen, werden die Nutzungsstatistiken regelmäßig von der AGOF und der Arbeitsgemeinschaft Media-Analyse e.V. (agma - <a href="http://www.agma-mmc.de" rel="external noopener" target="_blank">http://www.agma-mmc.de</a>) zu Reichweiten weiter verarbeitet und mit dem Leistungswert „Unique User“ veröffentlicht sowie von der IVW mit den Leistungswerten „Page Impression“ und „Visits“. Diese Reichweiten und Statistiken können auf den jeweiligen Webseiten eingesehen werden.</p>
<p>Die Messung mittels des Messverfahrens SZMnG durch die INFOnline GmbH erfolgt mit berechtigtem Interesse nach Art. 6 Abs. 1 lit. f) DSGVO.</p>
<p>Zweck der Verarbeitung der personenbezogenen Daten ist die Erstellung von Statistiken und die Bildung von Nutzerkategorien. Die Statistiken dienen dazu, die Nutzung unseres Angebots nachvollziehen und belegen zu können. Die Nutzerkategorien bilden die Grundlage für eine interessengerechte Ausrichtung von Werbemitteln bzw. Werbemaßnahmen. Zur Vermarktung dieser Webseite ist eine Nutzungsmessung, welche eine Vergleichbarkeit zu anderen Marktteilnehmern gewährleistet, unerlässlich. Unser berechtigtes Interesse ergibt sich aus der wirtschaftlichen Verwertbarkeit der sich aus den Statistiken und Nutzerkategorien ergebenden Erkenntnisse und dem Marktwert unserer Webseite - auch in direktem Vergleich mit Webseiten Dritter - der sich anhand der Statistiken ermitteln lässt.</p>
<p>Darüber hinaus haben wir ein berechtigtes Interesse daran, die pseudonymisierten Daten der INFOnline, der AGOF und der IVW zum Zwecke der Marktforschung (AGOF, agma) und für statistische Zwecke (INFOnline, IVW) zur Verfügung zu stellen. Weiterhin haben wir ein berechtigtes Interesse daran, die pseudonymisierten Daten der INFOnline zur Weiterentwicklung und Bereitstellung interessengerechter Werbemittel zur Verfügung zu stellen.</p>
<p>Die INFOnline GmbH erhebt die folgenden Daten, welche nach EU-DSGVO einen Personenbezug aufweisen:</p>
<ul class="rte__list rte__list--unordered"><li>IP-Adresse: Im Internet benötigt jedes Gerät zur Übertragung von Daten eine eindeutige Adresse, die sogenannte IP-Adresse. Die zumindest kurzzeitige Speicherung der IP-Adresse ist aufgrund der Funktionsweise des Internets technisch erforderlich. Die IP-Adressen werden vor jeglicher Verarbeitung um 1 Byte gekürzt und nur anonymisiert weiterverarbeitet. Es erfolgt keine Speicherung oder weitere Verarbeitung der ungekürzten IP-Adressen.</li><li>Einen zufällig erzeugten Client-Identifier: Die Reichweitenverarbeitung verwendet zur Wiedererkennung von Computersystemen alternativ entweder ein Cookie mit der Kennung „ioam.de", ein „Local Storage Object“ oder eine Signatur, die aus verschiedenen automatisch übertragenen Informationen Ihres Browsers erstellt wird. Diese Kennung ist für einen Browser eindeutig, solange das Cookie oder Local Storage Object nicht gelöscht wird. Eine Messung der Daten und anschließende Zuordnung zu dem jeweiligen Client-Identifier ist daher auch dann möglich, wenn Sie andere Webseiten aufrufen, die ebenfalls das Messverfahren („SZMnG“) der INFOnline GmbH nutzen. Die Gültigkeit des Cookies ist auf maximal 1 Jahr beschränkt.</li><li>Bei der Nutzung von Apps einen Geräte-Identifier: Die Reichweitenmessung verwendet zur Wiedererkennung von Geräten eindeutige Kennungen des Endgerätes oder eine Signatur, die aus verschiedenen automatisch übertragenen Informationen Ihres Gerätes erstellt wird. Eine Messung der Daten und anschließende Zuordnung zu dem jeweiligen Identifier ist unter Umständen auch dann möglich, wenn Sie andere Applikationen aufrufen, die ebenfalls das Messverfahren („SZMnG“) der INFOnline GmbH nutzen. Folgende eindeutige Geräte-Kennungen können als Hash an die INFOnline GmbH übermittelt werden:<br><br><ul><li>Advertising-Identifier</li><li>Installation-ID</li><li>Android-ID</li><li>Vendor-ID<br></li></ul></li></ul>
<p>Das Messverfahren der INFOnline GmbH, welches auf dieser Webseite eingesetzt wird, ermittelt Nutzungsdaten. Dies geschieht, um die Leistungswerte Page Impressions, Visits und Clients zu erheben und weitere Kennzahlen daraus zu bilden (z. B. qualifizierte Clients). Darüber hinaus werden die gemessenen Daten wie folgt genutzt:</p>
<ul class="rte__list rte__list--unordered"><li>Eine sogenannte Geolokalisierung, also die Zuordnung eines Webseitenaufrufs zum Ort des Aufrufs, erfolgt ausschließlich auf der Grundlage der anonymisierten IP-Adresse und nur bis zur geografischen Ebene der Bundesländer / Regionen. Aus den so gewonnenen geografischen Informationen kann in keinem Fall ein Rückschluss auf den konkreten Aufenthaltsort eines Nutzers gezogen werden.</li><li>Die Nutzungsdaten eines technischen Clients (bspw. eines Browsers auf einem Gerät) werden webseitenübergreifend zusammengeführt und in einer Datenbank gespeichert. Diese Informationen werden zur technischen Abschätzung der Sozioinformation Alter und Geschlecht verwendet und an die Dienstleister der AGOF zur weiteren Reichweitenverarbeitung übergeben. Im Rahmen der AGOF-Studie werden auf Basis einer zufälligen Stichprobe Soziomerkmale technisch abgeschätzt, welche sich den folgenden Kategorien zuordnen lassen: Alter, Geschlecht, Nationalität, Berufliche Tätigkeit, Familienstand, Allgemeine Angaben zum Haushalt, Haushalts-Einkommen, Wohnort, Internetnutzung, Online-Interessen, Nutzungsort, Nutzertyp.</li></ul>
<p>Die vollständige IP-Adresse wird von der INFOnline GmbH nicht gespeichert. Die gekürzte IP-Adresse wird maximal 60 Tage gespeichert. Die Nutzungsdaten in Verbindung mit dem eindeutigen Identifier werden maximal 6 Monate gespeichert.<br>Die IP-Adresse wie auch die gekürzte IP-Adresse werden nicht weitergegeben. Für die Erstellung der AGOF-Studie werden Daten mit Client-Identifiern an die folgenden Dienstleister der AGOF weitergegeben:</p>
<ul class="rte__list rte__list--unordered"><li>Kantar Deutschland GmbH (<a href="https://www.tns-infratest.com/" rel="external noopener" target="_blank">https://www.tns-infratest.com/</a>)</li><li>Ankordata GmbH &amp; Co. KG (<a href="http://www.ankordata.de/homepage/" rel="external noopener" target="_blank">http://www.ankordata.de/homepage/</a>)</li><li>Interrogare GmbH (<a href="https://www.interrogare.de/" rel="external noopener" target="_blank">https://www.interrogare.de/</a>)</li></ul>
<p><strong>Wenn Sie an der Messung nicht teilnehmen möchten, können Sie unter folgendem Link widersprechen: <a href="https://optout.ioam.de" rel="external noopener" target="_blank">https://optout.ioam.de</a>. Um einen Ausschluss von der Messung zu garantieren, ist es technisch notwendig, ein Cookie zu setzen. Sollten Sie die Cookies in Ihrem Browser löschen, ist es notwendig, den Opt-Out-Vorgang unter dem oben genannten Link zu wiederholen.</strong></p>
<p><strong>Wenn Sie eine unserer Apps nutzen, können Sie über folgende Einstellung der Messung widersprechen: Einstellungen -&gt; „Daten senden“ -&gt; Deaktivieren</strong></p>
<p><strong>6.10 VG Wort</strong><br> </p>
<p>Auf einigen Seiten und Beiträgen werden Zählpixel der Verwertungsgesellschaft WORT (VG WORT) eingebaut. Angeboten wird diese Funktion durch die Verwertungsgesellschaft WORT, Rechtsfähiger Verein kraft Verleihung, Goethestraße 49, 80336 München. Die VG WORT verwaltet für Autoren die Tantiemen aus Zweitverwertungsrechten an Sprachwerken. Die Ausschüttung von Tantiemen für Online-Texte ist an bestimmte Kriterien (z. B. Textlänge, Mindestbesucherzahl pro Jahr) gebunden.</p>
<p>Die sogenannten Zählpixel der VG WORT sind unsichtbare Grafiken (Beacons), zudem werden bei dem Messverfahren „Cookies” verwendet und in Form einer Textdatei auf Ihrem Computer gespeichert. Dadurch können Informationen über den Besucherverkehr auf diesen Seiten ausgewertet werden. Die so ermittelten anonymen Daten nutzt die VG WORT, um festzustellen, ob der jeweilige Text im Kalenderjahr ausschüttungsbezogene Schwellenwerte erreicht hat. Wir ermöglichen damit, dass unsere Autoren an den Ausschüttungen der VG Wort partizipieren, die die gesetzliche Vergütung für die Nutzungen urheberrechtlich geschützter Werke gem. § 53 UrhG sicherstellen.</p>
<p><strong>6.11 Webtrekk</strong><br> </p>
<p>Einige der beim Besuch unserer Online-Angebote erfassten Daten werden für statistische Auswertung herangezogen. Hierzu verwenden wir im Rahmen einer Auftragsverarbeitung die Technologie der Webtrekk GmbH, Robert-Koch-Platz 4, 10115 Berlin, mit welcher automatisch Daten erhoben und gespeichert werden und pseudonyme Nutzungsprofile erstellt werden. Webtrekk nutzt diese, um für uns Reports über die Nutzeraktivitäten zu erstellen sowie weitere Dienstleistungen zu erbringen, die im Zusammenhang mit der Nutzung unserer Online-Angebote stehen. Dies dient der Wahrung unserer im Rahmen einer Interessensabwägung überwiegenden berechtigten Interessen an einer optimierten Darstellung unserer Online-Angebote gemäß Art. 6 Abs. 1 lit. f DSGVO.</p>
<p>Im Rahmen der Nutzung unserer Online-Angebote werden für unser Webcontrolling einige Informationen erhoben und ausgewertet, die Ihr Browser übermittelt. Die Erhebung erfolgt durch einen Pixel, der auf jeder Website eingebunden ist. Folgende Daten werden erhoben:</p>
<ul class="rte__list rte__list--unordered"><li>Request (Dateiname der angeforderten Datei)</li><li>Demografie</li><li>Browsertyp/ -version (Bsp.: Firefox 60.0)</li><li>Browsersprache (Bsp.: Deutsch)</li><li>verwendetes Betriebssystem (Bsp.: Windows XP)</li><li>innere Auflösung des Browserfensters Bildschirmauflösung</li><li>Javascript-Aktivierung</li><li>Java An /Aus</li><li>Cookies An / Aus</li><li>Farbtiefe</li><li>Referrer URL (die zuvor besuchte Seite)</li><li>IP-Adresse – wird umgehend anonymisiert und nach Verarbeitung wieder gelöscht</li><li>Uhrzeit des Zugriffs</li><li>Klicks</li><li>Formularinhalte (bei Freitextfeldern, z.B. Name und Passwort, wird nur „ausgefüllt“ oder „nicht ausgefüllt“ übertragen)</li></ul>
<p>Im Rahmen der Webanalyse durch Webtrekk wird Ihre IP-Adresse nur in gekürzter und damit anonymisierter Form gespeichert und nur zur Session-Erkennung, für die Geolokalisierung (bis auf Stadt-Ebene) und für die Abwehr von Attacken verwendet. Die IP-Adresse wird dann umgehend wieder gelöscht, so dass die erfassten Daten dann anonym sind und selbst über den Umweg des ISPs keine Zuordnung zur Identität des Nutzers mehr möglich ist.</p>
<p>Folgende Cookies werden im Rahmen der Webanalyse gesetzt:</p>
<ul class="rte__list rte__list--unordered"><li>Session Cookie für Session-Erkennung, Lebensdauer: eine Session [Webtrekk]</li><li>Langzeit-Cookie zur Erkennung Neu-/Stammkunde: 6 Monate/ 0,5 Jahre ohne Opt-in und 12 Monate/ 1 Jahr mit Opt-in</li><li>Opt-out-Cookie bei Widerspruch gegen das Tracking, Mindestlebensdauer: 60 Monate/ 5 Jahre</li><li>Opt-in-Cookie zur Erweiterung des Langzeit-Cookies, Lebensdauer: 12 Monate / 1 Jahr</li></ul>
<p>Daten werden nicht an Dritte weitergegeben. Nach Zweckfortfall und Ende des Einsatzes von Webtrekk durch uns werden die in diesem Zusammenhang erhobenen Daten gelöscht.<br><strong><br>Sie haben die Möglichkeit, einer Erfassung und Verarbeitung der durch Webtrekk-Cookies erzeugten Daten zu widersprechen und eine solche zu verhindern. Hierzu müssen Sie den nachfolgenden Link klicken, der ein Opt-Out-Cookie setzt:</strong></p>
<p><strong><a href="https://www.webtrekk.com/de/legal/praeferenz-basierte-werbung/datenschutzerklaerung/" rel="external noopener" target="_blank">https://www.webtrekk.com/de/legal/praeferenz-basierte-werbung/datenschutzerklaerung/</a></strong></p>
<p><strong>Der Opt-Out-Cookie wird auf dem von Ihnen genutzten System abgelegt und muss im Falle einer Löschung über den angegebenen Link erneut gesetzt werden.</strong></p>
<p>Die geltenden Datenschutzbestimmungen von Webtrekk können unter <a href="https://www.webtrekk.com/de/datenschutz/" rel="external noopener" target="_blank">https://www.webtrekk.com/de/datenschutz/</a> abgerufen werden.</p>
<p><strong>6.12 Kameleoon</strong></p>
<p>Wir nutzen den Test- und Webanalysedienst Kameleoon der Kameleoon SAS, 12 rue de la Chaussée d'Antin 75009 Paris. Das Programm ermöglicht eine Analyse des Nutzerverhaltens anhand von Nutzersegmentierungen. Wir können so auswerten, wie einzelne Nutzersegmente die Website besuchen und welche Landing-Pages aufgesucht werden.</p>
<p>Für die Analysen werden Cookies eingesetzt, die mit einer pseudonymisierten ID verknüpft werden. Ihre IP-Adresse wird dazu vollständig anonymisiert und nicht gespeichert. Die durch den Cookie erzeugten Informationen über die Benutzung unserer Websites werden an einen Server von Kameleoon in Deutschland übermittelt und dort in aggregierter und pseudonymisierter Form gespeichert. Die im Rahmen von Kameleoon von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Kameleoon zusammengeführt. </p>
<p>Der Einsatz von Kameleoon dient der Wahrung unserer im Rahmen einer Interessensabwägung überwiegenden berechtigten Interessen an einer Auswertung und optimierten Darstellung unserer Online-Angebote gemäß Art. 6 Abs. 1 lit. f DSGVO. Die Auswertung der erhobenen Daten erfolgt über einen Zeitraum von maximal 380 Tagen.</p>
<p><strong>Sie haben die Möglichkeit, einer Erfassung und Verarbeitung der durch das Kameleoon-Cookie erzeugten Daten zu widersprechen und eine solche zu verhindern. Hierzu müssen Sie den nachfolgenden Link klicken, der ein Opt-Out-Cookie setzt: <br> <a href="http://www.heise.de#kameleoonOptout=true">http://www.heise.de#kameleoonOptout=true</a></strong></p>
<p><strong>6.13  Usercentrics Consent Management Plattform</strong></p>
<p>Wir nutzen die Usercentrics Consent Management Plattform (Usercentrics) der Usercentrics GmbH, Rosental 4, 80331 München. Usercentrics sammelt Logfile-Daten und Einwilligungsdaten mittels JavaScript. Dieses JavaScript ermöglicht es uns, den Nutzer über seine Einwilligung zu bestimmten Cookies und anderen Technologien auf unserer Website zu informieren und diese einzuholen, zu verwalten und zu dokumentieren.</p>
<p>Rechtsgrundlage für die Verarbeitung der Daten ist Art. 6 Abs. 1 lit. c) DSGVO. Ziel ist es, die Präferenzen der Nutzer zu kennen und entsprechend zu handeln.</p>
<p>Die Daten werden gelöscht, sobald sie nicht mehr für unsere Protokollierung benötigt werden. Die Haltbarkeit des Cookies beträgt 60 Tage. Die Einwilligungsdaten sind gemäß § 257 HGB 6 Jahre aufzubewahren. Die Widerrufsbescheinigung einer zuvor erteilten Einwilligung wird drei Jahre lang aufbewahrt. Die Aufbewahrung basiert zum einen auf unserer Rechenschaftspflicht nach Art. 5 Abs. 2 DSGVO. Dies verpflichtet zur Einhaltung der Verarbeitung personenbezogener Daten gemäß der Allgemeinen Datenschutzverordnung. Dagegen beträgt die Aufbewahrungsdauer in der regulären Verjährungsfrist gemäß § 195 BGB drei Jahre.</p>
<p>Sie können die Ausführung von JavaScript jederzeit durch entsprechende Einstellungen in Ihrem Browser dauerhaft unterbinden, was auch Usercentrics daran hindern würde, das JavaScript auszuführen.</p>
<p>Weitere Informationen über die Datenschutzpraktiken von Usercentrics finden Sie unter: <a href="https://usercentrics.com/de/datenschutzerklarung/" rel="external noopener" target="_blank">https://usercentrics.com/de/datenschutzerklarung/</a> <strong><br></strong></p>
<h3 class="subheading">7. <strong>Onlineangebote auf Social-Media-Plattformen</strong></h3>
<p>Wir bieten auf unterschiedlichen Social-Media-Plattformen Onlineangebote an, um dort Informationen bereitzuhalten und um mit Ihnen in Kontakt treten zu können.<br>Auf die Verarbeitung personenbezogener Daten durch den jeweiligen Plattformbetreiber haben wir keinen Einfluss. In der Regel werden beim Besuch unserer Social-Media-Angebote vom Plattformbetreiber Cookies in Ihrem Browser gespeichert, in denen zu Marktforschungs- und Werbezwecken Ihr Nutzungsverhalten bzw. Ihre Interessen gespeichert werden. Die so - meist geräteübergreifend - gewonnenen Nutzungsprofile verwenden die Plattformbetreiber, um Ihnen personalisierte Werbung anzuzeigen. Von der Datenverarbeitung können auch Personen betroffen sein, die bei der jeweiligen Social-Media-Plattform nicht als Nutzer registriert sind. Unter Umständen werden Ihre Daten außerhalb des Raumes der Europäischen Union verarbeitet, was die Durchsetzung Ihrer Rechte erschweren kann. Wir achten bei der Auswahl solcher Social-Media-Plattformen jedoch darauf, dass die Bertreiber sich dazu verpflichten, die Datenschutzstandards der EU einzuhalten.<br>Die Verarbeitung Ihrer personenbezogenen Daten beim Besuch einer unserer Social-Media-Angebote erfolgt auf Grundlage unserer berechtigten Interessen an einer vielfältigen Außendarstellung unseres Unternehmens und der Nutzung einer effektiven Informationsmöglichkeit sowie der Kommunikation mit Ihnen. Die Rechtsgrundlage hierfür ist Art. 6 Abs. 1 lit. f DSGVO. Unter Umständen haben Sie einem Plattformbetreiber auch eine Einwilligung in die Datenverarbeitung erteilt, in diesem Fall ist Art. 6 Abs. 1 lit. a DSGVO dir Rechtsgrundlage.<br>Detaillierte Informationen über die Datenverarbeitung im Zusammenhang mit der Nutzung unserer Social-Media-Angebote, Widerspruchsmöglichkeiten (Opt-Out) und die Geltendmachung von Auskunftsrechten erhalten sie über die Datenschutzerklärung des entsprechenden Plattformbetreibers.</p>
<p><strong>7.1 Facebook</strong></p>
<p>Anbieter: Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, Irland<br>Die Datenverarbeitung erfolgt auf Grundlage einer <a href="https://www.facebook.com/legal/terms/page_controller_addendum" rel="external noopener" target="_blank">Vereinbarung über die gemeinsame Verarbeitung personenbezogener Daten</a> nach Art. 26 DSGVO.<br>Datenschutzerklärung: <a href="https://www.facebook.com/about/privacy/" rel="external noopener" target="_blank">https://www.facebook.com/about/privacy/</a> <br><strong>Opt-Out: <a href="https://www.facebook.com/settings?tab=ads" rel="external noopener" target="_blank">https://www.facebook.com/settings?tab=ads</a></strong> </p>
<p><strong>7.2 Google+/ YouTube</strong></p>
<p>Anbieter: Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland<br>Datenschutzerklärung: <a href="https://policies.google.com/privacy" rel="external noopener" target="_blank">https://policies.google.com/privacy</a> <br><strong>Opt-Out: <a href="https://adssettings.google.com/authenticated" rel="external noopener" target="_blank">https://adssettings.google.com/authenticated</a></strong></p>
<p><strong> 7.3 Instagram</strong></p>
<p>Anbieter: Instagram Inc., 1601 Willow Road, Menlo Park, CA, 94025, USA<br>Datenschutzerklärung: <a href="http://instagram.com/about/legal/privacy" rel="external noopener" target="_blank">http://instagram.com/about/legal/privacy</a> <br><strong>Opt-Out: <a href="http://instagram.com/about/legal/privacy" rel="external noopener" target="_blank">http://instagram.com/about/legal/privacy</a></strong></p>
<p><strong> 7.4 Twitter</strong></p>
<p>Anbieter: Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103, USA<br>Datenschutzerklärung: <a href="https://twitter.com/de/privacy" rel="external noopener" target="_blank">https://twitter.com/de/privacy</a> <br><strong>Opt-Out: <a href="https://twitter.com/personalization" rel="external noopener" target="_blank">https://twitter.com/personalization</a></strong></p>
<p><strong> 7.5 LinkedIn</strong></p>
<p>Anbieter: LinkedIn Ireland Unlimited Company Wilton Place, Dublin 2, Irland<br>Datenschutzerklärung: <a href="https://www.linkedin.com/legal/privacy-policy" rel="external noopener" target="_blank">https://www.linkedin.com/legal/privacy-policy</a> <br><strong>Opt-Out: <a href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out" rel="external noopener" target="_blank">https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out</a></strong></p>
<p><strong> 7.6 Xing</strong></p>
<p>Anbieter: XING AG, Dammtorstraße 29-32, 20354 Hamburg, Deutschland)<br>Datenschutzerklärung: <a href="https://privacy.xing.com/de/datenschutzerklaerung" rel="external noopener" target="_blank">https://privacy.xing.com/de/datenschutzerklaerung</a><strong><br>Opt-Out: <a href="https://privacy.xing.com/de/datenschutzerklaerung" rel="external noopener" target="_blank">https://privacy.xing.com/de/datenschutzerklaerung</a></strong></p>
<p><strong>7.7 Vimeo</strong></p>
<p>Anbieter: Vimeo Inc., Legal Department, 555 West 18th Street New York, New York 10011, USA</p>
<p>Datenschutzerklärung: https://vimeo.com/privacy </p>
<p><strong>Opt-Out:</strong> Wir weisen darauf hin, dass Vimeo Google Analytics einsetzen kann und verweisen hierzu auf die Datenschutzerklärung (<a href="https://policies.google.com/privacy" rel="external noopener" target="_blank">https://policies.google.com/privacy</a>) sowie die Opt-Out-Möglichkeiten für Google-Analytics (<a href="http://tools.google.com/dlpage/gaoptout?hl=de" rel="external noopener" target="_blank">http://tools.google.com/dlpage/gaoptout?hl=de</a>) oder die Einstellungen von Google für die Datennutzung zu Marketingzwecken (<a href="https://adssettings.google.com/" rel="external noopener" target="_blank">https://adssettings.google.com/</a>).<strong><br></strong></p>
<h3 class="subheading">8. Kinder<br> </h3>
<p>Unser Angebot richtet sich grundsätzlich an Erwachsene. Personen unter 16 Jahren dürfen ohne Zustimmung der Eltern oder Erziehungsberechtigten keine personenbezogenen Daten an uns übermitteln.</p>
<h3 class="subheading">9. Änderungen<br> </h3>
<p>Die rasante Entwicklung des Internets macht von Zeit zu Zeit Anpassungen in unserer Datenschutzerklärung erforderlich. Sie werden an dieser Stelle über die Neuerungen informiert.</p>
<ul class="rte__list rte__list--unordered"><li> 12.06.2018: Der Punkt <strong>"Onlineangebote auf Social-Media-Plattformen"</strong> wurde ergänzt.</li><li>29.08.2018: Änderung der Firmierung von "WhatsBroadcast" in "MessengerPeople GmbH" und entsprechende Anpassungen im Text (siehe Punkt 10 in den <a href="/Individuelle-Datenschutzinformationen-fuer-heise-online-4058147.html" rel="external noopener" target="_blank">individuellen Datenschutzinformationen für heise online</a>)</li><li>05.09.2018: Erweiterung der <a href="/Individuelle-Datenschutzinformationen-fuer-heise-online-4058147.html" rel="external noopener" target="_blank">individuellen Datenschutzinformationen für heise online</a> um Punkt 16, "Benzinpreisvergleich"</li><li>14.09.2018: Erweiterung/Ergänzung der Infos unter Punkt "7.1 Facebook"</li><li>12.04.2019: Erweiterung/Ergänzung der Infos unter Punkt "6.12 Kameleoon"</li><li>03.06.2019: Erweiterung der <a href="/Individuelle-Datenschutzinformationen-fuer-heise-online-4058147.html" rel="external noopener" target="_blank">individuellen Datenschutzinformationen für heise online</a> um Punkt 17, "Nutzerumfragen"</li><li>07.08.2019: Erweiterung der <a href="/Individuelle-Datenschutzinformationen-fuer-heise-online-4058147.html" rel="external noopener" target="_blank">individuellen Datenschutzinformationen für heise online</a> um Punkt 18, "Criteo"</li><li>09.09.2019: Erweiterung der <a href="/Individuelle-Datenschutzinformationen-fuer-heise-online-4058147.html" rel="external noopener" target="_blank">individuellen Datenschutzinformationen für heise online</a> um Punkt 19, "rtbLab"</li><li>09.09.2019: Erweiterung der <a href="/Individuelle-Datenschutzinformationen-fuer-den-heise-shop-und-Abonnements-4058176.html">Individuelle Datenschutzinformationen für den heise shop und Abonnements</a> um Punkt 6, "rtbLab"</li><li>27.11.2019: Erweiterung der <a href="/Individuelle-Datenschutzinformationen-fuer-heise-online-4058147.html" rel="external noopener" target="_blank">individuellen Datenschutzinformationen für heise online</a> um Punkt 20, "UpScore" </li><li>03.12.2019: Änderung von Punkt 2 der <a href="/Individuelle-Datenschutzinformationen-fuer-mobile-Apps-4058239.html" rel="external noopener" target="_blank">individuelle Datenschutzinformationen für mobile Apps</a>: neuer Dienstleister "Clever Push" und entsprechende textliche Anpassungen</li><li>03.12.2019: Ergänzungen und Anpassungen bei Punkt 3 der <a href="/Individuelle-Datenschutzinformationen-fuer-mobile-Apps-4058239.html" rel="external noopener" target="_blank">individuelle Datenschutzinformationen für mobile Apps</a> <br></li><li>03.12.2019: Erweiterung der <a href="/Individuelle-Datenschutzinformationen-fuer-heise-online-4058147.html" rel="external noopener" target="_blank">individuellen Datenschutzinformationen für heise online</a> um Punkt 10.2, "Clever Push" </li><li>06.01.2020: Erweiterung der <a href="/Datenschutzerklaerung-der-Heise-Medien-GmbH-Co-KG-4860.html">Datenschutzerklärung der Heise Medien GmbH &amp; Co. KG</a> um Punkt 6.13, "Usercentrics Consent Management Plattform"</li><li>06.01.2020: Erweiterung der <a href="/Datenschutzerklaerung-der-Heise-Medien-GmbH-Co-KG-4860.html">Datenschutzerklärung der Heise Medien GmbH &amp; Co. KG</a> um Punkt 7.7, "Vimeo" </li><li>06.01.2020: Erweiterung der <a href="/Individuelle-Datenschutzinformationen-fuer-heise-online-4058147.html" rel="external noopener" target="_blank">individuellen Datenschutzinformationen für heise online</a> um Punkt 21, "AppNexus"</li><li>06.01.2020: Erweiterung der <a href="/Individuelle-Datenschutzinformationen-fuer-heise-online-4058147.html" rel="external noopener" target="_blank">individuellen Datenschutzinformationen für heise online</a> um Punkt 22, "Index Exchange"</li><li>06.01.2020: textliche Änderungen der <a href="/Individuelle-Datenschutzinformationen-fuer-heise-online-4058147.html" rel="external noopener" target="_blank">individuellen Datenschutzinformationen für heise online</a> bezüglich der Rechtsgrundlage bei den Punkten 1 (Chartbeat), 2 (Google Doubleclick for Publishers (DFP), 5 (M,P,NEWMEDIA), 6 (YieldLab), 7 (Outbrain), 8 (Apester), 11 (Preisvergleich), 13 (Tarifrechner), 14 (Teads.tv), 15 (Twiago), 16 (Benzinpreisvergleich), 17 (Nutzerumfragen), 18 (Criteo), 19 (rtbLab), 20 (UpScore) </li><li>14.01.2020: Die Punkte 3 (JW Player) und 8 (Apester) wurden aus der <a href="/Individuelle-Datenschutzinformationen-fuer-heise-online-4058147.html" rel="external noopener" target="_blank">individuellen Datenschutzinformationen für heise online</a> entfernt. Die anderen wurden umnummeriert, z.B. 4-&gt;3, 7-&gt;6, 9-&gt;7, 10-&gt;8, etc.<br></li> </ul>
<p>Hannover, den 12. Juni 2018</p>
  </div>
</article>