<section id="postfooter">
	<div class="partner">
		<ul>
			<li><a rel="nofollow" target="_blank" href="https://www.bahn.de/railteam" class="logo-ico logoIcon-railteam"></a></li>
		</ul>
	</div>
</section>