<section id="content-container">
		<!-- Start Content Click Capture -->
		<div class="click-capture"></div>
		<!-- End Content Click Capture -->
		
		<!-- Start Header -->
		<header class="header row style1" role="banner">
	<div class="small-4 columns menu-holder">
			<a href="#" class="mobile-toggle"><i class="fa fa-bars"></i></a>
			<nav id="nav" role="navigation">
								  <ul id="menu-main-menu-1" class="sf-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11874"><a href="https://aeryne.com/news/">NEW IN</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-22676"><a href="https://aeryne.com/shop/">SHOP</a>
<ul class="sub-menu " style="">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-58469"><a href="https://aeryne.com/product-category/view-all/">VIEW ALL</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-92009"><a href="https://aeryne.com/product-category/sale/">SALE</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-29619"><a href="https://aeryne.com/product-category/dresses/">DRESSES</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-29622"><a href="https://aeryne.com/product-category/aeryne-tops/">TOPS</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-35627"><a href="https://aeryne.com/product-category/t-shirts-2/">T-SHIRTS</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-64601"><a href="https://aeryne.com/product-category/skirts/">SKIRTS</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-29624"><a href="https://aeryne.com/product-category/trousers/">TROUSERS</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-29625"><a href="https://aeryne.com/product-category/jumpsuits/">JUMPSUITS</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-29626"><a href="https://aeryne.com/product-category/outerwear/">OUTERWEAR</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-72407"><a href="https://aeryne.com/product-category/knitwear/">KNITWEAR</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76392"><a href="https://aeryne.com/aeryne-academy/">FEMALE EMPOWERMENT</a></li>
</ul>							</nav>
	</div>
	<div class="small-12 medium-4 columns logo">
						<a href="https://aeryne.com" class="logolink">
			<img src="https://aeryne.com/wp-content/uploads/2016/09/aeryne-logo-black-1.png" class="logoimg bg--light" alt="AÉRYNE">
			<img src="https://aeryne.com/wp-content/uploads/2016/09/logo-white.png" class="logoimg bg--dark" alt="AÉRYNE">
		</a>
	</div>
	<div class="small-12 medium-4 columns account-holder">
							 
		<a href="#" class="mobile-toggle"><i class="fa fa-bars"></i></a>
					<a href="#searchpopup" rel="inline" data-class="quick-search" id="quick_search"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="18" height="18" viewBox="0 0 18 18" enable-background="new 0 0 17.99 18.004" xml:space="preserve"><path d="M17.7 16.5l-4.9-4.8c1-1.2 1.6-2.8 1.6-4.5 0-3.9-3.2-7.2-7.2-7.2C3.2 0 0 3.2 0 7.2c0 3.9 3.2 7.2 7.2 7.2 1.6 0 3.1-0.5 4.3-1.4l4.9 4.8c0.2 0.2 0.4 0.3 0.6 0.3 0.2 0 0.5-0.1 0.6-0.3C18.1 17.4 18.1 16.8 17.7 16.5zM1.8 7.2c0-3 2.4-5.4 5.4-5.4 3 0 5.4 2.4 5.4 5.4 0 3-2.4 5.4-5.4 5.4C4.2 12.5 1.8 10.1 1.8 7.2z"></path></svg></a>
	
					<a id="quick_cart" href="https://aeryne.com/cart/" title="View your Cart"><svg xmlns="http://www.w3.org/2000/svg" id="cart-icon" version="1.1" x="0" y="0" width="19" height="18" viewBox="0 0 19 18" enable-background="new 0 0 19 18.006" xml:space="preserve"><path class="handle icon-fill" d="M6.5 5.3C6.5 2.9 6.9 1.8 9.5 1.8c2.6 0 3 1.2 3 3.6v0.4h1.9V5.3C14.4 1.9 13.2 0 9.5 0 5.8 0 4.6 1.9 4.6 5.3v0.4h1.9V5.3z"></path><path class="icon-fill" fill-rule="evenodd" clip-rule="evenodd" d="M17 0H2c-1.4 0-2 0.8-2 2.1v13.4c0 1.3 1.2 2.4 2.6 2.4H16.4c1.4 0 2.6-1.1 2.6-2.4V2.1C19 0.8 18.4 0 17 0z"></path></svg>			<span class="float_count" id="float_count">0</span>
		</a>
	
        <div class="currency-switcher">
			<form action="" method="post" id="alg_currency_selector"><select name="alg_currency" id="alg_currency_select" class="alg_currency_select select2-hidden-accessible" onchange="this.form.submit()" tabindex="-1" aria-hidden="true"><option id="alg_currency_EUR" value="EUR" selected="selected">Euro</option><option id="alg_currency_SEK" value="SEK">Swedish krona</option><option id="alg_currency_NOK" value="NOK">Norwegian krone</option></select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 123px;"><span class="selection"><span class="select2-selection select2-selection--single" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-alg_currency_select-container" role="combobox"><span class="select2-selection__rendered" id="select2-alg_currency_select-container" role="textbox" aria-readonly="true" title="Euro">Euro</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span></form>        </div>
	</div>
</header>		<!-- End Header -->
						<div role="main">
<section class="content404">
	<div class="row">
		<div class="small-12 medium-10 medium-centered large-7 columns text-center">
			<img src="https://aeryne.com/wp-content/themes/north-wp/assets/img/404.png" alt="Error 404" class="animation fade-in animate">
			<h3 class="animation fade-in animate">WE COULDN'T FIND THE PAGE<br> YOU ARE LOOKING FOR.</h3>
		</div>
  </div>
</section>
		</div><!-- End role["main"] -->
		
					<!-- Start Footer -->
			<footer id="footer" role="contentinfo" class="style2">
	<div class="footer_inner row expanded align-middle">
		<div class="small-12 columns footer-menu">
												  <ul id="menu-footer-menu-1" class="sf-menu"><li id="menu-item-79171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79171"><a href="https://aeryne.com/size-guide/">Size Guide</a></li>
<li id="menu-item-64501" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64501"><a href="https://aeryne.com/info/">Shipping &amp; Returns</a></li>
<li id="menu-item-77381" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77381"><a href="https://aeryne.com/instagram-feed/">Instagram</a></li>
<li id="menu-item-76385" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76385"><a href="https://aeryne.com/about/">About</a></li>
<li id="menu-item-76386" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76386"><a href="https://aeryne.com/my-account/">My Account</a></li>
<li id="menu-item-11470" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11470"><a href="https://aeryne.com/contact-info/">Contact</a></li>
<li id="menu-item-92334" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-92334"><a href="https://aeryne.com/careers/">Careers</a></li>
</ul>						<p>© Aéryne 2018 </p>
			<div class="social-links">
																</div>
		</div>
	</div>
</footer>			<!-- End Footer -->
			
	</section>