<section class="home">
													<div class="messageBox error">Seite nicht gefunden</div>
													<h2 style="clear:right;">
	Startseite
        </h2>
    <section id="teaser">
        <header><h3>ZENSUR IM INTERNET</h3></header>
        <div style="text-align: justify;">
            Die Internetanbieter <b>Vodafone</b> und <b>UPC Austria</b> zensieren euren Internetzugang und blockieren Websiten wie <b>BS.to</b>.<br>
            Betroffene können Burning Series über unsere alternative Domain <a href="https://burningseries.co/"><b style="color:#ed00b1;">burningseries.co</b></a> erreichen.<br><br>
            Um sich vor der Zensur zu schützen, empfehlen wir eure DNS Server auf die von Google <b>8.8.8.8</b> und <b>8.8.4.4</b> oder Cloudflare <a href="https://1.1.1.1/" target="_blank"><b>1.1.1.1</b></a> und <b>1.0.0.1</b> umzustellen.
            <a href="https://developers.cloudflare.com/1.1.1.1/setting-up-1.1.1.1/" target="_blank"><u>Diese Anleitung</u></a> zeigt euch wie einfach das geht. <a href="https://play.google.com/store/apps/details?id=com.cloudflare.onedotonedotonedotone" target="android"><u>Android</u></a> und <a href="https://itunes.apple.com/us/app/1-1-1-1-faster-internet/id1423538627" target="ios"><u>iOS</u></a> Benutzer können die 
            <a href="https://one.one.one.one/" target="cloudflare"><b>Cloudflare App</b></a> für unzensiertes und schnelleres Internet kostenfrei benutzen.
        </div>
    </section>
    <section id="teaser">
        <header><h3>Burning Series - Die Simpsons und viele Serien online sehen</h3></header>
        <div>
            <p>Auf Burning Series kannst du die <strong><a href="serie/Die-Simpsons/1">Simpsons</a></strong>
                und zahlreiche weitere Serien <strong>kostenlos online sehen</strong>!
                Wir bieten dir mehr als <strong><a href="andere-serien">4000 verschiedene Serien</a></strong> an,
                darunter auch <em><a href="serie/How-I-Met-Your-Mother/1">How I Met Your Mother</a></em>, 
                <em><a href="serie/The-Big-Bang-Theory">The Big Bang Theory</a></em> 
                und <em><a href="serie/Two-and-a-Half-Men/1">Two and a Half Men</a></em>.
        </p></div>
    </section>
<div id="column1" class="column">
            <section id="newest_episodes">
	<header>
		<h3>Neueste Episoden</h3>
	</header>
	<div>
					<ul>
									<li>
						<a href="serie/ID-Invaded-ID-Invaded/1/4-Episode-4/des" title="ID: Invaded | ID Invaded: Episode 4" class="title">ID: Invaded | ID Invaded</a>
												<div class="info">S01 E04<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Supernatural/15/9-The-Trap/des" title="Supernatural: The Trap" class="title">Supernatural</a>
												<div class="info">S15 E09<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Doctor-Who/12/4-Nikola-Tesla-s-Night-of-Terror/en" title="Doctor Who: Nikola Tesla's Night of Terror" class="title">Doctor Who</a>
												<div class="info">S12 E04<i class="flag flag-en" title="English"></i></div>
					</li>
									<li>
						<a href="serie/The-Passage/1/5-Der-Schrei/de" title="The Passage:  Der Schrei" class="title">The Passage</a>
												<div class="info">S01 E05<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/Boruto-Naruto-Next-Generations/1/140-The-Mind-Jutsu-that-Lost-to-Potato-Chips/des" title="Boruto: Naruto Next Generations: The Mind Jutsu that Lost to Potato Chips" class="title">Boruto: Naruto Next Generations</a>
												<div class="info">S01 E140<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Harley-Quinn/1/7-The-Line/en" title="Harley Quinn: The Line" class="title">Harley Quinn</a>
												<div class="info">S01 E07<i class="flag flag-en" title="English"></i></div>
					</li>
									<li>
						<a href="serie/The-L-Word-Generation-Q/1/7-Lose-it-All/en" title="The L Word: Generation Q: Lose it All" class="title">The L Word: Generation Q</a>
												<div class="info">S01 E07<i class="flag flag-en" title="English"></i></div>
					</li>
									<li>
						<a href="serie/Shameless/10/11-Location-Location-Location/en" title="Shameless - Nicht ganz nüchtern: Location, Location, Location" class="title">Shameless - Nicht ganz nüchtern</a>
												<div class="info">S10 E11<i class="flag flag-en" title="English"></i></div>
					</li>
									<li>
						<a href="serie/Ray-Donovan/7/10-You-ll-Never-Walk-Alone/en" title="Ray Donovan: You'll Never Walk Alone" class="title">Ray Donovan</a>
												<div class="info">S07 E10<i class="flag flag-en" title="English"></i></div>
					</li>
									<li>
						<a href="serie/Power/6/13-It-s-All-Your-Fault/en" title="Power: It's All Your Fault" class="title">Power</a>
												<div class="info">S06 E13<i class="flag flag-en" title="English"></i></div>
					</li>
									<li>
						<a href="serie/InuYasha/2/3-Jinenji-der-sanfte-Riese/de" title="InuYasha: Jinenji, der sanfte Riese " class="title">InuYasha</a>
												<div class="info">S02 E03<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/One-Piece/20/29-It-s-On-The-Special-Operation-to-Bring-Down-Kaido-Episode-918/des" title="One Piece: It's On! The Special Operation to Bring Down Kaido! |Episode 918|" class="title">One Piece</a>
												<div class="info">S20 E29<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Boku-no-Tonari-ni-Ankoku-Hakaishin-ga-Imasu/1/2-Eyes-On-Me/des" title="Boku no Tonari ni Ankoku Hakaishin ga Imasu.: Eyes On Me" class="title">Boku no Tonari ni Ankoku Hakaishin ga Imasu.</a>
												<div class="info">S01 E02<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Ishuzoku-Reviewers-Interspecies-Reviewers/1/2-Fairies-Have-Limits-on-What-They-Can-Take/des" title="Ishuzoku Reviewers | Interspecies Reviewers: Fairies Have Limits on What They Can Take" class="title">Ishuzoku Reviewers | Interspecies Reviewers</a>
												<div class="info">S01 E02<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Fate-Grand-Order-Zettai-Majuu-Sensen-Babylonia/1/14-Decisive-Battle/des" title="Fate/Grand Order: Zettai Majuu Sensen Babylonia: Decisive Battle" class="title">Fate/Grand Order: Zettai Majuu Sensen Babylonia</a>
												<div class="info">S01 E14<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Magia-Record-Mahou-Shoujo-Madoka-Magica-Gaiden/1/3-Sorry-For-Making-You-My-Friend/des" title="Magia Record: Mahou Shoujo Madoka Magica Gaiden: Sorry For Making You My Friend" class="title">Magia Record: Mahou Shoujo Madoka Magica Gaiden</a>
												<div class="info">S01 E03<i class="flag flag-des" title="Deutsch Sub"></i></div>
					</li>
									<li>
						<a href="serie/Legacies/1/9-Warum-war-Hope-in-deinen-Traeumen/de" title="Legacies:  Warum war Hope in deinen Träumen?" class="title">Legacies</a>
												<div class="info">S01 E09<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/Get-Shorty/3/3-Saubere-Sache/de" title="Get Shorty:  Saubere Sache" class="title">Get Shorty</a>
												<div class="info">S03 E03<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/He-Man-and-the-Masters-of-the-Universe/1/1-Der-kosmische-Komet/de" title="He-Man and the Masters of the Universe: Der kosmische Komet" class="title">He-Man and the Masters of the Universe</a>
												<div class="info">S01 E01<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
									<li>
						<a href="serie/The-Good-Doctor/1/1-Ein-aussergewoehnliches-Talent/de" title="The Good Doctor: Ein außergewöhnliches Talent" class="title">The Good Doctor</a>
												<div class="info">S01 E01<i class="flag flag-de" title="Deutsch"></i></div>
					</li>
							</ul>
			</div>
</section>            <section id="newest_series">
    <header>
        <h3>Neueste Serien</h3>
    </header>
    <div>
        <ul>
            				<li><a href="serie/The-New-Pope">The New Pope</a></li>
            				<li><a href="serie/Kyokou-Suiri-In-Spectre">Kyokou Suiri | In/Spectre</a></li>
            				<li><a href="serie/Boku-no-Tonari-ni-Ankoku-Hakaishin-ga-Imasu">Boku no Tonari ni Ankoku Hakaishin ga Imasu.</a></li>
            				<li><a href="serie/22-7">22/7</a></li>
            				<li><a href="serie/Ishuzoku-Reviewers-Interspecies-Reviewers">Ishuzoku Reviewers | Interspecies Reviewers</a></li>
            				<li><a href="serie/Oda-Shinamon-Nobunaga">Oda Shinamon Nobunaga</a></li>
            				<li><a href="serie/Jibaku-Shounen-Hanako-kun-Toilet-Bound-Hanako-kun">Jibaku Shounen Hanako-kun | Toilet-Bound Hanako-kun</a></li>
            				<li><a href="serie/Runway-de-Waratte-Smile-Down-the-Runway">Runway de Waratte | Smile Down the Runway</a></li>
            				<li><a href="serie/Re-ZERO-Starting-Life-in-Another-World-Director-s-Cut">Re:ZERO - Starting Life in Another World: Director's Cut</a></li>
            				<li><a href="serie/Housekishou-Richard-shi-no-Nazo-Kantei-The-Case-Files-of">Housekishou Richard-shi no Nazo Kantei | The Case Files of</a></li>
                    </ul>
    </div>
</section>    </div>
<div id="column2" class="column">
            <section id="news">
    <header>
        <h3>News</h3>
        <span></span>
    </header>
    <div>
                    <div class="lSSlideOuter "><div class="lSSlideWrapper usingCss"><ul class="lightSlider lsGrab" style="width: 3888px; transform: translate3d(-432px, 0px, 0px); height: 155px; padding-bottom: 0%;"><li class="clone left" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/450">
                                                                Umgangston in der Shoutbox
                            </a>
                            <time>25/08/2015</time>
                                                    </div>
                        <div class="content">Leider mussten wir feststellen, dass der Umgangston in der Shoutbox immer unannehmbarere Formen annimmt.<br>
<br>
Wir wollen ein angenehmes Miteinander haben und auch über verschiedenste Themen reden. Dafür ist es aber nötig, dass wir untereinander höflich und freundlich agieren und reagieren. Desweiteren ist das Wort eines Teammitglieds in der Shoutbox Gesetz und da ist es völlig egal, ob ein CMod oder ein Admin etwas sagt. Die Gewichtung ist die gleiche!<br>
<br>
Wir werden in Zukunft härter durchgreifen, wenn uns Verfehlungen auffallen.</div>
                    </li>
                                    <li class="lslide active" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/1505">
                                                                Frohes Neues Jahr
                            </a>
                            <time>01/01/2020</time>
                                                    </div>
                        <div class="content">!!! Das BS- Team wünscht allen Usern ein glückliches und vor allem gesundes neues Jahr 2020 !!!!</div>
                    </li>
                                    <li class="lslide" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/1500">
                                                                HD und zwei neue Hoster
                            </a>
                            <time>13/10/2019</time>
                                                    </div>
                        <div class="content">Wir haben uns dazu entschlossen uns von SD zu verabschieden und verlinken nun ausschließlich HD Videos auf allen Hostern.<br>
<br>
Zudem haben wir mit GoUnlimited und Jetload zwei neue Hoster.</div>
                    </li>
                                    <li class="lslide" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/1494">
                                                                Alternative Adresse
                            </a>
                            <time>01/04/2019</time>
                                                    </div>
                        <div class="content"><b>Vodafone</b> und <b>UPC</b> Kunden können Burning Series wieder über unsere neue alternative Domain <a href="https://burningseries.co" target="_blank"><b>burningseries.co</b></a> erreichen. Bitte beachtet: die einzigen offiziellen Domains sind bs.to und burningseries.co. Bei anderen Adressen handelt es sich um Fake Seiten.</div>
                    </li>
                                    <li class="lslide" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/1484">
                                                                Internetsperre
                            </a>
                            <time>18/12/2018</time>
                                                    </div>
                        <div class="content"><p>Einige Internetanbieter, wie <strong>Vodafone</strong>, <em>sperren den Zugriff auf Burning Series</em> und <strong>zensieren</strong> damit euren Internetzugang. Daher empfehlen wir Euch, eure DNS Nameserver auf die IP Adressen von Google <strong>8.8.8.8</strong> und <strong>8.8.4.4</strong> umzustellen.</p><br>
<p>Wie genau das geht, zeigt euch <a href="http://techmixx.de/windows-10-dns-server-aendern-fuer-schnellere-verbindungen/" target="dns"><em>diese Anleitung - klicke <u>hier</u></em></a>.</p></div>
                    </li>
                                    <li class="lslide" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/1128">
                                                                Ladeprobleme? 
                            </a>
                            <time>07/01/2018</time>
                                                    </div>
                        <div class="content">Wir haben es schon mehrfach erklärt, diverse Hoster können an Feiertagen u. Wochenende aufgrund der erhöhten Nachfrage Probleme beim laden aufweisen.<br>
Bitte meldet in diesem Fall nicht die Videos defekt und wartet einfach etwas ab. Danke </div>
                    </li>
                                    <li class="lslide" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/499">
                                                                Achtung User! 
                            </a>
                            <time>31/07/2016</time>
                                                    </div>
                        <div class="content">Momentan sind diverse Fake-Seiten im Umlauf, die sich als BS ausgeben.<br>
<br>
Diese wollen euch weismachen, dass ihr eine bestimmte Software herunterladen oder etwas bezahlen müsst, um eure Serien zu schauen. <br>
Ihr werdet nie eine Software brauchen oder gar Geld bezahlen müssen, um bei bs.to Serien zu schauen!</div>
                    </li>
                                    <li class="lslide" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/450">
                                                                Umgangston in der Shoutbox
                            </a>
                            <time>25/08/2015</time>
                                                    </div>
                        <div class="content">Leider mussten wir feststellen, dass der Umgangston in der Shoutbox immer unannehmbarere Formen annimmt.<br>
<br>
Wir wollen ein angenehmes Miteinander haben und auch über verschiedenste Themen reden. Dafür ist es aber nötig, dass wir untereinander höflich und freundlich agieren und reagieren. Desweiteren ist das Wort eines Teammitglieds in der Shoutbox Gesetz und da ist es völlig egal, ob ein CMod oder ein Admin etwas sagt. Die Gewichtung ist die gleiche!<br>
<br>
Wir werden in Zukunft härter durchgreifen, wenn uns Verfehlungen auffallen.</div>
                    </li>
                            <li class="clone right" style="width: 432px; margin-right: 0px;">
                        <div class="header">
                            <a href="news/1505">
                                                                Frohes Neues Jahr
                            </a>
                            <time>01/01/2020</time>
                                                    </div>
                        <div class="content">!!! Das BS- Team wünscht allen Usern ein glückliches und vor allem gesundes neues Jahr 2020 !!!!</div>
                    </li></ul></div><ul class="lSPager lSpg" style="margin-top: 5px;"><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li><a href="#">6</a></li><li><a href="#">7</a></li></ul></div>
            </div>
</section>
<link href="/public/slider.css" rel="stylesheet">
<script src="/public/scripts/slider.js"></script>
<script>
    $(document).ready (function () {
        $('section#news ul').lightSlider ({
            adaptiveHeight: true,
            pauseOnHover: true,
            controls: false,
            loop: true,
            auto: true,
            item: 1,
            pause: 20000,
            slideMargin: 0
        });
    });
</script>            <section id="shoutbox">
    <header>
        <h3>Chat</h3>
    </header>
    <div>
        <dl id="sbPosts">
                            <dt data-id="3559625" data-user="Ione_15">
                    <a href="user/Ione_15"><i class="rank user"></i>Ione_15</a>
                    <time>00:44:26</time>
                                    </dt>
                <dd data-id="3559625" data-user="Ione_15">
                    aber das scenario war nett
                </dd>
                            <dt data-id="3559624" data-user="Ione_15">
                    <a href="user/Ione_15"><i class="rank user"></i>Ione_15</a>
                    <time>00:44:18</time>
                                    </dt>
                <dd data-id="3559624" data-user="Ione_15">
                    naja zwischen durch war darling höcstens gut um nebenbei beim spielen angeschaut zu werden
                </dd>
                            <dt data-id="3559623" data-user="heidjerbua">
                    <a href="user/heidjerbua"><i class="rank user"></i>heidjerbua</a>
                    <time>00:44:02</time>
                                    </dt>
                <dd data-id="3559623" data-user="heidjerbua">
                    <a href="https://bs.to/serie/Appleseed-XIII" target="_blank">bs.to/serie/Appleseed-XIII</a>
                </dd>
                            <dt data-id="3559622" data-user="illmaren">
                    <a href="user/illmaren"><i class="rank user"></i>illmaren</a>
                    <time>00:43:33</time>
                                    </dt>
                <dd data-id="3559622" data-user="illmaren">
                    FMP ist blöd...soviel ungenutztes potenzial
                </dd>
                            <dt data-id="3559621" data-user="heidjerbua">
                    <a href="user/heidjerbua"><i class="rank user"></i>heidjerbua</a>
                    <time>00:42:36</time>
                                    </dt>
                <dd data-id="3559621" data-user="heidjerbua">
                    <a href="https://bs.to/serie/Full-Metal-Panic" target="_blank">bs.to/serie/Full-Metal-Panic</a>
                </dd>
                            <dt data-id="3559620" data-user="Fl0ri4n">
                    <a href="user/Fl0ri4n"><i class="rank user"></i>Fl0ri4n</a>
                    <time>00:42:36</time>
                                    </dt>
                <dd data-id="3559620" data-user="Fl0ri4n">
                    das war langweiliger teenie drama, durchlöchert mit plot holes, einer vorgeschichte die keinen sinn ergibt und einer der schlechtestens MCs aller zeiten
                </dd>
                            <dt data-id="3559619" data-user="Wildie">
                    <a href="user/Wildie"><i class="rank user"></i>Wildie</a>
                    <time>00:41:52</time>
                                    </dt>
                <dd data-id="3559619" data-user="Wildie">
                    :'0 Terra Formars tut pompös sein! Die 2. Staffel tut zwar klamaukiger sein als die erste, aber Wildie dürstet auf die Fortsetzung.
                </dd>
                            <dt data-id="3559618" data-user="heidjerbua">
                    <a href="user/heidjerbua"><i class="rank user"></i>heidjerbua</a>
                    <time>00:41:16</time>
                                    </dt>
                <dd data-id="3559618" data-user="heidjerbua">
                    <a href="https://bs.to/serie/Guilty-Crown" target="_blank">bs.to/serie/Guilty-Crown</a>
                </dd>
                            <dt data-id="3559617" data-user="Ione_15">
                    <a href="user/Ione_15"><i class="rank user"></i>Ione_15</a>
                    <time>00:40:18</time>
                                    </dt>
                <dd data-id="3559617" data-user="Ione_15">
                    Also ich fands ganz nett
                </dd>
                            <dt data-id="3559616" data-user="Fl0ri4n">
                    <a href="user/Fl0ri4n"><i class="rank user"></i>Fl0ri4n</a>
                    <time>00:39:46</time>
                                    </dt>
                <dd data-id="3559616" data-user="Fl0ri4n">
                    ähnlich zu darling in the franxx, also auch scheiße?
                </dd>
                            <dt data-id="3559615" data-user="heidjerbua">
                    <a href="user/heidjerbua"><i class="rank user"></i>heidjerbua</a>
                    <time>00:39:33</time>
                                    </dt>
                <dd data-id="3559615" data-user="heidjerbua">
                    <a href="https://bs.to/serie/Terra-Formars" target="_blank">bs.to/serie/Terra-Formars</a>
                </dd>
                            <dt data-id="3559614" data-user="Ione_15">
                    <a href="user/Ione_15"><i class="rank user"></i>Ione_15</a>
                    <time>00:37:46</time>
                                    </dt>
                <dd data-id="3559614" data-user="Ione_15">
                    date a live kenn ich <img src="/public/images/emojis/grinning.png" alt=":D" title=":D" class="sb_smiley">
                </dd>
                            <dt data-id="3559613" data-user="heidjerbua">
                    <a href="user/heidjerbua"><i class="rank user"></i>heidjerbua</a>
                    <time>00:37:30</time>
                                    </dt>
                <dd data-id="3559613" data-user="heidjerbua">
                    <a href="https://bs.to/serie/Date-A-Live" target="_blank">bs.to/serie/Date-A-Live</a>
                </dd>
                            <dt data-id="3559612" data-user="Ione_15">
                    <a href="user/Ione_15"><i class="rank user"></i>Ione_15</a>
                    <time>00:37:21</time>
                                    </dt>
                <dd data-id="3559612" data-user="Ione_15">
                    danke
                </dd>
                            <dt data-id="3559611" data-user="heidjerbua">
                    <a href="user/heidjerbua"><i class="rank user"></i>heidjerbua</a>
                    <time>00:36:49</time>
                                    </dt>
                <dd data-id="3559611" data-user="heidjerbua">
                    <a href="https://bs.to/serie/Neon-Genesis-Evangelion" target="_blank">bs.to/serie/Neon-Genesis-Evangelion</a>
                </dd>
                            <dt data-id="3559610" data-user="Ione_15">
                    <a href="user/Ione_15"><i class="rank user"></i>Ione_15</a>
                    <time>00:35:27</time>
                                    </dt>
                <dd data-id="3559610" data-user="Ione_15">
                    ja weil sonst fällt mir außer irc nichts ein
                </dd>
                            <dt data-id="3559609" data-user="Ione_15">
                    <a href="user/Ione_15"><i class="rank user"></i>Ione_15</a>
                    <time>00:35:15</time>
                                    </dt>
                <dd data-id="3559609" data-user="Ione_15">
                    und by the way: kennt wer einen guten anime der ähnlich zu darling in the franxx ist ?
                </dd>
                            <dt data-id="3559608" data-user="MrMeeseeks">
                    <a href="user/MrMeeseeks"><i class="rank user"></i>MrMeeseeks</a>
                    <time>00:34:46</time>
                                    </dt>
                <dd data-id="3559608" data-user="MrMeeseeks">
                    Und du fragst dann auf einer Serienseite nach? mhm läuft bei dir <img src="/public/images/emojis/grinning.png" alt=":D" title=":D" class="sb_smiley">
                </dd>
                            <dt data-id="3559607" data-user="Ione_15">
                    <a href="user/Ione_15"><i class="rank user"></i>Ione_15</a>
                    <time>00:34:15</time>
                                    </dt>
                <dd data-id="3559607" data-user="Ione_15">
                    oder wird das hier via variabel gemacht?
                </dd>
                            <dt data-id="3559606" data-user="Ione_15">
                    <a href="user/Ione_15"><i class="rank user"></i>Ione_15</a>
                    <time>00:34:00</time>
                                    </dt>
                <dd data-id="3559606" data-user="Ione_15">
                    einen chat auf einer php oder html seite
                </dd>
                            <dt data-id="3559605" data-user="MrMeeseeks">
                    <a href="user/MrMeeseeks"><i class="rank user"></i>MrMeeseeks</a>
                    <time>00:33:23</time>
                                    </dt>
                <dd data-id="3559605" data-user="MrMeeseeks">
                    Was möchtest du selber machen? ^^
                </dd>
                            <dt data-id="3559604" data-user="Ione_15">
                    <a href="user/Ione_15"><i class="rank user"></i>Ione_15</a>
                    <time>00:32:47</time>
                                    </dt>
                <dd data-id="3559604" data-user="Ione_15">
                    weil ich sowas selbst machen will
                </dd>
                            <dt data-id="3559603" data-user="MrMeeseeks">
                    <a href="user/MrMeeseeks"><i class="rank user"></i>MrMeeseeks</a>
                    <time>00:32:01</time>
                                    </dt>
                <dd data-id="3559603" data-user="MrMeeseeks">
                    Warum fragt man sowas ^^'?
                </dd>
                            <dt data-id="3559602" data-user="Ione_15">
                    <a href="user/Ione_15"><i class="rank user"></i>Ione_15</a>
                    <time>00:25:15</time>
                                    </dt>
                <dd data-id="3559602" data-user="Ione_15">
                    (jitsi)
                </dd>
                            <dt data-id="3559601" data-user="Ione_15">
                    <a href="user/Ione_15"><i class="rank user"></i>Ione_15</a>
                    <time>00:24:57</time>
                                    </dt>
                <dd data-id="3559601" data-user="Ione_15">
                    was wird hier für ein chat verwendet? also was für eine software der chat verwendet. yitsi?
                </dd>
                    </dl>
            </div>
</section>    </div>
<div class="clearfix"></div>
<script>home.init ();</script>							</section>