<article class="page-content entry-content">
	<p><em>Date of Last Revision: October 28, 2019. Please check back regularly to keep informed of updates to this policy.</em></p>
<p>This privacy policy outlines the personal information about you that Fandom, Inc. (<strong>“Fandom,”</strong> “<b>we</b>“, “<b>us</b>“, “<b>our</b>“) collects, uses and stores via our sites at fandom.com, wikia.com and wikia.org (including all subdomains) and our mobile apps under the Fandom brand (collectively, our “<b>Website</b>“).</p>
<p>Specifically, this privacy policy provides you with details about the personal information we collect from you, how we use your personal information, and your rights regarding the personal information we hold about you.</p>
<p>Please read this privacy policy carefully – by accessing or browsing the Website or by signing up as a user, you confirm that you have read and understood this privacy policy in its entirety.</p>
<p>Please be aware that when you follow a link to another site, this privacy policy does not apply, and we have no control over what information they collect from you.</p>
<p>This privacy policy implements the requirements of the General Data Protection Regulation (“GDPR”), a data protection law that applies where we process personal information of anyone located in the European Economic Area (“EEA”). We have added sections at the end of this privacy policy which apply solely to EEA residents.</p>
<h2>Overview</h2>
<p>We respect your right to privacy. Our overall aim is to ensure that our collection and use of personal information is appropriate to the provision of the Website for our users, and is in accordance with applicable data protection laws.</p>
<h5>Further details of how we do so are set out in each section of our privacy policy, as follows</h5>
<ul>
<li>Who we are</li>
<li>Children</li>
<li>The personal information that we collect about you and how we use it</li>
<li>Cookies and third parties with whom we shared your personal information</li>
<li>Opting out of personalized website ads</li>
<li>Anonymous Data</li>
<li>Security</li>
<li>Data retention</li>
<li>Third party sites</li>
</ul>
<h5>Additional provisions of this Privacy Policy that are applicable to EEA residents</h5>
<ul>
<li>What is our justification for handling your personal data</li>
<li>Rights of EEA residents</li>
<li>International Transfers</li>
<li>Complaints, Questions and Comments</li>
</ul>
<h2>Who we are</h2>
<p>Fandom, Inc. is a company registered in the State of Delaware, U.S.A. (corporate number C2935209), whose registered office is at 130 Sutter Street, 4th Floor, San Francisco, CA 94104 and we are the data controller of the personal information that we collect from you as described in this privacy policy.</p>
<p>We respect your right to privacy and will only process personal information you provide to us in accordance with applicable data protection laws.</p>
<h2>Children</h2>
<p>We collect personal information, as detailed below under the “The personal information we collect about you” section, from any unsupervised child who uses our Website.</p>
<p>If you are under the age of 16 (applicable to users located in the EEA excluding the U.K.) or 13 (applicable to users located in the rest of the world including the U.K.), you may not use the Website unless your parent or an authorized individual with parental responsibility has provided us with their consent for your use of our Website.</p>
<h2>The personal information that we collect about you and how we use it</h2>
<p>1. <u>Registered Users</u></p>
<p>Registration on our Website (i.e., signing up for a Fandom account) is not required in order to access information on our Website. Registration is only required for the following purposes:</p>
<ol>
<li>to create a new Fandom community;</li>
<li>to make a contribution of content to certain Fandom communities (i.e., those which do not allow for anonymous contributions);</li>
<li>to hold a management or administrative position within a Fandom community (such persons monitor the content on their applicable communities and, for example, can reject content submitted by others);</li>
<li>to submit discussions (e.g., a comment on an article or video posted on a Fandom community) or to submit content to a chat forum; or</li>
<li>to view content on the Fandom mobile application.</li>
</ol>
<p>If you decide to register, we will require: your unique chosen username, a valid email address, password, and date of birth. You may optionally provide us with the following additional personal information: your first name, last name, your gender, and your interests and hobbies. We call all of this information “<b>Registration Data</b>“.</p>
<p>2. <u>All Website Visitors (including both registered and unregistered users)</u></p>
<p>We recognize that most of our Website users are not registered users. In such cases, we will collect the information you provide when you modify the content of a page on the Website (such as making edits, uploading images, etc.). An indicator that you provided that information is left on the history tab associated with the edited page or appropriate special/image page; on the recent changes link&nbsp;and in your user contributions.</p>
<p>Also, if you send a communication to us, we may keep a copy of that communication so that we can respond appropriately.</p>
<p>Aside from information that you provide us directly, we also collect the following information from your computer or device when you use our Website: IP address, the length of time of your visit, your browser type, that browser’s language setting and the your computer’s operating system. We also collect anonymous data regarding the pages of the Website that a user visits and search requests that the user submits. We call this information “<b>Beacon Data</b>“.</p>
<p>We use both Registration Data and Beacon Data to improve your experience with the Website, by understanding how our users like to use our Website, and what interests they may have based on the information we have collected about you. The Registration Data and Beacon Data are also used to select advertisements or content to provide to you.</p>
<h2>Cookies and third parties with whom we share your personal information</h2>
<p>Our Website also uses cookies to collect information about you and to distinguish you from other users of our Website. Cookies are small text files which are placed on your browser by our Website. When you visit our Website, the cookies allow our Website to recognize you and your browser and allow your use of the website and its functionalities to be tracked. This information can be used for a number of purposes, including serving you with advertising that is more aligned to you and your interests.</p>
<p>Cookies are useful because they help us make your Website experience more enjoyable. They help us to monitor the way in which our Website is used and allow us to recognize<br>
your device (for example, your laptop or mobile device) so that we can tailor your experience of our Website. We do not use cookie technology to collect personal information about you. You can find out more about cookies at www.allaboutcookies.org.</p>
<p>Most web browsers allow you to disable cookies, and you are welcome to continue to use the Website if you choose to do so. However, some of the Website’s features may not function properly if cookies are disabled.</p>
<p>Our Website works with third parties, including advertising companies and website analysis firms, who use cookies to collect information when you visit our Website and third party sites about your browsing activities, such as IP address and user search history data. This information, collected through cookies, is typically used by these third party advertising networks to serve you with advertisements tailored to meet your preferences and likely interests. Some of our third party suppliers, including advertising and website analysis firms, can also use mobile identifiers to collect information and provide behavioral advertising through your mobile devices and use of our mobile apps.</p>
<p>In general, we use two types of cookies on our website:</p>
<p>“<b>Non-Marketing Cookies</b>” – i.e., cookies that are used for Website traffic analysis and verification purposes. Examples of these types of cookies which gather information about our users are as follows:</p>
<ul>
<li>Google Analytics, which uses cookies to aid us in traffic analysis and informing improvements to the site;</li>
<li>Quantcast, which collects information about the number visitors to our Website and extrapolates market research from that data; and</li>
<li>comScore, which works in a similar way to Quantcast.</li>
</ul>
<p>“<b>Marketing Cookies</b>” – i.e., cookies that are used to market to you or provide personalized ads to you. Examples of these types of cookies which gather information about our users are as follows:</p>
<ul>
<li>Supply Side Platforms (also known as SSPs) such as Google’s ADX, which uses cookies to collect information about your browsing history to target advertising;</li>
<li>The Salesforce Data Management Platform (“DMP”) platform (formerly known as Krux). Salesforce DMP uses a number of technologies, including cookies, to collect non-personal information based on its analysis of your interaction with our Website. In particular, Salesforce DMP segments our user data into specific categories – such as comedy fans, gaming fans, Star Wars fans, Batman fans, etc. (all of this data segmentation is anonymous).</li>
</ul>
<p>Also, on the Fandom mobile app the user is asked to indicate the communities it is particularly interested in (e.g., Star Wars, Batman, etc) and that information is also used for such segmentation purposes.</p>
<p>You can find out more about how the Salesforce DMP platform collects and uses this non-personal information by clicking the “Salesforce DMP Privacy” link on the salesforce.com website. Salesforce is an NAI member and, as stated below, you may use the NAI opt-out tool to cease our use of the Krux data for the purpose of sending you personalized advertisements.</p>
<h2>Opting out of personalized website ads</h2>
<p>You can opt-out of receiving personalized website ads from advertisers and ad networks that are members of the Network Advertising Initiative (“NAI”) or who follow the DAA Self-Regulatory Principles for Online Behavioral Advertising using their respective opt-out tools. The NAI’s opt-out tool can be found <a href="https://www.networkadvertising.org/choices/">here</a>, and the DAA’s opt out tool can be found <a href="http://optout.aboutads.info/?c=2&amp;lang=EN">here</a>.</p>
<p>To opt out of tracking and receiving targeted ads in our mobile apps based on your behavior, you can use the instructions below, which apply to iOS and Android devices:</p>
<p>For iOS 7 and higher: Go to your Settings &gt; Select Privacy &gt; Select Advertising &gt; Enable the “Limit Ad Tracking” setting.</p>
<p>For most Android devices with OS 2.2 or higher and Google Play Services version 4.0 or higher: Open your Google Settings app &gt; Ads &gt; Enable “Opt out of interest-based advertising”. Some Android phones may have Google Settings in other settings locations.</p>
<p>Note that opting-out may not stop information from being collected on the web and will not stop your receiving advertising. However, if you opt-out, the applicable advertiser will not use any information collected from our applicable Website or mobile app for the purpose of displaying personalized ads.</p>
<h2>Anonymous data</h2>
<p>We also collect anonymized details about visitors to our website for the purposes of aggregate statistics or reporting purposes. However, no single individual will be identifiable from the anonymized details we collect for these purposes.</p>
<h2>Security</h2>
<p>While we take appropriate technical and organizational measures to safeguard the personal information that you provide to us, no transmission over the Internet can ever be guaranteed secure. Consequently, please note that we cannot guarantee the security of any personal information that you transfer over the Internet to us.</p>
<p>Where we have given you, or where you have chosen, a password that enable you to access certain parts of our Website, you are responsible for keeping this confidential. Such passwords should not be shared with anyone.</p>
<h2>Data Retention</h2>
<p>Subject to the rights of users located in the EEA as described below, we will retain information (including personal information) for as long as we need to use it for the reasons set out in this privacy policy and will delete it after that time except where we need to keep any personal information to comply with our legal obligations, resolve disputes, or enforce our agreements.</p>
<p>In some circumstances, we may anonymize your personal data (so that it can no longer be associated with you) for research or statistical purposes in which case we may use this information indefinitely without further notice to you.</p>
<h2>Third Party Websites</h2>
<p>Our Website and/or Apps contain links to other websites operated by third parties. Please note that this privacy policy applies only to the personal information that we collect through our Website and we cannot be responsible for personal information that third parties may collect, store and use through their websites. <b>You should always read the privacy policy of each website you visit carefully</b>.</p>
<h2>ADDITIONAL PROVISIONS OF THIS PRIVACY POLICY THAT ARE APPLICABLE TO EEA RESIDENTS</h2>
<p><b>What is our justification for handling your personal data?</b></p>
<p>Under European data protection laws, we have to ensure that we process your personal information fairly and lawfully. This means that we must have a “legal basis” for each of our processing activities where they relate to the personal data of an individual within the EEA. These bases include:</p>
<ul>
<li><b>Consent</b> – we may decide to obtain your specific, freely given consent to one or more processing activities;</li>
<li><b>Legal obligation</b> – we may need to process your data where it is necessary to comply with applicable laws that we are subject to;</li>
<li><b>Performance of a contract</b> – we may process your data if we are entering into a contract with you, or taking preparatory steps to do so;</li>
<li><b>Legitimate interests</b> – we may process your personal data where we believe that we have a legitimate interest in doing so, and we have analyzed this and determined that our interests are not overridden by the impact on your rights and freedoms under data protection law.</li>
</ul>
<p>We rely on these legal bases in different ways, and in relation to different types of processing of your personal data.</p>
<p><em>Consent</em></p>
<p>We process your personal information collected through the use of Marketing Cookies (as described in the Cookie section above) on the basis of your consent, which we ask for when you first visit our Website. You are entitled to withdraw your consent to our use of these Cookies. The list of partners for which we request consent is located at our <a href="http://fandom.wikia.com/partner-list">Vendor List</a>. In order to withdraw your consent, please visit the “Reset Your Tracking Preferences” button at the bottom of this Privacy Policy.</p>
<p><em>Legitimate Interests</em></p>
<p>We believe that our use of your other personal information described herein is necessary for our legitimate interests, which are as follows:</p>
<ol>
<li>To run, grow and develop our business;</li>
<li>To operate our Website;</li>
<li>For marketing, market research and business development; and</li>
<li>For internal administrative purposes.</li>
</ol>
<p>If we rely on our, or another person’s, legitimate interests for using your personal information, we will undertake a <i>balancing test</i> to ensure that our (or the other person’s) legitimate interests are not outweighed by your interests or fundamental rights and freedoms which require protection. You can ask us for information on this balancing test by using the contact details in the “Complaints, Questions and Comments” section below.</p>
<p>We process your personal information collected through the use of Non-Marketing Cookies (as described in the Cookie section above) on the basis of our legitimate interests. We also rely on legitimate interests to use your personal information in order to provide you with access to our Website, and to make sure that it works properly, and to keep a record of who is accessing and making changes to the different parts of our Website.</p>
<h2>Rights of EEA Residents</h2>
<p>Residents in the EEA have the following rights:</p>
<ol>
<li>The right to ask us to provide you with copies of personal information that we hold about you at any time free of charge, although we may charge a reasonable fee if your request is manifestly unfounded or excessive, or repetitive. Please utilize the form found here when making this request: <a href="https://fandom.zendesk.com/hc/en-us/articles/360021403033-I-want-to-download-a-copy-of-my-data">Download Your Data</a>.</li>
<li>The right to ask us to update or correct any out-of-date or incorrect personal information that we hold about you (in accordance with applicable data protection laws).</li>
<li>The rights to request that we stop using or delete your personal information (in certain circumstances we may not be able to stop using your personal information but if that is the case, we will let you know why). Please utilize the form found here when making this request: <a href="https://fandom.zendesk.com/hc/en-us/articles/360021402973-Please-forget-my-Fandom-account">Right to Be Forgotten</a>.</li>
<li>The right to opt out of any marketing communications that we (or any third party to whom we have disclosed your personal information with your consent) may send you.</li>
</ol>
<p>If you wish to exercise any of the above rights, please use the forms indicated where applicable and email us at support@fandom.com.</p>
<p>We will consider all such requests and provide our response within a reasonable period (and in any event within any time period required by law). Please note, however, that certain personal information may be exempt from such requests in certain circumstances.</p>
<p>If an exception applies, we will tell you this when responding to your request. We may request you provide us with information necessary to confirm your identity before responding to any request you make.</p>
<p>Please also note for security and fraud investigation and prevention purposes, we will retain the full IP address for users located in the EEA for up to 12 months.</p>
<p>In addition, we keep a copy of requests submitted to us to comply with our own legal obligation to maintain data processing records. Please also note that certain information, such as your IP address (if you edit while not logged in) and any public contributions to the Fandom community sites is archived and displayed indefinitely by design; the transparency of each community’s contribution and revision histories is critical to their efficacy and trustworthiness. In addition, the anonymization process cannot ensure complete or comprehensive anonymization of all of the content or information posted on our Website related to your prior username. If your request is granted, the name change will only occur in automatically generated logs (such as page histories) in association with content that you posted. The name change will not delete mentions of your prior username by third parties.</p>
<h2>International Transfers</h2>
<p>Where personal information is held by us, it is held in the U.S.A.</p>
<p>We will also transfer the personal information that we collect about you to third party processors located in countries that are outside the EEA, or to members of our group of companies in connection with the above purposes. If we provide any of your personal information to any such non-EEA suppliers, we will take appropriate measures to ensure that the recipient protects your personal information adequately.</p>
<h2>Complaints, Questions and Comments</h2>
<p>We have a Data Protection Officer to assist with all queries regarding our processing of personal information.</p>
<div style="margin-left: 50px;"><b>Wade Warren, DPO</b><br>
c/o Fandom, Inc.<br>
130 Sutter Street, 4th Floor<br>
San Francisco, CA 94104<br>
<b>Email:</b> DPO@fandom.com<br>
<b>Phone:</b> (415) 980-5647</div>
<p>If you have any complaints about our Website, please contact us at:</p>
<div style="margin-left: 50px;"><b>Address:</b> 130 Sutter Street, 4th Floor, San Francisco, CA 94104<br>
<b>Email:</b> support@fandom.com<br>
<b>Telephone:</b> (415) 762-0780</div>
<p>In the EEA you may also make a complaint to our supervisory body for data protection matters (for example, the Information Commissioner’s Office in the UK) or seek a remedy through local courts if you believe your rights have been breached.</p>


			<button id="privacy-settings-button" class="wds-button tracking-reset">Reset your tracking preferences on fandom.com</button>
<form method="POST" action="https://domain-migration.wikia.org/wiki/Special:ResetTrackingPreferences">
	<input type="hidden" name="returnto" value="https://www.fandom.com/privacy-policy">
	<input type="submit" class="wds-button tracking-reset" value="Reset your tracking preferences on wikia.org">
</form>
	</article>