<body>
	<a href="/ref=cs_404_logo/">
		<img id="b" src="https://m.media-amazon.com/images/G/03/error/amazon-de-logo-WDSHJ.png" alt="Amazon.de">
	</a>
	<form id="a" accept-charset="utf-8" action="/s/ref=404_search" method="GET" role="search">
		<div id="c">
			<input id="e" name="field-keywords" placeholder="Suchen">
      <button type="submit" id="f">
        <img src="https://m.media-amazon.com/images/G/02/error/nav-sprite-search-icon-FDTKS.png">
      </button>
		</div>
	</form>
	<div id="g">
		<div id="o">
			<div id="h">ENTSCHULDIGUNG</div>
			<div id="i">die gewünschte Seite konnte nicht gefunden werden</div> 
			<div id="j">Bitte nutzen Sie die Suchfunktion oder gehen Sie direkt zu <a href="/">Amazon.de</a>.</div>
		</div>
		<a id="l" href="/dogsofamazon" target="_blank">
			<img id="d" alt="Die Hunde bei Amazon" src="https://m.media-amazon.com/images/G/02/error/8.-TTD-c.jpg">
			<div id="n">So hundefreundlich ist Amazon</div>
		</a>
	</div>
	<script>
		document.getElementById("d").src="https://m.media-amazon.com/images/G/02/error/"+(Math.floor(Math.random()*43)+1)+".-TTD-c.jpg";
	</script>


</body>